// Here you can add other styles
body{color:#464646;}
.breadcrumb h6 {color: $ash;margin-bottom: 0;}
.breadcrumb h6 span{color:#2196f3;}
/*Dashboard*/
.dashboard-widget {
 .card-block{
  &.p-1{
   @media(max-width:1100px){
    padding: 5px !important;
   }
  }
 .mt-h {
  margin-top: 14px !important;
  color: $ash;
  @media(max-width:1100px){
    font-size: 14px;
   margin-top: 16px !important;
   }
  }
 }
 .card{
  border: 0px;
  .card-block {
   .fa{
    border-right: 1px solid #ccc;
    color: $ash;
   }
   .p-1 {
    padding: 0.7rem 1rem 0.7rem 0 !important;
    @media(max-width:1100px){
     padding:0.7rem 0.5rem 0.7rem 0 !important;
     font-size: 24px !important;
    }
   }
   span{color:$with-red;font-weight: bold;}
  }
 }
 .tab-content {
  .tab-pane{
   padding: 0;
  }
 }
}
.dashboard-widget .tab-content .tab-pane{padding: 0;}
//forms
.error-message {
 color: #f00;
 font-size: 12px;
}
.forgot-btns{text-align: center;}
.profile-form {
 .form-control-label {
  text-align: right;
  margin-top:6px;
 }
 .radio-inline{margin-top: 6px;}
}
.hint-text{display:block;text-align: center;margin-bottom: 10px; }
.user-profile{
 .card-header{
  background: #f8f8f8;
  strong{font-size: 16px;font-weight: 500;}
 }
}
.basic-form{
 .card-header{background: #f8f8f8;}
}
/*select.form-control{padding: 5px 10px;}*/
.yellow {color: #ffdc00 !important; }
.yellow-orange {color: #FCA420 !important; }
.log_cahnge {background: #ede682 !important; }
.skyblue{color: $brand-primary !important;}
.orange{color:$orange !important;}
.color-ad{color:$color-ad;}
.color-us{color:$color-us;}
.green{color:$green;}
.orange{color:#ff9900;}
.red{color:$red;}
.red-bg{background: $red;}
.with-red{color: $with-red;}
.with-red-bg{background: $with-red;}
.yellow-bg{background: #ff9900;}
.orange-bg{background: #ff9900;}
.green-bg{background: $green;}
.trans-bg{background: transparent !important;}
.body-bg{background: #efefef;}
.gray{color:$gray !important;}
.dark{color:#000 !important;}
.white{color:$white;}
.white-bg{background:$white;}
.light-sky{color: $light-sky;}
.light-sky-bg{background: $light-sky;}
.btn-close{background: $btn-close;}
.btn-orange{
 color: #fff;
 background-color: #DA451B;
 border-color: #DA451B;
}
.btn-orange:hover{
 background: #DA3A16;
 border-color: #DA3A16;
}
/*Overflow*/
.overflow-y-auto{overflow-y: auto;}
.p0{padding: 0px;}
.p3{padding: 3px;}
.pb2{padding-bottom: 2px;}
.pb3{padding-bottom: 3px;}
.pl0{padding-left:0px;}
.pl5{padding-left: 5px!important;}
.pt2{padding-top:2px !important;}
.pt4{padding-top:4px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt12{padding-top:12px;}
.pt40{padding-top:40px;}
.pl14{padding-left:14px;}
.pl9{padding-left:9px;}
.pl20{padding-left:20px;}
.pl24{padding-left:24px !important;}
.pl16{padding-left:17px!important;}
.pr0{padding-right:0px;}
.pr4{padding-right:4px !important;;}
.label-control{color:$gray}
/*margins*/
.-mt5{margin-top: -5px;}
.mt3{margin-top: 3px;}
.mb5{margin-bottom: 5px;}
.mb2{margin-bottom: 2px;}
.mb4{margin-bottom: 4px;}
.mr2{margin-right: 2px;}
.mr10{margin-right: 10px;}
/*font-sizes*/
.f21{font-size: 21px;}
.f10{font-size: 10px;}
.f11{font-size: 11px;}
.f12{font-size: 12px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f17{font-size: 17px;}
.f14{font-size: 14px !important;}
.f15{font-size: 15px !important;}
.f13{font-size: 13px !important;}
/*widths*/
.w20{width: 20px;}
.w25{width: 25px;}
.w35{width: 35px;}
.w50{width: 50px;}
.w70{width: 70px;}
.w75{width: 75px;}
.w80{width: 80px;}
.w81{width: 81px;}
.w85{width: 85px;}
.w90{width: 90px;}
.w95{width: 95px;}
.w100{width: 100px;}
.w102{width: 102px;}
.w105{width: 105px;}
.w115{width: 115px;}
.w127{width: 127px;}
.w150{width: 150px;}
.w170{width: 170px;}
.w175{width: 175px;}
.w192{width: 192px;}
.w195{width: 195px;}
.w200{width: 200px !important;}
.w210{width: 210px;}
.w220{width: 220px !important;}
.w240{width: 260px;}
.w320{width: 320px;}
.w375{width: 375px;}
.w360{width: 360px;}
.w400{width: 400px;}
.w500{width: 500px;}
.w800{width: 800px;}
.width-full{width:100%;}
.min-height70 {
 min-height: 70px;
}
.h10{height: 10px;}
.h200{height: 200px;}
.mh-200{max-height: 200px;}
/*line-heights*/
.lh12{line-height: 12px;}
.lh14{line-height: 14px;}
.lh16{line-height: 16px;}
/*white spaces*/
.nowrap{white-space: nowrap;}
/*displays*/
.display-block{display: block;}
.display-inline-block{display: inline-block !important;}
/*positions*/
.relative{position: relative;}
/*borders*/
.border-b{border-bottom: 1px solid rgba(0,0,0,0.3);}
.border-t{border-top: 1px solid #ccc;}
/*vertical align*/
.valign-t{vertical-align: top;}
/*contract-overview*/
.contract-overview .card{background: transparent;border:0px;}
.tableSelect-header{margin-top: 5px;padding: 0px;}
.tableSelect-header .form-group{margin-bottom: 8px;}
.tableSelect-header span{margin-top: 10px;}
.tableSelect-header span a{margin-right: 5px;font-size: 16px;margin-top: 5px;}
.tableSelect-header span a i{color: #9f9f9f;}
/*contract-details*/
.contract-details{margin-bottom: 0px;}
.large-widget .card{padding:0 5px 5px;}
.large-widget .card .card-block{display: table-cell;width: 1%;padding:0px 10px;border-left: 1px solid #ccc;}
.large-widget .card .card-block:first-child{border-left:none !important;}
.large-widget .card .card-block .h4{font-size: 12px;margin-bottom: 0px;color:$gray}
.large-widget .card .card-block .dropdown .dropdown-toggle {color:$brand-primary}
.large-widget .card h5 {
 padding: 10px 10px 0;
 font-size: 18px;
 font-weight: normal;
 color: $orange
}
.large-widget .card-block.border-left-none{border-left: 0px;}
/*icons-widget*/
.icons-widget .card-group{padding: 12px 0;border:1px solid #cfd8dc;background: $white;margin-bottom: 0px;}
.icons-widget .card{border:0px;border-right: 1px solid #cfd8dc;cursor: pointer;}
.icons-widget .card.active .card-block .h2 i,.icons-widget .card:hover .card-block .h2 i{color:$green}
.icons-widget .card.active .card-block small,.icons-widget .card:hover .card-block small{color:$green}
.icons-widget .card:last-child{border-right: 0px;}
.icons-widget .card-block{padding: 0px;}
.icons-widget .card-block .h2{margin-bottom: 0px;}
.icons-widget .card-block .h2 > i{color: $brand-primary}
.icons-widget .card-block small{display: block;text-align: center;color:$brand-primary}
/*widget2*/
.widget2 h6{padding: 10px;border-bottom: 1px solid #ccc;}
//text-transform: uppercase;
.widget2 h6 i{margin-right:10px; }
.partners-content{border-bottom: 1px solid #ccc;padding-bottom: 10px;margin-bottom: 15px;}
.partners-content:last-child{border-bottom: 0px;}
.partners-content h5{font-size: 16px}
.partners-content p{margin-bottom: 0px;}

/*contract-review*/
.contract-review{
 .review-widget{
  width: 18.5%;
  display: inline-block;
  margin-right: 14px;
  &:last-child {
  margin-right: 0px;
 }
 }
 .card{
  .card-block{
   padding: 0;
   .review-head{
    padding: 3px 6px;
    background: #63b5f7;
    color: $white;
    font-weight: normal;
    line-height: 17px;
    @media(max-width: 1160px) {
     font-size: 11px;
     padding: 3px 0px;
    }
   }
   .by-name{border-bottom: 1px solid #ccc}
   /*.review-date{
    p{margin-bottom: 5px;}
   }*/
   .action-item-data{
    padding: 0;
    border-top: 1px solid #ccc;
    .item-count{
     padding: 0;
     border-right: 1px solid #ccc;
     width: 80%;
     display: inline-block;
     float: left;
     p{margin: 0;}
    }
    .item-view{
     padding: 0;
     width: 20%;
     display: inline-block;
     font-size: 18px;
     margin-top: 5px;
    }
   }
  }
 }
}
/*coutry-logo*/
.country-logo {
 width: 35px;
 display: block;
 height: 35px;
 border-radius: 50%;
 border: 1px solid #ccc;
 vertical-align: middle;
 line-height: 28px;
 box-shadow: 0px 0px 1px #999;
 img{width: 100%;height: 100%;border-radius: 50%;}
}
/*breadcrumb-btn*/
.breadcrumb-btn{
  position: absolute;
  top: -60px;
  right: 0;
}
/*Status Widget*/
.status-widget{
   span{
    width: 22px;
    display: inline-block;
    height: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    &.red-active{background: $red;border: 1px solid $red;}
    &.amber-active{background: #ff9900;border: 1px solid #ff9900;}
    &.green-active{background: $green;border: 1px solid $green;}
   }

  }
/*prev-next buttons*/
.prev-next-btns{
 display: block;
  a {
   font-size: 12px;
   padding: 0 2px;
   i{font-size: 16px;}
   &:first-child{margin-right: 6px;}
   &.prev-btn {
    background: $gray;
    color: #fff;
    &:hover{background: #000;text-decoration: none;}
    &:focus{background: #000;text-decoration: none;}
   }
   &.next-btn {
    background: $green;
    color: #fff;
    &:hover{background: #005a0c;text-decoration: none;}
    &:focus{background: #005a0c;text-decoration: none;}
   }
  }
}
.circle-o{
 width: 15px;
 height: 15px;
 border: 1px solid #ccc;
 border-radius: 50%;
 display: inline-block;
 vertical-align: middle;
}
/*contrat-review2*/
.review-table{
 background: $white;
 border: 1px solid #cfd8dc;
 h6{
  padding: 10px;
  border-bottom: 1px solid #cfd8dc;
 }
}
.image-view {
/* max-width: 70px;
 height: 70px;
 border-radius: 50%;*/
 width: 100%;
 height: 100%;
}
ul{padding: 0;list-style: none;}
/*Questions*/
.panel-left-wrap {
 background: #c7cada;
/* float: left;*/
 padding: 7px 10px 2px;
/* width: 320px;*/
 h6{
  display: inline-block;
  float: left;
  margin-top: 10px;
 }
 .panel-btn-wrap{
  display: inline-block;
  width: 70%;
  margin-left: 15px;
  ul{
   margin-bottom: 0px;
   li{
    width: 22%;
   }
  }
 }
}
.panel-right-wrap {
 margin-top: 10px;
}
.panel-btn-wrap ul{
 padding: 0;
 list-style: none;
}
.panel-btn-wrap li {
 background: rgba(253, 253, 253, 1);
 background: -moz-linear-gradient(to bottom, rgba(253, 253, 253, 1) 0%, rgba(248, 248, 248, 1) 27%, rgba(242, 242, 242, 1) 52%, rgba(239, 239, 239, 1) 81%, rgba(238, 238, 238, 1) 100%);
 background: -webkit-linear-gradient(to bottom, rgba(253, 253, 253, 1) 0%, rgba(248, 248, 248, 1) 27%, rgba(242, 242, 242, 1) 52%, rgba(239, 239, 239, 1) 81%, rgba(238, 238, 238, 1) 100%);
 background: -o-linear-gradient(to bottom, rgba(253, 253, 253, 1) 0%, rgba(248, 248, 248, 1) 27%, rgba(242, 242, 242, 1) 52%, rgba(239, 239, 239, 1) 81%, rgba(238, 238, 238, 1) 100%);
 background: -ms-linear-gradient(to bottom, rgba(253, 253, 253, 1) 0%, rgba(248, 248, 248, 1) 27%, rgba(242, 242, 242, 1) 52%, rgba(239, 239, 239, 1) 81%, rgba(238, 238, 238, 1) 100%);
 background: linear-gradient(to bottom, rgba(253, 253, 253, 1) 0%, rgba(248, 248, 248, 1) 27%, rgba(242, 242, 242, 1) 52%, rgba(239, 239, 239, 1) 81%, rgba(238, 238, 238, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eeeeee', GradientType=1);
 float: left;
 width: 49%;
 margin-right: 5px;
 min-height: 39px;
}

.panel-btn-wrap li:hover {
 opacity: 0.7;
}
/*.panel-btn-wrap li:first-child a {
 color: #33316c;
 font: 600 14px/26px "RobotoRegular";
 padding-left: 15px;
}*/


.panel-btn-wrap .add-heading {
 width: 100%;
 background: none;
 min-height: inherit;

}

.panel-btn-wrap .add-heading:hover {
 opacity: 1;
}

.panel-btn-wrap .add-heading h3 {
 padding: 10px 0 0;
 font: 600 14px "RobotoRegular";
 color: #33316c;
}

.panel-btn-wrap li a {
 font-size: 13px;
 padding: 8px;
 display: block;
 color: #32316B !important;
 line-height: 26px;
 cursor: pointer;
 text-decoration: none;
}

.a-ques-list li,
.a-ques-list .acc-head {
 /*cursor: move*/;
}

.a-ques-list {
 border-bottom: 1px solid rgba(65, 64, 110, 0.09);
 padding-bottom: 10px;
}

.a-ques-list:first-child h3 {
 padding-top: 0;
}

.a-ques-list:last-child {
 border-bottom: none;
 padding-bottom: 30px;
}

.icon-short-text,
.icon-input-text,
.icon-yes-no,
.icon-numbers,
.icon-rgb1{
 display: inline-block;
 vertical-align: middle;
 width: 21px;
 height: 17px;
}
.icon-short-text {
 background: url(../img/icon-short-text.png) no-repeat;
}

.icon-input-text {
 background: url(../img/icon-input-box.png) no-repeat;
}

.icon-yes-no {
 background: url(../img/yes-no.png) no-repeat;
}
.icon-rgb1 {
 background: url(../img/rgb1.png) no-repeat;
}
.icon-numbers {
 background: url(../img/icon-numbers.png) no-repeat;
 width: 24px;
 height: 20px;
}
.panel-btn-wrap li a i {
 color: #697399;
 display: inline-block;
 font-size: 14px;
 margin-right: 3px;
 text-align: center;
 width: 24px;
 height: 21px;
}
//panel-right-wrap
.q-acc-wrap {
 position: relative;
 /*background: #fff;
 margin-bottom: 5px;*/
 .index-count{
  position: absolute;
  left: 0;
  padding: 12px 5px;
  float: left;
  width: 45px;
  height: 45px;
  text-align: center;
 }
 &.disable{
  color:$navbar-disabled-color;
 }
}

.q-acc-wrap:hover,
.q-acc-wrap:hover .q-acc-head {
 background: #E7EEF3;
}

.q-acc-wrap:hover .acc-body {
 background: #fff;
}

.q-acc-wrap::before {
 text-align: center;
 counter-increment: section;
 content: counter(section);
 display: inline-block;
 padding: 10px 20px;
 width: 55px;
 vertical-align: top;
 color: #221f60;
 text-indent: -9999px;
}
.q-acc-head {
 display: inline-block;
/* width: 80%;*/
 vertical-align: middle;
 border-left: 5px solid #efefef;
 line-height: 24px;
  padding: 8px 0px 9px 8px;
 .c-dropdown{
  margin-top: 3px;
 }
 @media(max-width: 1280px) {
  width: 94%;
 }
 @media(max-width: 1160px) {
  width: 93%;
 }
 @media(max-width: 1024px) {
  width: 92%;
 }
 @media(max-width: 960px) {
  width: 90%;
 }
 .panel-group{
  display: inline-block;
 }
}

.q-acc-head h3 {
 max-width: 92%;
 width: auto;
 cursor: pointer;
}

.q-acc-wrap .acc-body {
 padding-top: 0;
 padding-left: 59px;
 padding-bottom: 0;
}

.q-acc-wrap .acc-data {
 border-left: 5px solid #d8dae6;
 padding: 5px 15px 10px;
}
.product-clist .q-acc-wrap::before {
 width: 32px;
}
.question-text{margin-top: 5px;margin-left: 5px;display: inline-block;}
.q-acc-head{
 .panel-title{background: transparent;}
 .panel-body{background: transparent;border-top: none;}
}
/*Switch*/
.onoffswitch {
 position: relative;
 width: 56px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}
.onoffswitch-checkbox {
 display: none !important;
}
.onoffswitch-label {
 display: block;
 overflow: hidden;
 cursor: pointer;
 border: 2px solid transparent;
 border-radius: 0px;
 position: relative;
}
.onoffswitch-inner {
 display: block;
 width: 200%;
 margin-left: -100%;
 transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
 display: block;
 float: left;
 width: 50%;
 height: 19px;
 padding: 0;
 line-height: 19px;
 font-size: 12px;
 color: white;
 font-family: Trebuchet, Arial, sans-serif;
 font-weight: bold;
 box-sizing: border-box;
}
.onoffswitch-inner:before {
 content: "ON";
 padding-left: 6px;
 background-color: #1D8564;
 color: #FFFFFF;
}
.onoffswitch-inner:after {
 content: "OFF";
 padding-right: 6px;
 background-color: #FF0000;
 color: #FFFFFF;
 text-align: right;
}
.onoffswitch-switch {
 background: #ffffff none repeat scroll 0 0;
 border: 2px solid #ffffff;
 border-radius: 0;
 bottom: 0;
 display: block;
 margin: 2px;
 position: absolute;
 right: 33px;
 top: 0;
 transition: all 0.3s ease-in 0s;
 width: 15px;
 height: 15px;
}
.assessment-switch .onoffswitch-inner::before {
 content: "YES" !important;
}
.assessment-switch .onoffswitch-inner::after {
 content: "NO" !important;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
 margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
 right: 0px;
}
.switch-view{
 li{margin-bottom: 3px;}
}
.questions-list-form{
 border-top: 1px solid #ccc;
 padding-top: 10px;
}
/*end of switch*/
.img-dimensions {
 height: 130px;
 width: 130px;
}
.image-wrap {
 height: 130px;
 line-height: 130px;
 text-align: center;
 width: 130px;
 background: #F9F9F9;
 position: relative;
}
.img-dimensions img{
 height: auto;
 max-height: 100%;
}
.image-actions {
 overflow: hidden;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 display: none;
 cursor: pointer;
 .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 8;
  color: #fff
 }
}
.image-actions input[type="file"] {
 opacity: 0;
 position: absolute;
 top: 50%;
 left: 0;
 z-index: 9
}
.image-wrap:hover .image-actions {
 background: rgba(0, 46, 89, 0.35);
 display: block
}
/*modal choices*/
.choice-wrap{
 margin-bottom: 10px;
 .remove{
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
 }
 .addfields{
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
 }
}
.form-control-static{
&.red-brs_R{
 width: 18px;
 border: 1px solid #fd0000;
 border-radius: 50%;
 padding: 0px;
 text-align: center;
}
&.red-brs_A{
 width: 18px;
 border: 1px solid #FECB00;
 border-radius: 50%;
 padding: 0px;
 text-align: center;
}
&.red-brs_G{
 width: 18px;
 border: 1px solid #00FE01;
 border-radius: 50%;
 padding: 0px;
 text-align: center;
}
}
a{
 text-decoration: none;
 &:hover{text-decoration: none;}
 &:focus{text-decoration: none;}
}
/*questions-list-table*/
.questions-list-table{
 thead{
  th{
   border: none;
  }
 }
 tbody{
  tr{
   width: 100%;
   &:hover{
    td{background: #E7F4FD;}
   }
   td{
    border-top: none;
    background: $white;
    vertical-align: middle;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 5px solid #efefef;
    .inside-qtable{
     tbody{
      tr{
       td{
        border-bottom: 0px;
        padding: 0px;
       }
      }
     }
    }
    &:first-child{
     ul{
      margin-bottom: 0px;
     }

    }
   }
  }
 }
}
.ellipis {
 overflow: hidden;
 -ms-text-overflow: ellipsis;
 -o-text-overflow: ellipsis;
 text-overflow: ellipsis;
 display: inline-block;
 white-space: nowrap;
}
.w_95{width: 95%}

.bg-box {
 background: #EEEDF5;
 padding:15px;
}
.drop-box {
 background: rgba(0, 0, 0, 0) url(../img/dropbox-bg.png) repeat scroll center center;
 border: 2px dashed #9e9eb6;
 font-size: 14px;
 padding: 2%;
 text-align: center;
}
/*manual password*/
.manual-psd{
 input{
  &.form-control{
   @media(max-width: 1366px) {
    width: 227px;
   }
   @media(max-width: 1280px) {
    width: 193px;
   }
   @media(max-width: 1024px) {
    width: 115px;
   }
  }
 }
}
.internal-box{
 background: rgba(0,0, 0, 0.04);
 padding: 10px 10px 20px;
}
.files-list{
li{
 border-bottom: 3px solid #EEEDF5;
 background: $white;
 &:last-child{
  border-bottom: none;
 }
}
}
/*radio buttons styles*/
.radio_widget input[type="radio"]{
 opacity: 0;
}
.radio_widget input[type="radio"] + label::before{
 content: '';
 position: absolute;
 width: 20px;
 height: 20px;
 background-color: transparent;
 margin-left: -18px;
 border-radius: 50%;
}
.radio_widget input[type="radio"] + label{
 padding-left: 0px;
 min-height: 13px;
 line-height: 22px;
 display: inline-block;
 margin-bottom: 0;
 font-weight: 400;
 cursor: pointer;
}
.radio_widget input[type="radio"] + label.sec_label{padding-left: 10px;padding-right: 10px;}
.radio_widget input[type="radio"] + label.third_label{padding-left: 10px;}
.radio_widget input[type="radio"] + label.fourth_label{padding-left: 10px;padding-right: 10px;}
.radio_widget input[type="radio"]:checked + label::before{
 display: inline-block;
 font-family: FontAwesome;
 content: "\f00c";
 position: absolute;
 color: white;
 text-align: center;
 line-height: 20px;
}
.radio_widget input[type="radio"] + label.first_label::before{
  border: 1px solid green;
}
.radio_widget input[type="radio"] + label.sec_label::before{
  border: 1px solid orange;
}
.radio_widget input[type="radio"] + label.third_label::before{
  border: 1px solid red;
}
.radio_widget input[type="radio"] + label.fourth_label::before{
 border: 1px solid gray;
}
.radio_widget input[type="radio"]:checked + label.first_label::before{
  background-color: green;
}
.radio_widget input[type="radio"]:checked + label.sec_label::before{
  background-color: orange;
}
.radio_widget input[type="radio"]:checked + label.third_label::before{
  background-color: red;
}
.radio_widget input[type="radio"]:checked + label.fourth_label::before{
 background-color: gray;
}
//container styles
.contract-review .card .card-block .review-head{
  min-height: 57px;
}
.label_tag{
  width:20px;
  height:20px;
  background-color: #DA4421;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  color: white;
  font-size: 12px;
}
.report_tag{
 width:22px;
 height:22px;
 background-color: #DA4421;
 border-radius: 50%;
 display: inline-block;
 text-align: center;
 line-height: 22px;
 color: white;
 font-size: 12px;
}
/*.row{
  margin-left: 0px!important;
  margin-right: 0px!important;
}*/
/*.container-fluid{
  padding-left:15px !important;
}*/
/*
.breadcrumb{padding-left: 15px!important;}
*/
.contract-review .review-widget{
  cursor: pointer
}
.latest_review{
  display: block;
}
.contract-review .card .card-block .by-name{
  font-size: 13px;
}
.col_widths tr th:nth-child(1){
  width: 35%
}
.col_widths tr th:nth-child(3){
  width: 10%
}
.col_widths tr th:nth-child(2){
  width: 20%
}
.col_widths tr th:nth-child(5){
  width: 20%
}
.bold{font-weight: bold}
.not-bold{font-weight: normal}
.gray{color: $gray;}
.form_input_style input{
  width:80px;
}
.ptop-2 {
  padding-top: 2px;
}
.status-widget .score_color{width: 15px;height: 15px;border:1px solid #cfd8dc;border-radius:50%;display: inline-block;vertical-align: middle }
.accordian_list_style li{padding: 5px;}

/*calendar*/
.fc-basic-view .fc-body .fc-row {
 height: 120px !important;
}
.fc-widget-content {
 height: 120px !important;
}
.finalize{
 color:$gray !important;
}
.count {
 width: 16px;
 height: 16px;
 position: absolute;
 background: $green;
 display: block;
 color: #fff;
 line-height: 15px;
 text-align: center;
 border-radius: 50%;
 font-size: 10px;
 top: -12px;
 right: -8px;
}
.count-notify {
 width: 16px;
 height: 16px;
 position: absolute;
 background: #DA4421;
 display: block;
 color: #fff;
 line-height: 15px;
 text-align: center;
 border-radius: 50%;
 font-size: 10px;
 top: 12px;
 right: 20px;
}
/*discussion review*/
.questions-reviewList{
 border-bottom: 1px solid #cfd8dc;
 &:last-child{
  border-bottom: none;
 }
}
.review-warning {
 position: fixed;
 top: 85px;
 left: 50%;
 background: #F89406;
 z-index: 1026;
 width: 300px;
 padding: 10px 0;
 text-align: center;
 color: #fff;
 border-radius: 5px;
 margin-left: -150px;
}
.logged-warning {
 position: fixed;
 top: 3px;
 left: 50%;
 background: #DB441D;
 z-index: 1026;
 width: auto;
 padding-left: 5px;
 padding-right: 5px;
 text-align: center;
 color: #fff;
 border-radius: 10px;
 margin-left: -150px;
 height: 46px;
 line-height: 35px;
 padding: 5px 15px;
 /* right: 50%; */
}
/*Attachments*/
.attachment-widget{
 border-bottom: 1px solid #cfd8dc;
 margin-bottom: 5px;
 padding: 0px 0px 10px;
 &:last-child{
  border-bottom: none;
 }
}
body{
 &.questions-modal{
  .modal-dialog{
   &.modal-lg {
    max-width: 1200px;
    @media (max-width:1024px) {
     max-width: 1000px;
    }
   }
  }
 }
}
/*reports*/
.span-red{
 width: 15px;
 height: 15px;
 border-radius: 50%;
 display: inline-block;
 background: red;
 border: 1px solid $red;
}
.span-amber{
 width: 15px;
 height: 15px;
 border-radius: 50%;
 display: inline-block;
 background: orange;
 border: 1px solid #ff9900;
}
.span-green{
 width: 15px;
 height: 15px;
 border-radius: 50%;
 display: inline-block;
 background: green;
 border: 1px solid #5bb166;
}
.span-null{
 width: 15px;
 height: 15px;
 border-radius: 50%;
 display: inline-block;
 border: 1px solid $gray;
}
.span-na{
 width: 15px;
 height: 15px;
 border-radius: 50%;
 display: inline-block;
 background: $gray;
 border: 1px solid #ccc;
}
.span-red-small{
 width: 10px;
 height: 10px;
 border-radius: 50%;
 display: inline-block;
 background: red;
 border: 1px solid $red;
 position: absolute;
 top: 3px;
 left: 3px;
}
.span-amber-small{
 width: 10px;
 height: 10px;
 border-radius: 50%;
 display: inline-block;
 background: orange;
 border: 1px solid #ff9900;
 position: absolute;
 top: 3px;
 left: 3px;
}
.span-green-small{
 width: 10px;
 height: 10px;
 border-radius: 50%;
 display: inline-block;
 background: green;
 border: 1px solid #5bb166;
 position: absolute;
 top: 3px;
 left: 3px;
}
.span-null-small {
 width: 10px;
 height: 10px;
 border-radius: 50%;
 border: 1px solid $gray;
 display: inline-block;
 position: absolute;
 top: 3px;
 left: 3px;
}
.span-na-small {
 width: 10px;
 height: 10px;
 border-radius: 50%;
 display: inline-block;
 background: $gray;
 border: 1px solid $gray;
 position: absolute;
 top: 3px;
 left: 3px;
}
/*bubble-chart*/
.main_bubble_chart{background: #fff;}
/*loader*/
.loader-wrap{
 position: fixed;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background-color: rgba(208,208,208,0.3);
 z-index: 1051;
 i {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
 }
}
.current-log{
 position: relative;
 &::before{
   position: absolute;
   width: 5px;
   height: 5px;
   background: #3a9d5d;
   display: block;
   left: -3px;
   top: 15px;
   content: "";
   border-radius: 50%;
 }
}
.text-line {
 white-space: nowrap;
 width: 95%;
 overflow: hidden;
 text-overflow: ellipsis;
}
.text-break {
 word-break: break-all;
 white-space:pre-line;
 width: 95%;
 //overflow: hidden;
 //text-overflow: ellipsis;
}
/*providers table row active*/
.provider-active{
 td{background: #D8DAE6 ;}
}
.position_buttons{position: fixed;top:80px;right:20px;z-index: 999}
.attachments_block{height: 240px;overflow-y: auto}
.partners-content{margin-bottom: 10px;}
.accordion-default .panel-body ul.discuss_list li{border-bottom: none}

/*Ataachments search*/
.attachments-search{
 .form-control{
  padding: 3px 5px !important;
 }
}
.custom-field{
 .form-control{
  height: 28px;
  padding: 2px 7px 5px;
 }
}
.discussion_comments {
 margin-top: 5px;
 background: #D8DAE6;
 border-radius: 5px;
}
.finalised_comments_div {
 margin-top: 5px;
 border-radius: 5px;
}
.finalised_comments {
 background: #e0cfc2;
}
.discussion_by {
 border-bottom: 1px solid #ccc;
}
.claender_style {
 color:#FFF;
 padding: 3px 8px;
 display:block;
 margin: 2px 20px 2px 2px;
 z-index: 999;
}
li.breadcrumb-item.active span {
 font-weight:bold;
 font-size: 16px !important;
 color: #979797 !important;
}
li.breadcrumb-item + li.breadcrumb-item.active span {
 font-weight: normal;
}
/*Graph*/
.color_change{color:black;padding: 6px;border: 1px solid green;}
.color_change{margin: 0px !important;width: 100%;font-weight: bold;font-size: 11px;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;}
.color_change td{padding: 2px;}
.color_change td.labelDiv{color:grey;width: 48%;}
.color_change td.allpadding{width: 50%;}
img{margin-bottom: -5px;}
.main_bubble_chart{position: relative;padding-left: 15px;}
.title_1,.title_2{
  position: absolute;
  /*transform: rotate(-90deg);*/
  z-index: 999;
  font-size: 12px;
  color: #545454;
}
.title_1 label,.title_2 label{
 transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg);
 -ms-transform: rotate(-90deg);
 width: 115px;
 transform-origin:left;
 -webkit-transform-origin:left;
 -ms-transform-origin:left;
 overflow: hidden;
 display: block;
}
.title_3,.title_4{position: absolute;z-index: 999;font-size: 12px;color: #545454;}
.title_1{left: 15px;top:40%;}
.title_2{left:15px;bottom:10%;}
.title_3{left:25%;top:92%;}
.title_4{left:75%;top:92%;}
/*calendar*/
.fc-toolbar h2 {
 font-size: 21px;
}
.fc-basic-view .fc-body .fc-row {
 height: 120px !important;
}
.fc-widget-content {
 height: 120px !important;
}
.fc-row .fc-content-skeleton {
 z-index: 0 !important;
}
.fc-future{position: relative;}
.fc-future:hover::before{
 content: "\e095";
 position: absolute;
 top: 50%;
 left:50%;
 font-family: 'simple-line-icons';
 cursor: pointer;
 font-size: 17px;
 margin-top: -8px;
 margin-left: -8px;
}
.chosen-choices {
 -moz-box-sizing: border-box;
 background-color: #FFFFFF;
 border: 1px solid #CBD5DD;
 border-radius: 0;
 cursor: text;
 height: 33px !important;
 line-height: 27px;
 margin: 0;
 min-height: 25px;
 overflow: hidden;
 padding: 0 2px;
 position: relative;
 width: 100%;
}
/*yearly calendar styles*/
.monthly-div{border: 1px solid #ddd;border-right: 0px; border-bottom: 0px;}
.monthly-div:nth-child(4n){border-right: 1px solid #ddd;}
.last-four-mnths{border-bottom: 1px solid #ddd;}
.monthly-div p{color:#464646;font-weight: normal;}
.block120 { height: 120px; }
.w50 { display: block; width: 80%; }
.rel-cat { display: block; position:relative;margin-bottom: 2px;color:#fff;padding:0 3px; }
.yearly-clendar{
 background: #fff !important;
}
.reminder-error-message {
 border: 1px solid #f00;
}
.yearly-clendar{
 background: #fff;
 margin-top: 35px;
 padding: 15px;
}
.cal-head a{
 background: #e6e6e6;
 color:#333;
 text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
 border-radius: 3px;
}
.cal-head a:hover{
 color:#333;
}
.cal-head h4{
 padding: 0px !important;
 margin-bottom: 0px !important;
}
/*Reminder days*/
.reminder-error-message {
 border: 1px solid #f00;
}
.mr10{margin-right: 10px;}
.active-filter {
 border-color: #DA4421 !important;
}
.amber-bg{background: #FFA501;}
.bg-green{background: #018001;}
.chosen-container .chosen-results {
 max-height:10px;
}
.btn-green {
 background: $green;
 color: #fff;
 &:hover {
  background: #018001;
 }
}
.btn-gray {
 background: #a5a5a5;
 color: #fff;
 &:hover {
  background: #767676;
 }
}
.pop-width{
 .popover{
  max-width: 450px !important;
 }
}
.log-summery{
 background-color: #fff;
 padding: 10px;
}
.date-pic[readonly]{
 background-color: #fff !important;
}
.attachment-fileHead{
 width: 330px;
 white-space: nowrap;
 @media(max-width:1100px){
  width:220px;
 }
}
.hand-symbol{ cursor: default!important; }
.selectedRow{
 td{
  font-weight: bold;
 }
}
/*Media Queries*/
@media(max-width:1100px){
 .dashboard-widget .col-lg-8,.contract-overview .col-lg-8 {
  width: 100%;
 }
 .dashboard-widget .col-lg-4 {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-top: 0;
  width: 50%;
  margin-left: 25%;
 }
 .contract-overview .col-lg-4 {
  margin-bottom: 15px;
  padding-left: 0;
  padding-top: 0px;
  width: 50%;
  margin-left: 25%;
 }
 .contract-overview .col-lg-4.pt-2{
  padding-top: 0px !important;
 }
 .contract-review .review-widget {
  float: left;
  width: 18.1%;
 }
 .contract-review .card .card-block {
  font-size: 12px;
 }
 .monthly-div{
  min-height: 150px;
 }
 .claender_style span.f11 {
  font-size: 9px !important;
 }
 .contract-details-table tbody tr td span.w100{
  width: 75px;
 }
 .widget-span.orange {
  font-size: 12px;
 }
 .large-widget .card .card-block {
  padding: 0 5px;
 }
 .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 23px !important;
 }
 .action-items-table .w800{
  width: 600px;
 }
}
.ellipsis2{
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

body.sidebar-nav .footer{
  left:0 !important;
}
.danger-delete{
background-color: #f0d8d2;
color: #000 !important;
}
.danger-delete:hover{
background-color: #f0d8d2 !important;
}
.sub-contract-info {
  position: fixed;
  top: 58px;
  left: 50%;
  background:#05a3f8;
  z-index: 1026;
  width: 300px;
  padding: 2px 0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  margin-left: -150px;
 }