<div class="animated fadeIn">
    <div class="col-sm-12 p0">
        <div class="row" ng-if="permission['list']">
            <table class="table table-custom table-striped table-hover" st-pipe="callServer" st-table="displayed">
                <thead>
                <tr>
                    <td colspan="4">
                        <div class="col-sm-12 clearfix p0">
                            <div class="action-head mb0">
                                    <span class="pull-right ml-h" ng-if="showAddBtn">
                                        <!--<button class="btn btn-sm btn-primary" ng-click="updateBussinessUnit()" type="button"><i class="icon-plus"></i>&nbsp;
                                            {{'general.add' | translate}}
                                        </button>-->
                                        <button class="btn btn-sm btn-primary" ui-sref="app.bussiness_unit.create" type="button"><i class="icon-plus"></i>&nbsp;
                                            {{'general.add' | translate}}
                                        </button>
                                    </span>
                                <div class="col-sm-3 p0 table-search pull-right">
                                    <input type="text" class="form-control" placeholder="{{'general.search' | translate}}"
                                           st-search="search_key">
                                    <i class="fa icon-search"></i>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th st-sort="bu_name" class="st-sort-ascent st-sort-descent">{{'bussiness.bussiness_name' | translate}}</th>
                    <!--<th class="">{{'relationship-classification.position.position' | translate}} ({{'relationship-classification.axis' | translate}})</th>-->
                    <th st-sort="status" class="">{{'general.status' | translate}}</th>
                    <th class="hand-symbol">{{'general.actions' | translate}}</th>
                </tr>
                </thead>
                <tbody ng-show="!isLoading && displayed.length>0">
                <tr ng-repeat="row in displayed" ng-if="!row.iobuuboi || row.iobuuboi=='annus'">
                    <td>{{row.bu_name}}</td>
                    <!--<td>{{row.bu_responsibility | uppercase}}</td>-->
                    <td>
                        <span  ng-if="row.status == 1" class="green">{{'general.active' | translate}}</span>
                        <span  ng-if="row.status == 0" class="red">{{'general.inactive' | translate}}</span>
                    </td>
                    <td>
                        <a href="javascript:;" class="mr-1 gray" title="{{'general.edit' | translate}}" ui-sref="app.bussiness_unit.edit({id:(row.id_business_unit | encode)})"><i class="icon-edit" ></i></a>
                        <a ng-if="row.status == 1"
                           ui-sref="app.customer-user.list({buId: (row.id_business_unit | encode)})" >
                            <i class="mr-1 gray icon-registrant-template" title="{{'general.manage' | translate}} {{'user.user' | translate}}"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-show="isLoading">
                <tr><td colspan="4" class="text-sm-center">{{'general.loading' | translate}}</td></tr>
                </tbody>
                <tbody ng-show="!isLoading && displayed.length<=0">
                <tr><td colspan="4" class="text-sm-center">{{'general.no_data' | translate}}</td></tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-center" colspan="8">
                        <div st-pagination="" class="text-sm-center"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>