<div class="add-customer">
    <div class="col-sm-12 p0">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <strong>{{title | translate}} {{'bussiness.bussiness_unit' | translate}}</strong>
                </div>
                <div class="card-block">
                    <form novalidate name="bussinessForm" ng-submit="bussinessForm.$valid && save(bussiness)">
                        <div class="modal-body clearfix" id="modal-body">
                            <div class="col-md-12 form-group">
                                <label>{{'bussiness.bussiness_name' | translate}} *</label>
                                <input type="text" ng-model="bussiness.bu_name" class="form-control" name="bu_name" required/>
                                <span class="error-message" ng-if="bussinessForm.bu_name.$error.required && bussinessForm.$submitted">{{'general.required_field' | translate}}</span>
                            </div>

                            <div class="form-group col-sm-12">
                                <label class=" form-control-label" for="textarea-responsibility">{{'bussiness.responsibility' | translate}} *</label>
                                <textarea id="textarea-responsibility" ng-model="bussiness.bu_responsibility" name="bu_responsibility" rows="3" class="form-control" required></textarea>
                                <span class="error-message" ng-if="bussinessForm.bu_responsibility.$error.required && bussinessForm.$submitted">{{'general.required_field' | translate}}</span>
                            </div>
                            <span class="clearfix"></span>
                            <div class="col-md-6 form-group">
                                <label>{{'bussiness.address' | translate}}</label>
                                <input type="text" ng-model="bussiness.company_address" class="form-control" name="company_address"/>
                            </div>

                            <div class="col-md-6 form-group">
                                <label>{{'bussiness.city' | translate}}</label>
                                <input type="text" ng-model="bussiness.city" class="form-control" name="city"/>
                            </div>
                            <span class="clearfix"></span>
                            <div class="form-group col-sm-6">
                                <label >{{'bussiness.country' | translate}} </label>
                                <select class="form-control" name="country" ng-model="bussiness.country_id"
                                        ng-options="item.id_country as item.country_name for item in countriesList">
                                    <option value="">--{{'general.select_country' | translate}}--</option>
                                </select>
                            </div>

                            <div class="col-md-6 form-group">
                                <label>{{'bussiness.postal_code' | translate}} </label>
                                <input type="text" ng-model="bussiness.postal_code" class="form-control" name="postal_code" alpha-numeric/>
                                <!--<div ng-if="bussinessForm.postal_code.$error.minlength && bussinessForm.$submitted"
                                     class="error-message">
                                    {{'general.min-six' | translate}}
                                </div>-->
                            </div>
                            <span class="clearfix"></span>
                            <div class="form-group col-sm-6" ng-if="(isEdit) && (user.access == 'wa' || user.access =='ca')">
                                <label>{{'general.status' | translate}} *</label>
                                <select class="form-control" ng-model="bussiness.status" name="bussiness_status" required>
                                    <option value="">-- {{'general.select' | translate}} --</option>
                                    <option value="1">{{'general.active' | translate}}</option>
                                    <option value="0">{{'general.inactive' | translate}}</option>
                                </select>
                                <span class="error-message" ng-if="bussinessForm.bussiness_status.$error.required && bussinessForm.$submitted">{{'general.required_field' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 p-t-3">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-dot-circle-o"></i> {{bottom | translate}}
                            </button>
                            <button type="reset" class="btn btn-sm btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i>
                                {{'general.cancel' | translate}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>