<div class="animated fadeIn">
    <div class="col-sm-12 p0">
        <div class="row">
            <table class="table table-custom table-striped table-hover" st-pipe="callServer" st-table="displayed">
                <thead>
                <tr>
                    <td colspan="4">
                        <div class="col-sm-12 clearfix p0">
                            <div class="action-head mb0">
                                <div class="col-sm-3 p0 table-search pull-right">
                                    <input type="text" class="form-control"
                                           placeholder="{{'general.search' | translate}}"
                                           st-search="search_key">
                                    <i class="fa icon-search"></i>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th st-sort="name" class="st-sort-ascent st-sort-descent">{{'settings.name' | translate}}
                    </th>
                    <th st-sort="key">{{'settings.key' | translate}}</th>
                    <th class="hand-symbol">{{'settings.value' | translate}}</th>
                    <th class="hand-symbol">{{'general.actions' | translate}}</th>
                </tr>
                </thead>
                <tbody ng-show="!isLoading && displayed.length>0">
                <tr ng-repeat="row in displayed">
                    <td>{{row.name}}</td>
                    <td>{{row.key}}</td>
                    <td>{{row.value}}</td>
                    <td>
                        <a href="javascript:;" class="mr-1 gray" title="{{'general.edit' | translate}}"
                           ng-click="update(row)"><i class="icon-edit"></i></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-show="isLoading">
                <tr>
                    <td colspan="4" class="text-sm-center">{{'general.loading' | translate}}</td>
                </tr>
                </tbody>
                <tbody ng-show="!isLoading  && displayed.length<=0">
                <tr>
                    <td colspan="4" class="text-sm-center">{{'general.no_data' | translate}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-center" colspan="8">
                        <div st-pagination="" class="text-sm-center"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>