<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-block">
                <div>
                    <span class="pb-1 font-weight-bold"> <span class="skyblue" style="font-size:14px;"> Provider3 </span> <span style="font-size:14px;">( <span class="skyblue"> 5 </span> )</span> </span> &nbsp;
                    <a href="javascript:;" class=" icon-search2 gray " style="font-size:17px;"> </a>
                        <span class="pull-right" style="padding-bottom: 9px;" >
                            <button class="btn btn-sm btn-primary" type="button"><i class="icon-plus"></i>&nbsp; CREATE</button>
                        </span>
                </div>
                <table class="table table-custom table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Module</th>
                        <th>Action Item </th>
                        <th>Responsible</th>
                        <th>Due Date </th>
                        <th>Comments </th>
                        <th>Actions </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Selection Process</td>
                        <td>abc def ijk lmn</td>
                        <td><span class="skyblue"> Erik Vanderstraeten </span></td>
                        <td>31 Dec, 2016</td>
                        <td>reason for the rejecting</td>
                        <td>
                            <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                            <a href="javascript:;" class="icon-trash mr-1 gray" uib-tooltip="Delete"> </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Risk/Compliance/Security</td>
                        <td>abc def ijk lmn</td>
                        <td><span class="skyblue"> Pieter Knaepen </span></td>
                        <td>31 Dec, 2016</td>
                        <td>waiting for the comments</td>
                        <td>
                            <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                            <a href="javascript:;" class="icon-trash mr-1 gray" uib-tooltip="Delete"> </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Relationship Management</td>
                        <td>abc def ijk lmn</td>
                        <td><span class="skyblue">Erik Vanderstraeten </span> </td>
                        <td>31 Dec, 2016</td>
                        <td>reason for the rejecting</td>
                        <td>
                            <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                            <a href="javascript:;" class="icon-trash mr-1 gray" uib-tooltip="Delete"> </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Risk/Compliance/Security</td>
                        <td>abc def ijk lmn</td>
                        <td><span class="skyblue"> Pieter Knaepen </span> </td>
                        <td>31 Dec, 2016</td>
                        <td>waiting for the comments</td>
                        <td>
                            <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                            <a href="javascript:;" class="icon-trash mr-1 gray" uib-tooltip="Delete"> </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Relationship Management</td>
                        <td>abc def ijk lmn</td>
                        <td> <span class="skyblue"> Erik Vanderstraeten </span> </td>
                        <td>31 Dec, 2016</td>
                        <td>reason for the rejecting</td>
                        <td>
                            <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                            <a href="javascript:;" class="icon-trash mr-1 gray" uib-tooltip="Delete"> </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">Next</a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 pr0">
            <div class="card widget2">
                <h6><i class="icon-users1"></i>Providers</h6>
                <div class="card-block">
                    <div class="p-b-1">
                        <div class="col-sm-12 p0 table-search mb-h">
                            <input type="text" class="form-control" placeholder="Search..."
                                   st-search="search_key">
                            <i class="fa icon-search"></i>
                        </div>

                        <table class="table">
                            <thead style="background:#dddde0" >
                            <tr>
                                <th>Name</th>
                                <th class="text-sm-right">#Action Items</th>
                            </tr>
                            </thead>
                            <tbody >
                                <tr>
                                    <td> <span class="skyblue"> Provider 1 </span> </td>
                                    <td class="text-sm-right"> <span class="red">2</span> </td>
                                </tr>
                                <tr>
                                    <td> <span class="skyblue"> Provider 2 </span> </td>
                                    <td class="text-sm-right"> -- </td>
                                </tr>
                                <tr>
                                    <td> <span class="skyblue"> Provider 3 </span> </td>
                                    <td class="text-sm-right"> <span class="red">2</span> </td>
                                </tr>
                                <tr>
                                    <td> <span class="skyblue"> Provider 4 </span> </td>
                                    <td class="text-sm-right"> <span class="red">5</span> </td>
                                </tr>
                                <tr>
                                    <td> <span class="skyblue"> Provider 5 </span> </td>
                                    <td class="text-sm-right"> <span class="red">1</span> </td>
                                </tr>
                                <tr>
                                    <td> <span class="skyblue"> Provider 6 </span> </td>
                                    <td class="text-sm-right"> -- </td>
                                </tr>
                                <tr>
                                    <td> <span class="skyblue"> Provider 7 </span> </td>
                                    <td class="text-sm-right"> -- </td>
                                </tr>
                                <tr>
                                    <td> <span class="skyblue"> Provider 8 </span> </td>
                                    <td class="text-sm-right"> -- </td>
                                </tr>
                                <tr>
                                    <td> <span class="skyblue"> Provider 9 </span> </td>
                                    <td class="text-sm-right"> -- </td>
                                </tr>
                                <tr>
                                    <td> <span class="skyblue"> Provider 10 </span> </td>
                                    <td class="text-sm-right"> -- </td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>