<div class="animated fadeIn">
    <div class="col-md-6 p-1 calender-widget" style="background: #fff;">
        <div ng-model="eventSources"  id="calendar"  ui-calendar="uiConfig.calendar"></div>
    </div>
</div>
<script type="text/ng-template" id="calendar-event-modal.html">
    <div class="modal-header" >
            <h6 class="modal-title">{{title | translate}} {{'questions.question' | translate}}
    <a  ng-click="cancel()" uib-tooltip="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
            </h6>
            </div>
            <div class="modal-body clearfix" id="modal-body">
            <form novalidate name="moduleForm">
            <div class="col-md-12 form-group">

            </div>
            </form>
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{bottom | translate}}</button>
    <button type="reset" class="btn btn-sm btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i>
            {{'general.cancel' | translate}}
    </button>
    </div>
</script>