<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-sm-8 dashboard-widget">
            <div class="card">
                <form name="outerForm" class="tab-form-demo">
                    <uib-tabset active="activeForm">
                        <uib-tab index="0" >
                            <uib-tab-heading>
                                Delegates <span class="badge-num">04</span>
                            </uib-tab-heading>
                            <table class="table table-custom table-striped table-hover">
                                <thead>
                                <tr>
                                    <th> First Name  </th>
                                    <th> Last Name </th>
                                    <th> Email Address </th>
                                    <th> Actions </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Pieter</td>
                                    <td>Knaepen</td>
                                    <td>Pieter@company.com</td>
                                    <td>
                                        <a href="javascript:;" class="icon-lock2 mr-1 gray" uib-tooltip="Lock"></a>
                                        <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                                        <a href="javascript:;" class="icon-trash mr-h gray" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Eliesa</td>
                                    <td>Cooper</td>
                                    <td>eliesaPieter@company.com</td>
                                    <td>
                                        <a href="javascript:;" class="icon-lock2 mr-1 gray" uib-tooltip="Lock"></a>
                                        <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                                        <a href="javascript:;" class="icon-trash mr-h gray" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pieter</td>
                                    <td>Knaepen</td>
                                    <td>Pieter@company.com</td>
                                    <td>
                                        <a href="javascript:;" class="icon-lock2 mr-1 gray" uib-tooltip="Lock"></a>
                                        <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                                        <a href="javascript:;" class="icon-trash mr-h gray" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Eliesa</td>
                                    <td>Cooper</td>
                                    <td>eliesaPieter@company.com</td>
                                    <td>
                                        <a href="javascript:;" class="icon-lock2 mr-1 gray" uib-tooltip="Lock"></a>
                                        <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                                        <a href="javascript:;" class="icon-trash mr-h gray" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pieter</td>
                                    <td>Knaepen</td>
                                    <td>Pieter@company.com</td>
                                    <td>
                                        <a href="javascript:;" class="icon-lock2 mr-1 gray" uib-tooltip="Lock"></a>
                                        <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                                        <a href="javascript:;" class="icon-trash mr-h gray" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Eliesa</td>
                                    <td>Cooper</td>
                                    <td>eliesaPieter@company.com</td>
                                    <td>
                                        <a href="javascript:;" class="icon-lock2 mr-1 gray" uib-tooltip="Lock"></a>
                                        <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                                        <a href="javascript:;" class="icon-trash mr-h gray" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pieter</td>
                                    <td>Knaepen</td>
                                    <td>Pieter@company.com</td>
                                    <td>
                                        <a href="javascript:;" class="icon-lock2 mr-1 gray" uib-tooltip="Lock"></a>
                                        <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                                        <a href="javascript:;" class="icon-trash mr-h gray" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Eliesa</td>
                                    <td>Cooper</td>
                                    <td>eliesaPieter@company.com</td>
                                    <td>
                                        <a href="javascript:;" class="icon-lock2 mr-1 gray" uib-tooltip="Lock"></a>
                                        <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                                        <a href="javascript:;" class="icon-trash mr-h gray" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pieter</td>
                                    <td>Knaepen</td>
                                    <td>Pieter@company.com</td>
                                    <td>
                                        <a href="javascript:;" class="icon-lock2 mr-1 gray" uib-tooltip="Lock"></a>
                                        <a href="javascript:;" class="icon-edit mr-1 gray" uib-tooltip="Edit"> </a>
                                        <a href="javascript:;" class="icon-trash mr-h gray" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </uib-tab>
                        <uib-tab index="1" >
                            <uib-tab-heading>
                                Contributors <span class="badge-num">08</span>
                            </uib-tab-heading>
                            Some Tab Content
                        </uib-tab>
                             <a href="javascript:;"> <span class="icon-all pull-right font-2xl pt-h gray"> </span> </a>
                    </uib-tabset>

                </form>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 pr0">
            <div class="card widget2">
                <h6><i class="icon-users1"></i>CREATE</h6>
                <div class="card-block">
                    <div class="p-b-1">
                            <div class="form-group">
                                <label >Category</label>
                                <select class="form-control">
                                    <option value="Delegate">Delegate</option>
                                    <option value="2">Contributers</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label >First Name</label>
                                <input type="text" class="form-control">
                            </div>
                        <div class="form-group">
                            <label >Last Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label >Email Address</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-orange px-2" >CREATE</button>
                            <button type="button" class="btn btn-default px-2" >CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <!--/col-->
    </div>    <!--/col-->
</div>
