<div class="animated fadeIn">
    <div class="card-group col-lg-12 p0 contract-details">
        <div class="col-lg-8 pl0 large-widget">
            <div class="card col-lg-12 p0">
                <h5>Provider3</h5>
                <div class="card-block border-left-none">
                    <div class="h4 m-b-0">Status</div>
                    <span class="widget-span orange">Review In Progress</span>
                </div>
                <div class="card-block">
                    <div class="h4 m-b-0">Last Review</div>
                    <span class="widget-span">30 Sep, 2016</span>
                </div>
                <div class="card-block">
                    <div class="h4 m-b-0">Current Status</div>
                    <div class="status-widget font-weight-bold">
                        <span class="red-active"></span>
                        <span class=""></span>
                        <span class=""></span>
                    </div>
                </div>
                <div class="card-block">
                    <div class="prev-next-btns text-sm-right">
                        <a href="#" class="prev-btn"><i class="fa fa-angle-double-left"></i> PREV</a>
                        <a href="#" class="next-btn">NEXT <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 p0 mb-h">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default mb-h" heading="Selection Process" template-url="group-template.html" style="border: 1px solid #ccc;" is-open="status.open">
                        <uib-accordion-heading>
                            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            Attachments

                        </uib-accordion-heading>
                        <ul>
                            <li><a href="#">Request for Information (RFI)</a><span class="pull-right">N/A</span></li>
                            <li><a href="#">Request for Proposal (RFP)</a><span class="pull-right">N/A</span></li>
                            <li><a href="#">ISR(information Security Requirements)</a><span class="pull-right">N/A</span></li>
                            <li><a href="#">Selection</a><span class="pull-right">N/A</span></li>
                            <li><a href="#">Due Diligence and Negotiation</a><span class="pull-right">N/A</span></li>
                        </ul>
                    </div>
                </uib-accordion>
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default mb-h" heading="Contract Completeness" template-url="group-template.html" style="border: 1px solid #ccc;" is-open="status.open">
                        <uib-accordion-heading>
                            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            Contract Completeness
                        </uib-accordion-heading>
                        <ul>
                            <li><a href="#">Request for Information (RFI)</a><span class="pull-right skyblue">67% <span class="circle-o green-bg ml-h"></span></span></li>
                            <li><a href="#">Request for Proposal (RFP)</a><span class="pull-right skyblue">80% <span class="circle-o green-bg ml-h"></span></span></li>
                        </ul>
                    </div>
                </uib-accordion>
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default mb-h" heading="Contract Completeness" template-url="group-template.html" style="border: 1px solid #ccc;" is-open="status.open">
                        <uib-accordion-heading>
                            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            Risk / Compliance / Security
                        </uib-accordion-heading>
                        <ul>
                            <li><a href="#">Request for Information (RFI)</a><span class="pull-right skyblue"> <span class="circle-o green-bg ml-h"></span></span></li>
                            <li><a href="#">Request for Proposal (RFP)</a><span class="pull-right skyblue"> <span class="circle-o green-bg ml-h"></span></span></li>
                        </ul>
                    </div>
                </uib-accordion>
            </div>
        </div>
        <div class="col-lg-4 icons-widget pr0">
            <div class="card-group">
                <div class="card">
                    <div class="card-block">
                        <div class="h2 text-xs-center">
                            <i class="icon-export2"></i>
                        </div>
                        <small class="text-center font-weight-bold">Export</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="h2 text-xs-center">
                            <i class="icon-template-manage"></i>
                        </div>
                        <small class="text-center font-weight-bold">Change Log</small>
                    </div>
                </div>
                <div class="card active">
                    <div class="card-block">
                        <div class="h2 text-xs-center">
                            <i class="icon-finalize"></i>
                        </div>
                        <small class="text-center font-weight-bold">Finalize</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="group-template.html">
    <div class="accordion-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            <i class=" glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              {{heading}}

          </span>
                </a>
                <div class="pull-right">
                    <div class="status-widget font-weight-bold pull-left mr-1">
                        <span class="red-active"></span>
                        <span class=""></span>
                        <span class=""></span>
                    </div>
                    <div uib-dropdown on-toggle="toggled(open)" class="c-dropdown pull-right">
                        <a href uib-dropdown-toggle>
                            <span class="fa fa-ellipsis-v"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li >
                                <a href="#">sdfsdfsdfsd</a>
                            </li>
                            <li >
                                <a href="#">sdfsdfsdfsd</a>
                            </li>
                            <li >
                                <a href="#">sdfsdfsdfsd</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>