<div class="animated fadeIn">
    <div class="col-sm-12 col-md-12 p0">
        <div class="row">
            <div class="col-sm-12 review-design-widget white-bg p-1 card">
                <h4 class="f16">Review Design heading</h4>
                <div class="col-sm-12 questions-reviewList border-b pt-1" ng-repeat="b in [1,2,3,4]">
                    <h6 class="skyblue f14">Review questions list {{b}}</h6>
                    <ul>
                        <li ng-repeat="a in [1, 2, 3,4]" ng-init="iconShow[row][a]=false; row=b;">
                            <label class="checkbox display-inline-block mb-0" for="checkbox1" ><!--=={{iconShow[row][a]}}-->
                                <input  type="checkbox" id="checkbox1" ng-model="iconShow[row][a]" name="checkbox1" class="">Review question {{a}}
                            </label>
                            <a class="" href="javascript:;" ng-show="iconShow[row][a]" ng-click="showme[row][a] = ! showme[row][a]"><i class="icon-comment2"></i></a>
                            <div class="form-group" ng-show="showme[row][a]">
                                <textarea class="form-control" name="" cols="30" rows="3" placeholder="Comments"></textarea>
                                <button type="submit" class="btn btn-sm btn-primary mt-h"><i class="fa fa-dot-circle-o"></i> Save</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="review-warning">Review will be locked</div>
</div>