<div class="animated fadeIn">
    <div class="col-sm-12 col-md-12 p0">
        <div class="col-sm-8 col-md-8 contract-review pl0">
            <div class="">
                <div class="review-widget">
                    <div class="card">
                        <div class="card-block text-xs-center">
                            <div class=" text-uppercase font-weight-bold review-head">Selection Process</div>
                            <div class="text by-name">by: <span class="skyblue">Pieter Knaepen</span></div>
                            <div class="review-date">
                                <span class="">Last Review</span>
                                <p class="font-weight-bold mb-0">30 Sep, 2016</p>
                            </div>
                            <div class="review-status font-weight-bold">
                                N/A
                            </div>
                            <div class="col-sm-12 action-item-data">
                                <div class="item-count">
                                    <p>Action Item: <span class="skyblue">1</span></p>
                                    <p>Changes: <span class="skyblue">1</span></p>
                                </div>
                                <div class="item-view"><a href="#" class="icon-eye"></a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/col-->
                <div class="review-widget">
                    <div class="card">
                        <div class="card-block text-xs-center">
                            <div class=" text-uppercase font-weight-bold review-head">Contract Completeness</div>
                            <div class="text by-name">by: <span class="skyblue">Pieter Knaepen</span></div>
                            <div class="review-date">
                                <span class="">Last Review</span>
                                <p class="font-weight-bold mb-0">30 Sep, 2016</p>
                            </div>
                            <div class="status-widget font-weight-bold">
                                <span class="red-active"></span>
                                <span class=""></span>
                                <span class=""></span>
                            </div>
                            <div class="col-sm-12 action-item-data">
                                <div class="item-count">
                                    <p>Action Item: <span class="skyblue">1</span></p>
                                    <p>Changes: <span class="skyblue">1</span></p>
                                </div>
                                <div class="item-view"><a href="#" class="icon-eye"></a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/col-->
                <div class="review-widget">
                    <div class="card">
                        <div class="card-block text-xs-center">
                            <div class=" text-uppercase font-weight-bold review-head">Risk/Compliance/ security</div>
                            <div class="text by-name">by: <span class="skyblue">Pieter Knaepen</span></div>
                            <div class="review-date">
                                <span class="">Last Review</span>
                                <p class="font-weight-bold mb-0">30 Sep, 2016</p>
                            </div>
                            <div class="status-widget font-weight-bold">
                                <span class=""></span>
                                <span class=""></span>
                                <span class="green-active"></span>
                            </div>
                            <div class="col-sm-12 action-item-data">
                                <div class="item-count">
                                    <p>Action Item: <span class="skyblue">1</span></p>
                                    <p>Changes: <span class="skyblue">1</span></p>
                                </div>
                                <div class="item-view"><a href="#" class="icon-eye"></a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/col-->
                <div class="review-widget">
                    <div class="card">
                        <div class="card-block text-xs-center">
                            <div class=" text-uppercase font-weight-bold review-head">Performance plan</div>
                            <div class="text by-name"><span
                                    class="red text-uppercase font-weight-normal">In Progress</span></div>
                            <div class="review-date">
                                <span class="">Last Review</span>
                                <p class="font-weight-bold mb-0">30 Sep, 2016</p>
                            </div>
                            <div class="status-widget font-weight-bold">
                                <span class=""></span>
                                <span class="amber-active"></span>
                                <span class=""></span>
                            </div>
                            <div class="col-sm-12 action-item-data">
                                <div class="item-count">
                                    <p>Action Item: <span class="skyblue">1</span></p>
                                    <p>Changes: <span class="skyblue">1</span></p>
                                </div>
                                <div class="item-view"><a href="#" class="icon-eye"></a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/col-->
                <div class="review-widget mr-0">
                    <div class="card">
                        <div class="card-block text-xs-center">
                            <div class=" text-uppercase font-weight-bold review-head">relationship management</div>
                            <div class="text by-name"><span class="red text-uppercase font-weight-normal">Pending</span>
                            </div>
                            <div class="review-date">
                                <span class="">Last Review</span>
                                <p class="font-weight-bold mb-0">30 Sep, 2016</p>
                            </div>
                            <div class="status-widget font-weight-bold">
                                <span class="red-active"></span>
                                <span class=""></span>
                                <span class=""></span>
                            </div>
                            <div class="col-sm-12 action-item-data">
                                <div class="item-count">
                                    <p>Action Item: <span class="skyblue">1</span></p>
                                    <p>Changes: <span class="skyblue">1</span></p>
                                </div>
                                <div class="item-view"><a href="#" class="icon-eye"></a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/col-->
            </div>
            <div class="col-sm-12 col-md-12 p0 mb-1">
                <div class="">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="test"  template-url="group-template.html" style="border: 1px solid #ccc;" is-open="status.open">
                            <uib-accordion-heading>
                                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                Attachments
                                <span class="pull-right">

                                </span>

                            </uib-accordion-heading>
                            <table class="table table-custom table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Module</th>
                                    <th>Topic</th>
                                    <th>Uploaded</th>
                                    <th>By</th>
                                    <th>Attachments </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Provider 1</td>
                                    <td>Strategic</td>
                                    <td><span class="skyblue">IT Services</span></td>
                                    <td>31 Dec, 2016</td>
                                    <td>
                                        <a href="javascript:;" class="icon-edit gray mr-1" uib-tooltip="Edit"></a>
                                        <a href="javascript:;" class="icon-trash gray mr-1" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Provider 1</td>
                                    <td>Strategic</td>
                                    <td><span class="skyblue">IT Services</span></td>
                                    <td>31 Dec, 2016</td>
                                    <td>
                                        <a href="javascript:;" class="icon-edit gray mr-1" uib-tooltip="Edit"></a>
                                        <a href="javascript:;" class="icon-trash gray mr-1" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Provider 1</td>
                                    <td>Strategic</td>
                                    <td><span class="skyblue">IT Services</span></td>
                                    <td>31 Dec, 2016</td>
                                    <td>
                                        <a href="javascript:;" class="icon-edit gray mr-1" uib-tooltip="Edit"></a>
                                        <a href="javascript:;" class="icon-trash gray mr-1" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Provider 1</td>
                                    <td>Strategic</td>
                                    <td><span class="skyblue">IT Services</span></td>
                                    <td>31 Dec, 2016</td>
                                    <td>
                                        <a href="javascript:;" class="icon-edit gray mr-1" uib-tooltip="Edit"></a>
                                        <a href="javascript:;" class="icon-trash gray mr-1" uib-tooltip="Delete"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 p0">
            <div class="icons-widget pr0">
                <div class="card-group">
                    <div class="card">
                        <div class="card-block">
                            <div class="h2 text-xs-center">
                                <i class="icon-dashboard5"></i>
                            </div>
                            <small class="text-center font-weight-bold">Dashboard</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <div class="h2 text-xs-center">
                                <i class="icon-template-manage"></i>
                            </div>
                            <small class="text-center font-weight-bold">Change Log</small>
                        </div>
                    </div>
                    <div class="card active">
                        <div class="card-block">
                            <div class="h2 text-xs-center">
                                <i class="icon-finalize"></i>
                            </div>
                            <small class="text-center font-weight-bold">Finalize</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/ng-template" id="group-template.html">
    <div class="accordion-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                     <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            <i class=" glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            {{heading}}

          </span>
                </a>
                <div class="pull-right">
                    <div uib-dropdown on-toggle="toggled(open)" class="c-dropdown pull-right">
                        <a href uib-dropdown-toggle>
                            <span class="fa fa-ellipsis-v"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li >
                                <a href="#">sdfsdfsdfsd</a>
                            </li>
                            <li >
                                <a href="#">sdfsdfsdfsd</a>
                            </li>
                            <li >
                                <a href="#">sdfsdfsdfsd</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>
