<div class="animated fadeIn">
    <div class="col-md-12 col-sm-12 large-widget p0">
        <div class="card col-lg-12 p0 light-sky-bg">
            <h5 class="mb-0">Performance Plan</h5>
            <div class="card-block border-left-none">
                <div class="h4 m-b-0">Contributor</div>
                <span class="widget-span skyblue">None </span>
                <a href="#" class="icon-plus-circle f21 ml-3"></a>
            </div>
            <div class="card-block">
                <div class="h4 m-b-0">Last Review of this module</div>
                <span class="widget-span">30 Sep, 2016</span>
            </div>
            <div class="card-block">
                <div class="h4 m-b-0">Progress</div>
                <progress class="progress progress-sm progress-info mt-h mb-0" value="30" max="100">30%</progress>30%
            </div>
            <div class="card-block">
                <div class="h4 m-b-0">Current Status</div>
                <span class="orange">Review in Progress</span>
            </div>
            <div class="card-block">
                <div class="text-sm-right"><a href="#" class="icon-times f21 gray"></a></div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 p0">
            <div class="col-sm-12 col-md-12 p0 review-table">
                <h6 class="">Service Delivery - Scope
                    <span class="prev-next-btns pull-right font-sm">
                        <a href="#" class="prev-btn"><i class="fa fa-angle-double-left"></i> PREV</a>
                        Topic 1/9
                        <a href="#" class="next-btn">NEXT <i class="fa fa-angle-double-right"></i></a>
                    </span>
                </h6>
                <div class="card-block pt-h">
                    <table class="table table-custom table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Question</th>
                            <th>Answer</th>
                            <th>(Change)</th>
                            <th>Request for Proof</th>
                            <th>Your Feedback </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Service Catalogue or provider scope well defined</td>
                            <td>
                                <select class="form-control" >
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </td>
                            <td></td>
                            <td>Service Catalogue or other proof</td>
                            <td>
                                <input type="text" class="form-control" placeholder="abc">
                            </td>
                        </tr>
                        <tr>
                            <td>Service Catalogue or provider scope well defined</td>
                            <td>
                                <select class="form-control" id="">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </td>
                            <td></td>
                            <td>Service Catalogue or other proof</td>
                            <td>
                                <input type="text" class="form-control" placeholder="abc">
                            </td>
                        </tr>
                        <tr>
                            <td><i class="icon-clock skyblue"></i> Service Catalogue Review Periodicity</td>
                            <td>
                                <input type="text" class="form-control" placeholder="Annually">
                            </td>
                            <td><i class="fa fa-check green"></i></td>
                            <td>Service Catalogue or other proof</td>
                            <td>
                                <input type="text" class="form-control" placeholder="abc">
                            </td>
                        </tr>
                        <tr>
                            <td>Overall Satisfaction with delivery scope</td>
                            <td>
                                <!--<a href="#" class="f21"><i class="fa fa-check-circle green mr-h"></i></a>
                                <a href="#" class="f21"><i class="fa fa-circle-thin orange mr-h"></i></a>
                                <a href="#" class="f21"><i class="fa fa-circle-thin red"></i></a>-->
                                <div class="radio_widget">
                                    <input type="radio" id="radio1" name="same" checked>
                                    <label for="radio1" class="first_label"></label>
                                    <input type="radio" id="radio2" name="same">
                                    <label for="radio2" class="sec_label"></label>
                                    <input type="radio" id="radio3" name="same">
                                    <label for="radio3" class="third_label"></label>
                                </div>
                            </td>
                            <td><i class="fa fa-check green"></i></td>
                            <td>Service Catalogue or other proof</td>
                            <td>
                                <input type="text" class="form-control" placeholder="abc">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 mt-2 mb-2 text-sm-center">
                <button type="button" class="btn btn-sm btn-close white"><i class="icon-times"></i>&nbsp; CANCEL</button>
                <button type="button" class="btn btn-sm btn-danger with-red-bg"><i class="fa fa-share"></i>&nbsp; SAVE & EXIT</button>
                <button type="button" class="btn  btn-sm btn-primary"><i class="fa fa-angle-double-right"></i>&nbsp; SAVE & NEXT</button>
            </div>
            <div class="col-sm-12 col-md-12 p0">
                <table class="table table-custom table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Action Item</th>
                        <th>Responsible</th>
                        <th>Dut Date</th>
                        <th>Comments</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span class="skyblue">abc</span></td>
                        <td><span class="skyblue">Erik</span> </td>
                        <td>31 Mar,2017</td>
                        <td>Reason for the rejecting</td>
                        <td>
                            <a href="#" class="icon-edit mr-h"></a>
                            <a href="#" class="icon-trash"></a>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="skyblue">def</span></td>
                        <td><span class="skyblue">Peiter</span> </td>
                        <td>31 Mar,2017</td>
                        <td>Reason for the rejecting</td>
                        <td>
                            <a href="#" class="icon-edit mr-h"></a>
                            <a href="#" class="icon-trash"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>