<div class="animated fadeIn">
    <div class="card-group col-lg-12 p0 contract-details">
        <div class="col-lg-8 pl0 large-widget">
            <div class="card col-lg-12 p0">
                <h5>Provider3</h5>
                <div class="card-block border-left-none">
                    <div class="h4 m-b-0">Responsible</div>
                    <span uib-dropdown on-toggle="toggled(open)">
                      <a href id="simple-dropdown" uib-dropdown-toggle>
                          Erik Vanderstraeten
                      </a>
                      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                          <li >
                              <a href="#">sdfsdfsdfsd</a>
                          </li>
                          <li >
                              <a href="#">sdfsdfsdfsd</a>
                          </li>
                          <li >
                              <a href="#">sdfsdfsdfsd</a>
                          </li>
                      </ul>
                    </span>
                </div>
                <div class="card-block">
                    <div class="h4 m-b-0">Delegates</div>
                    <span uib-dropdown on-toggle="toggled(open)">
                      <a href id="simple-dropdown2" uib-dropdown-toggle>
                          Pedro Gonzalez
                      </a>
                      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                          <li >
                              <a href="#">sdfsdfsdfsd</a>
                          </li>
                          <li >
                              <a href="#">sdfsdfsdfsd</a>
                          </li>
                          <li >
                              <a href="#">sdfsdfsdfsd</a>
                          </li>
                      </ul>
                    </span>
                </div>
                <div class="card-block">
                    <div class="h4 m-b-0">Status</div>
                    <span class="widget-span orange">Pending Review</span>
                </div>
                <div class="card-block">
                    <div class="h4 m-b-0">Last Review</div>
                    <span class="widget-span">30 Sep, 2016</span>
                </div>
                <div class="card-block">
                    <div class="h4 m-b-0">Current Status</div>
                    <span class="widget-span">---</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 icons-widget pr0">
            <div class="card-group">
                <div class="card">
                    <div class="card-block">
                        <div class="h2 text-xs-center">
                            <i class="icon-edit2"></i>
                        </div>
                        <small class="text-center font-weight-bold">Edit</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="h2 text-xs-center">
                            <i class="icon-action-items"></i>
                        </div>
                        <small class="text-center font-weight-bold">Details</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="h2 text-xs-center">
                            <i class="icon-template-manage"></i>
                        </div>
                        <small class="text-center font-weight-bold">Log</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="h2 text-xs-center">
                            <i class="icon-dashboard5"></i>
                        </div>
                        <small class="text-center font-weight-bold">Dashboard</small>
                    </div>
                </div>
                <div class="card active">
                    <div class="card-block">
                        <div class="h2 text-xs-center">
                            <i class="icon-touchpoints"></i>
                        </div>
                        <small class="text-center font-weight-bold">Initiate</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 p0">
        <div class="col-sm-8 col-lg-8 pl0">
            <div class="card">
                <div class="card-block">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span class="label-control">Provider</span>
                            <p class="text-wdgt skyblue">Provider 3</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span class="label-control">Contract Name</span>
                            <p class="text-wdgt skyblue">Intradevosaa</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span class="label-control">Contract State Date</span>
                            <p class="text-wdgt">01 Jan, 2010</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span class="label-control">Contract End Date</span>
                            <p class="text-wdgt">31 Dec, 2010</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span class="label-control">Annual Contract Value (incl. VAT)</span>

                                <div uib-dropdown on-toggle="toggled(open)" class="">
                                    <a href uib-dropdown-toggle>
                                        <span class="gray">3,450,366 </span>EUR
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                        <li >
                                          <a href="#">sdfsdfsdfsd</a>
                                        </li>
                                        <li >
                                          <a href="#">sdfsdfsdfsd</a>
                                        </li>
                                        <li >
                                          <a href="#">sdfsdfsdfsd</a>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span class="label-control">Classification</span>
                            <select id="select" name="select" class="form-control input-lg" size="1">
                                <option value="0">Please select</option>
                                <option value="1">Critical</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <span class="label-control">Category</span>
                            <select id="" name="select" class="form-control input-lg" size="1">
                                <option value="0">Please select</option>
                                <option value="1">Strategic Business Relationship</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <span class="label-control">Automatic Prolongation</span>
                            <input type="checkbox" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <span class="label-control">Contract Description</span>
                            <p class="text-wdgt">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
                                Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat,
                                leo eget bibendum sodales, augue velit cursus nunc,
                            </p>
                        </div>
                    </div>
                    <h6 class="text-uppercase">Action Items (<span class="skyblue">5</span>)
                        <div uib-dropdown on-toggle="toggled(open)" class="c-dropdown pull-right">
                            <a href  uib-dropdown-toggle>
                                <span class="fa fa-ellipsis-v"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                <li >
                                    <a href="#">sdfsdfsdfsd</a>
                                </li>
                                <li >
                                    <a href="#">sdfsdfsdfsd</a>
                                </li>
                                <li >
                                    <a href="#">sdfsdfsdfsd</a>
                                </li>
                            </ul>
                        </div>
                    </h6>
                    <table class="table table-custom table-striped table-hover ng-scope">
                        <thead>
                        <tr>
                            <th>Module</th>
                            <th>Action Item</th>
                            <th>Responsible</th>
                            <th>Due Date</th>
                            <th>Actions </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Provider 1</td>
                            <td>Strategic</td>
                            <td><span class="skyblue">IT Services</span></td>
                            <td>31 Dec, 2016</td>
                            <td>
                                <a href="#" class="icon-edit gray mr-1" uib-tooltip="Edit"></a>
                                <a href="#" class="icon-trash gray" uib-tooltip="Delete"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Provider 1</td>
                            <td>Strategic</td>
                            <td><span class="skyblue">IT Services</span></td>
                            <td>31 Dec, 2016</td>
                            <td>
                                <a href="#" class="icon-edit gray mr-1" uib-tooltip="Edit"></a>
                                <a href="#" class="icon-trash gray" uib-tooltip="Delete"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Provider 1</td>
                            <td>Strategic</td>
                            <td><span class="skyblue">IT Services</span></td>
                            <td>31 Dec, 2016</td>
                            <td>
                                <a href="#" class="icon-edit gray mr-1" uib-tooltip="Edit"></a>
                                <a href="#" class="icon-trash gray" uib-tooltip="Delete"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Provider 1</td>
                            <td>Strategic</td>
                            <td><span class="skyblue">IT Services</span></td>
                            <td>31 Dec, 2016</td>
                            <td>
                                <a href="#" class="icon-edit gray mr-1" uib-tooltip="Edit"></a>
                                <a href="#" class="icon-trash gray" uib-tooltip="Delete"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 pr0">
            <div class="card widget2">
                <h6><i class="icon-attachment"></i>Attachments
                    <div uib-dropdown on-toggle="toggled(open)" class="c-dropdown pull-right">
                        <a href  uib-dropdown-toggle>
                            <span class="fa fa-ellipsis-v"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li >
                                <a href="#">sdfsdfsdfsd</a>
                            </li>
                            <li >
                                <a href="#">sdfsdfsdfsd</a>
                            </li>
                            <li >
                                <a href="#">sdfsdfsdfsd</a>
                            </li>
                        </ul>
                    </div>
                </h6>
                <div class="card-block">
                    <div class="p-b-1">
                        <p><a href="#"><i class="icon-arrow-down-circle f21"></i> Contract Provider 3_2016.pdf</a></p>
                        <p><a href="#"><i class="icon-arrow-down-circle f21"></i> Contract Provider 3_2016.pdf</a></p>
                    </div>
                </div>
            </div>
            <div class="card widget2">
                <h6><i class="icon-users1"></i>Contract Partners
                    <div uib-dropdown on-toggle="toggled(open)" class="c-dropdown pull-right">
                        <a href  uib-dropdown-toggle>
                            <span class="fa fa-ellipsis-v"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li >
                                <a href="#">sdfsdfsdfsd</a>
                            </li>
                            <li >
                                <a href="#">sdfsdfsdfsd</a>
                            </li>
                            <li >
                                <a href="#">sdfsdfsdfsd</a>
                            </li>
                        </ul>
                    </div>
                </h6>
                <div class="card-block">
                    <div class="partners-content">
                        <h5>Contract Sponsor:</h5>
                        <p> <span class="skyblue">Pierre Cardin</span> (Internal)</p>
                        <p> <span class="skyblue">Peter De Wolf</span> (Provider)</p>
                    </div>
                    <div class="partners-content">
                        <h5>Partner Relationship Manager:</h5>
                        <p><span class="skyblue">John Wood</span> (Internal)</p>
                        <p> <span class="skyblue">Jeremy Fishhead</span> (Provider)</p>
                    </div>
                    <div class="partners-content">
                        <h5>Contract Responsible:</h5>
                        <p>  <span class="skyblue">Freddy De Vadder</span> (Internal)</p>
                        <p> <span class="skyblue">Bobby-Ray Vaughn</span> (Provider)</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/col-->
    </div>

</div>