<div class="animated fadeIn">
    <div class="contract-overview">
        <div class="row">
            <div class="col-lg-7">
                <div class="card">
                    <div class="col-sm-12 tableSelect-header">
                        <div class="form-group row col-sm-5">
                            <select class="form-control" id="select" name="select" size="1">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                        <span class="pull-right">
                            <a href="#"><i class="fa fa-search"></i></a>
                            <button class="btn btn-sm btn-primary" type="button"><i class="icon-plus"></i>&nbsp; CREATE</button>
                        </span>
                    </div>
                    <table class="table table-custom table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Provider</th>
                            <th>Category</th>
                            <th>Contract Name</th>
                            <th>Review By</th>
                            <th>Last Review </th>
                            <th>Actual Score</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="skyblue">Provider 1</span></td>
                            <td>Strategic</td>
                            <td>IT Services</td>
                            <td>31 Dec, 2016</td>
                            <td>12 Oct, 2016</td>
                            <td>
                                <div class="status-widget">
                                    <span class=""></span>
                                    <span class="amber-active"></span>
                                    <span class=""></span>
                                </div>
                            </td>
                            <td>
                                <a href="javascript:;" class="icon-undo1 orange mr-h"></a>
                                <span uib-dropdown on-toggle="toggled(open)" class="c-dropdown width-20">
                                    <a href  uib-dropdown-toggle class="font-sm">
                                        <span class="fa fa-ellipsis-v"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                        <li >
                                            <a href="#">action 1</a>
                                        </li>
                                        <li >
                                            <a href="#">action 2</a>
                                        </li>
                                        <li >
                                            <a href="#">action 3</a>
                                        </li>
                                    </ul>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="skyblue">Provider 1</span></td>
                            <td>Strategic</td>
                            <td>Catering</td>
                            <td>31 Dec, 2016</td>
                            <td>12 Oct, 2016</td>
                            <td>
                                <div class="status-widget">
                                    <span class="red-active"></span>
                                    <span class=""></span>
                                    <span class=""></span>
                                </div>
                            </td>
                            <td>
                                <a href="javascript:;" class="icon-undo1 orange mr-h"></a>
                                <span uib-dropdown on-toggle="toggled(open)" class="c-dropdown width-20">
                                    <a href  uib-dropdown-toggle class="font-sm">
                                        <span class="fa fa-ellipsis-v"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                        <li >
                                            <a href="#">action 1</a>
                                        </li>
                                        <li >
                                            <a href="#">action 2</a>
                                        </li>
                                        <li >
                                            <a href="#">action 3</a>
                                        </li>
                                    </ul>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="skyblue">Provider 2</span></td>
                            <td>Strategic</td>
                            <td>Hardware</td>
                            <td>31 Dec, 2016</td>
                            <td>12 Oct, 2016</td>
                            <td>
                                <div class="status-widget">
                                    <span class=""></span>
                                    <span class=""></span>
                                    <span class="green-active"></span>
                                </div>
                            </td>
                            <td>
                                <a href="javascript:;" class="icon-undo1 orange mr-h"></a>
                                <span uib-dropdown on-toggle="toggled(open)" class="c-dropdown width-20">
                                    <a href  uib-dropdown-toggle class="font-sm">
                                        <span class="fa fa-ellipsis-v"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                        <li >
                                            <a href="#">action 1</a>
                                        </li>
                                        <li >
                                            <a href="#">action 2</a>
                                        </li>
                                        <li >
                                            <a href="#">action 3</a>
                                        </li>
                                    </ul>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="badge-num">5</span><span class="skyblue">Provider 2</span></td>
                            <td>Strategic</td>
                            <td>Interdiocesaan</td>
                            <td>31 Dec, 2016</td>
                            <td>12 Oct, 2016</td>
                            <td>
                                <div class="status-widget">
                                    <span class=""></span>
                                    <span class="amber-active"></span>
                                    <span class=""></span>
                                </div>
                            </td>
                            <td>
                                <a href="javascript:;" class="icon-undo1 orange mr-h"></a>
                                <span uib-dropdown on-toggle="toggled(open)" class="c-dropdown width-20">
                                    <a href  uib-dropdown-toggle class="font-sm">
                                        <span class="fa fa-ellipsis-v"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                        <li >
                                            <a href="#">action 1</a>
                                        </li>
                                        <li >
                                            <a href="#">action 2</a>
                                        </li>
                                        <li >
                                            <a href="#">action 3</a>
                                        </li>
                                    </ul>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="dashboard-chart">
                    <img src="img/chart1.jpg" alt="">
                </div>
            </div>
        </div>
        <!--/col-->


    </div>
    <div>

    </div>

    <!--/row-->
</div>