<div class="animated fadeIn">
    <div class="col-sm-12">
        <div class="row" ng-hide="customerTable">
            <div class="col-sm-12 p0">
                <span class="pull-right breadcrumb-btn">
                    <button class="btn btn-sm btn-primary" ng-click="customerTable =! customerTable" type="button"><i class="icon-plus"></i>&nbsp; ADD</button>
                </span>
            </div>
            <table class="table table-custom table-striped table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Company Name</th>
                    <th>#Contracts</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width: 50px;">
                        <span class="country-logo"><img src="../img/logowith.png" /> </span>
                    </td>
                    <td>Pieter</td>
                    <td>10</td>
                    <td>city-1</td>
                    <td>USA</td>
                    <td>
                        <a ui-sref="app.manage-admin" class="icon-master mr-1 color-ad"  data-toggle="tooltip" title="Manage Admin"></a>
                        <a ui-sref="app.manage-user" class="icon-registrant-template mr-1 color-us" data-toggle="tooltip" title="Manage User"></a>
                        <a href="#" class="icon-edit mr-1" ng-click="customerTable =! customerTable" data-toggle="tooltip" title="Edit"></a>
                        <a href="#" class="icon-trash" data-toggle="tooltip" title="Delete"></a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50px;">
                        <span class="country-logo"><img src="../img/logowith.png" /> </span>
                    </td>
                    <td>Pieter</td>
                    <td>15</td>
                    <td>city-1</td>
                    <td>USA</td>
                    <td>
                        <a ui-sref="app.manage-admin" class="icon-master mr-1 color-ad" data-toggle="tooltip" title="Manage Admin"></a>
                        <a ui-sref="app.manage-user" class="icon-registrant-template mr-1 color-us" data-toggle="tooltip" title="Manage User"></a>
                        <a href="#" class="icon-edit mr-1" ng-click="customerTable =! customerTable" data-toggle="tooltip" title="Edit"></a>
                        <a href="#" class="icon-trash" data-toggle="tooltip" title="Delete"></a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50px;">
                        <span class="country-logo"><img src="../img/logowith.png" /> </span>
                    </td>
                    <td>Pieter</td>
                    <td>05</td>
                    <td>city-1</td>
                    <td>USA</td>
                    <td>
                        <a ui-sref="app.manage-admin" class="icon-master mr-1 color-ad" data-toggle="tooltip" title="Manage Admin"></a>
                        <a ui-sref="app.manage-user" class="icon-registrant-template mr-1 color-us" data-toggle="tooltip" title="Manage User"></a>
                        <a href="#" class="icon-edit mr-1" ng-click="customerTable =! customerTable" data-toggle="tooltip" title="Edit"></a>
                        <a href="#" class="icon-trash" data-toggle="tooltip" title="Delete"></a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50px;">
                        <span class="country-logo"><img src="../img/logowith.png" /> </span>
                    </td>
                    <td>Pieter</td>
                    <td>08</td>
                    <td>city-1</td>
                    <td>USA</td>
                    <td>
                        <a ui-sref="app.manage-admin" class="icon-master mr-1 color-ad" data-toggle="tooltip" title="Manage Admin"></a>
                        <a ui-sref="app.manage-user" class="icon-registrant-template mr-1 color-us" data-toggle="tooltip" title="Manage User"></a>
                        <a href="#" class="icon-edit mr-1" ng-click="customerTable =! customerTable" data-toggle="tooltip" title="Edit"></a>
                        <a href="#" class="icon-trash" data-toggle="tooltip" title="Delete"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">4</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </div>
        <div class="add-customer" ng-show="customerTable">
            <div class="col-sm-12 p0">
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <strong>Create Customer</strong>
                        </div>
                        <div class="card-block">
                            <div class="form-group col-sm-4">
                                <label for="name">Company Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your name">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="Enter your city">
                            </div>
                            <div class="form-group col-sm-4">
                                <label >Country</label>
                                <select class="form-control" id="country" placeholder="Select Country">
                                    <option value="1">country-1</option>
                                    <option value="1">country-2</option>
                                    <option value="1">country-2</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="form-control-label" for="file-input">Company Logo</label>
                                <input type="file" class="form-control" id="file-input" name="file-input">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="postal-code">Postal Code</label>
                                <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="vat">VAT Number</label>
                                <input type="text" class="form-control" id="vat" placeholder="Postal Code">
                            </div>
                            <div class="form-group col-sm-12">
                                <label class=" form-control-label" for="textarea-input">Company Address</label>
                                <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder="Content.."></textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                            <button type="reset" class="btn btn-sm btn-danger" ng-click="customerTable =! customerTable"><i class="fa fa-ban"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>