<div class="animated fadeIn">
    <div class="col-sm-12 p0">
        <table class="table table-custom table-striped table-hover">
            <thead>
            <tr>
                <th>Module</th>
                <th>Topic</th>
                <th>#Questions</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Module-1</td>
                <td>topic-1</td>
                <td>3</td>
                <td><a href="javascript:;" ui-sref="app.questions-view" class="icon-gear2 gray" uib-tooltip=""></a></td>
            </tr>
            <tr>
                <td>Module-2</td>
                <td>topic-2</td>
                <td>5</td>
                <td><a href="javascript:;" ui-sref="app.questions-view" class="icon-gear2 gray"></a></td>
            </tr>
            <tr>
                <td>Module-3</td>
                <td>topic-3</td>
                <td>0</td>
                <td><a href="javascript:;" ui-sref="app.questions-view" class="icon-gear2 gray"></a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>