<div class="animated fadeIn">
    <div class="qpanel product-clist  clearfix">
        <div class="panel-left-wrap">
            <h6 class="heading pb10">Chose Your Question Type</h6>
            <div class="panel-btn-wrap pb10">
                <ul class="clearfix">
                    <li>
                        <a href="javascript:;" ng-click="loadModal()"><i class="icon-input-text"></i>Input Text </a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="loadModal()"><i class="icon-yes-no"></i> Yes / No </a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="loadModal()"><i class="icon-list"></i> Dropdown</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="loadModal()"><i class="icon-rgb1"></i> R | A | G </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="panel-right-wrap">
            <!--<h2 class="heading text-capitalize p15 ash-bg border-bottom-color">{{title}}

            </h2>-->
            <div class="q-box mb10 scroll-div-wrap">


                <div class="a-ques-list">
                    <!--<h6 class=" clearfix">
                        <div class=" icons-wrap-list pull-right">
                            <a href="javascript:;" class="font-sm"><i class="icon-edit"></i> </a>
                        </div>
                    </h6>-->
                    <ul>
                        <li >
                            <div class="acc-wrapper accordian-wrapper q-acc-wrap">
                                <div class="clearfix acc-head q-acc-head">
                                        <div class="onoffswitch pull-left">
                                            <input type="checkbox" class="onoffswitch-checkbox" id="switch" checked>
                                            <label class="onoffswitch-label" for="switch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div >
                                        <uib-accordion close-others="oneAtATime">
                                            <div uib-accordion-group class="panel-default mb-h" heading="Selection Process" template-url="questions-acc.html" is-open="status.open">
                                                <uib-accordion-heading>

                                                    <div class="question-text">This is First Question?</div>

                                                </uib-accordion-heading>
                                                <div class="form-group col-md-6 p0">
                                                    <div class="col-md-9 p0">
                                                        <label class="radio-inline col-md-12 p0" for="inline-radio3">
                                                            <input type="radio" id="inline-radio3"
                                                                   name="inline-radios" value="male"> {{'Male' |translate}}
                                                        </label>
                                                        <label class="radio-inline col-md-12 p0" for="inline-radio4">
                                                            <input type="radio"  id="inline-radio4"
                                                                   name="inline-radios" value="female"> {{'Female' | translate}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-accordion>
                                </div>
                                <div class="acc-body">
                                    <div class="acc-data" ng-if="show_options">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="acc-wrapper accordian-wrapper q-acc-wrap">
                                <div class="clearfix acc-head q-acc-head">
                                    <div class="onoffswitch pull-left">
                                        <input type="checkbox" class="onoffswitch-checkbox" id="switch2" checked>
                                        <label class="onoffswitch-label" for="switch2">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                    <uib-accordion close-others="oneAtATime">
                                        <div uib-accordion-group class="panel-default mb-h" heading="Selection Process" template-url="questions-acc.html" is-open="status.open">
                                            <uib-accordion-heading>

                                                <div class="question-text">This is Second Question?</div>

                                            </uib-accordion-heading>
                                            <div class="form-group col-md-6 p0">
                                                <div class="col-md-9 p0">
                                                    <label class="radio-inline col-md-12 p0" for="inline-radio2">
                                                        <input type="radio" id="inline-radio2"
                                                               name="inline-radios" value="male"> {{'Male' |translate}}
                                                    </label>
                                                    <label class="radio-inline col-md-12 p0" for="inline-radio1">
                                                        <input type="radio"  id="inline-radio1"
                                                               name="inline-radios" value="female"> {{'Female' | translate}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-accordion>
                                </div>
                                <div class="acc-body">
                                    <div class="acc-data" ng-if="show_options">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="questions-acc.html">
    <div class="accordion-default">
        <div class="panel-heading">
            <h4 class="panel-title p-0">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            <i class=" glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              {{heading}}

          </span>
                </a>
                <div class="pull-right">
                    <div uib-dropdown on-toggle="toggled(open)" class="c-dropdown pull-right">
                        <a href uib-dropdown-toggle>
                            <span class="fa fa-ellipsis-v"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li >
                                <a href="#">Edit</a>
                            </li>
                            <li >
                                <a href="#">Disable</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="questions-modal.html">
    <div class="modal-header" >
        <h6 class="modal-title">Add Questions
            <a  ng-click="cancel()" uib-tooltip="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
        </h6>
    </div>
    <div class="modal-body clearfix">
        <form class="" name="form" >
            <div class="form-group col-sm-12">
                <label class=" ">{{'Category Name' | translate}}</label>
                <input type="text" name="assessment_question_category_name" class="form-control" placeholder="Type your Category Name" required/>
            </div>

            <div class="form-group col-sm-12">
                <label class="">{{'All Sectors' | translate}}</label>
                <input type="checkbox" class="form-control">
            </div>
            <div class="form-group col-sm-12" >
                <label class="">{{'Sector' | translate}}</label>
                <select class="form-control" name="sector_id" data-placeholder="Please Select Sector" required>
                    <option value="0">--Select--</option>
                    <option value="1">option-1</option>
                    <option value="2">option-2</option>
                    <option value="3">option-3</option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label class="">{{'Question Type' | translate}} *</label>
                <select class="form-control">
                    <option value="">--Select--</option>
                </select>
            </div>
            <div class="form-inline col-sm-12 mb-h">
                <div class="form-group">
                    <label class="pr-1">{{'1' | translate}}</label>
                    <input type="text" class="form-control" placeholder="Yes">
                    <!--<a href="javascript:;" class="icon-minus-circle f21 red ml-h pt-h pull-right"></a>-->
                </div>
            </div>
            <div class="form-inline col-sm-12 mb-h">
                <div class="form-group">
                    <label class="pr-1">{{'2' | translate}}</label>
                    <input type="text" class="form-control" placeholder="No">
                    <a href="javascript:;" class="icon-plus-circle f21 green ml-h pt-h pull-right"></a>
                    <a href="javascript:;" class="icon-minus-circle f21 red ml-h pt-h pull-right"></a>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="">{{'Request for Proof' | translate}} *</label>
                <input type="text" class="form-control">
            </div>
        </form>
        <div class="col-sm-12 questions-list-form">
            <h6 class="">Settings <span class="pull-right">Required</span></h6>
            <div class="switch-view">
                <ul>
                    <li>
                        <a href="javascript:;"><i class="fa fa-question-circle darkcolor  mr10"></i></a>
                        Strategic
                        <div class="onoffswitch pull-right">
                            <input type="checkbox" name="onoffswitch_toggle" class="onoffswitch-checkbox " id="setting1" checked>
                            <label class="onoffswitch-label assessment-switch mb-0" for="setting1">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-question-circle darkcolor  mr10"></i></a>
                        Tactical
                        <div class="onoffswitch pull-right">
                            <input type="checkbox" name="onoffswitch_toggle" class="onoffswitch-checkbox " id="setting2" checked>
                            <label class="onoffswitch-label assessment-switch" for="setting2">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </li>
                </ul>

                </h5>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary"
        >{{'Save' | translate}}
        </button>
        <button type="reset" class="btn btn-sm btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> {{'general.cancel' | translate}}</button>
    </div>
</script>
<!--
<div class="modal-header">
    <h6 class="modal-title" id="modal-title">{{title}} {{'module.module' | translate}}
        <a  ng-click="cancel()" uib-tooltip="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
    </h6>
</div>
<div class="modal-body clearfix" id="modal-body">
    <form novalidate name="moduleForm" ng-submit="save(module) && moduleForm.$valid()">
        <div class="col-md-12 form-group">
            <label>{{'module.module_name' | translate}}</label>
            <input type="text" ng-model="module.module_name" class="form-control" name="module_name" required/>
            <span class="error-message" ng-if="moduleForm.module_name.$error.required && moduleForm.$submitted">{{'general.required_field' | translate}}</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary"
    ><i class="fa fa-dot-circle-o"></i> {{'general.submit' | translate}}</button>
    <button type="reset" class="btn btn-sm btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> {{'general.cancel' | translate}}</button>
</div>-->
