<div class="animated fadeIn">
    <div class="col-sm-12">
        <div class="row" ng-hide="settingTable">
            <div class="col-sm-12 p0">
                <!--<span class="pull-right breadcrumb-btn">
                    <button class="btn btn-sm btn-primary" ng-click="adminTable =! adminTable" type="button"><i class="icon-plus"></i>&nbsp; ADD</button>
                </span>-->
                <div class="search">
                    <div class="form-group col-sm-4 pl0">
                        <input type="search" class="form-control">
                    </div>
                </div>
            </div>
            <table class="table table-custom table-striped table-hover">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Language</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>email.smtphost-1</td>
                    <td>1432</td>
                    <td>Global</td>
                    <td>
                        <a href="#" class="icon-edit mr-1" ng-click="settingTable =! settingTable" data-toggle="tooltip" title="Edit"></a>
                        <a href="#" class="icon-trash mr-1" data-toggle="tooltip" title="Delete"></a>
                    </td>
                </tr>
                <tr>
                    <td>email.smtphost-2</td>
                    <td>3435</td>
                    <td>English</td>
                    <td>
                        <a href="#" class="icon-edit mr-1" ng-click="settingTable =! settingTable" data-toggle="tooltip" title="Edit"></a>
                        <a href="#" class="icon-trash mr-1" data-toggle="tooltip" title="Delete"></a>
                    </td>
                </tr>
                <tr>
                    <td>email.smtphost-3</td>
                    <td>2337</td>
                    <td>Spanish</td>
                    <td>
                        <a href="#" class="icon-edit mr-1" ng-click="settingTable =! settingTable" data-toggle="tooltip" title="Edit"></a>
                        <a href="#" class="icon-trash mr-1" data-toggle="tooltip" title="Delete"></a>
                    </td>
                </tr>
                <tr>
                    <td>email.smtphost-4</td>
                    <td>5534</td>
                    <td>Global</td>
                    <td>
                        <a href="#" class="icon-edit mr-1" ng-click="settingTable =! settingTable" data-toggle="tooltip" title="Edit"></a>
                        <a href="#" class="icon-trash mr-1" data-toggle="tooltip" title="Delete"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">4</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </div>
        <div class="settings-form" ng-show="settingTable">
            <div class="col-sm-12 p0">
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <strong>Settings</strong>
                        </div>
                        <div class="card-block">
                            <div class="form-group col-sm-4">
                                <label class="form-control-label" for="key">Key</label>
                                <input type="text" class="form-control" name="" id="key">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="val1">Value</label>
                                <input type="text" class="form-control" id="val1" placeholder="">
                            </div>
                            <div class="form-group col-sm-4">
                                <label >Language</label>
                                <select class="form-control" placeholder="">
                                    <option value="0">-Select--</option>
                                    <option value="1">Global</option>
                                    <option value="1">English</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                            <button type="reset" class="btn btn-sm btn-danger" ng-click="settingTable =! settingTable"><i class="fa fa-ban"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>