<div class="animated fadeIn">
    <div class="col-md-12">
        <div class="row vertical-tabs-widget">
            <uib-tabset active="" vertical="true" type="">
                <uib-tab index="0" heading="Modules">
                    <table class="table table-custom table-striped table-hover">
                        <thead>
                        <tr>
                            <td colspan="8">
                                <div class="col-sm-12 clearfix p0">
                                    <!--<div class="form-group col-sm-4 mb-0 pl0">
                                        <select class="form-control" name="" id="">
                                            <option value="0">&#45;&#45;Select&#45;&#45;</option>
                                            <option value="1">option-1</option>
                                            <option value="1">option-2</option>
                                            <option value="1">option-3</option>
                                        </select>
                                    </div>-->
                                    <div class="action-head mb0 clearfix">
                                        <span class="pull-right ml-h mt-h">
                                            <button class="btn btn-sm btn-primary" type="button" ng-click="loadModal()"><i class="icon-plus"></i>&nbsp; Add</button>
                                        </span>
                                        <div class="col-sm-3 p0 table-search pull-right mt-h">
                                            <input type="text" class="form-control" placeholder="search"
                                                   st-search="search_key">
                                            <i class="fa icon-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Module Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Module-1</td>
                            <td><a href="#" class="icon-trash gray"></a></td>
                        </tr>
                        <tr>
                            <td>Module-2</td>
                            <td><a href="#" class="icon-trash gray"></a></td>
                        </tr>
                        <tr>
                            <td>Module-3</td>
                            <td><a href="#" class="icon-trash gray"></a></td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab index="1" heading="Topics">
                    <table class="table table-custom table-striped table-hover">
                        <thead>
                        <tr>
                            <td colspan="8">
                                <div class="col-sm-12 clearfix p0">
                                    <div class="form-group col-sm-4 mb-0 pl0">
                                        <select class="form-control">
                                            <option value="0">--Select Module--</option>
                                            <option value="1">Module-1</option>
                                            <option value="1">Module-2</option>
                                            <option value="1">Module-3</option>
                                        </select>
                                    </div>
                                    <div class="action-head mb0 pt-h clearfix">
                                    <span class="pull-right ml-h">
                                        <button class="btn btn-sm btn-primary" type="button" ng-click="loadModal()"><i class="icon-plus"></i>&nbsp; Add</button>
                                    </span>
                                        <div class="col-sm-3 p0 table-search pull-right">
                                            <input type="text" class="form-control" placeholder="search"
                                                   st-search="search_key">
                                            <i class="fa icon-search"></i>
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Topic Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Topic-1</td>
                            <td><a href="#" class="icon-trash gray"></a></td>
                        </tr>
                        <tr>
                            <td>Topic-2</td>
                            <td><a href="#" class="icon-trash gray"></a></td>
                        </tr>
                        <tr>
                            <td>Topic-3</td>
                            <td><a href="#" class="icon-trash gray"></a></td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab index="2" heading="Questions">
                    <table class="table table-custom table-striped table-hover">
                        <thead>
                        <tr>
                            <td colspan="8">
                                <div class="col-sm-12 clearfix p0">
                                    <div class="form-group col-sm-4 mb-0 pl0">
                                        <select class="form-control">
                                            <option value="0">--Select Topic--</option>
                                            <option value="1">Topic-1</option>
                                            <option value="1">Topic-2</option>
                                            <option value="1">Topic-3</option>
                                        </select>
                                    </div>
                                    <div class="action-head mb0 pt-h clearfix">
                                    <span class="pull-right ml-h">
                                        <button class="btn btn-sm btn-primary" type="button"  ng-click="loadModal()"><i class="icon-plus"></i>&nbsp; Add</button>
                                    </span>
                                        <div class="col-sm-3 p0 table-search pull-right">
                                            <input type="text" class="form-control" placeholder="search"
                                                   >
                                            <i class="fa icon-search"></i>
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Questions</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Question-1</td>
                            <td><a href="#" class="icon-trash gray"></a></td>
                        </tr>
                        <tr>
                            <td>Question-2</td>
                            <td><a href="#" class="icon-trash gray"></a></td>
                        </tr>
                        <tr>
                            <td>Question-3</td>
                            <td><a href="#" class="icon-trash gray"></a></td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<script type="text/ng-template" id="templates-modal.html">
    <div class="modal-header" >
        <h6 class="modal-title">Add
            <a  ng-click="cancel()" uib-tooltip="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
        </h6>
    </div>
    <div class="modal-body clearfix">
        <ul>
            <li>
                <label class="checkbox" for="inline-checkbox1">
                    <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1">Topic-1
                </label>
            </li>
            <li>
                <label class="checkbox" for="inline-checkbox2">
                    <input type="checkbox" id="inline-checkbox2" name="inline-checkbox1" value="option1">Topic-2
                </label>
            </li>
            <li>
                <label class="checkbox" for="inline-checkbox3">
                    <input type="checkbox" id="inline-checkbox3" name="inline-checkbox1" value="option1">Topic-3
                </label>
            </li>
        </ul>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{'submit' | translate}}</button>
        <button type="reset" class="btn btn-sm btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> {{'general.cancel' | translate}}</button>
    </div>
</script>
