<div class="animated fadein">
    <div class="col-sm-12 p0">
        <div class="row">
            <table class="table table-custom table-striped table-hover">
                <thead>
                <tr>
                    <td colspan="8">
                        <div class="col-sm-12 clearfix p0">
                            <div class="action-head mb0">
                                    <span class="pull-right ml-h">
                                        <button class="btn btn-sm btn-primary" type="button"><i class="icon-plus"></i>&nbsp;
                                            Create
                                        </button>
                                    </span>
                                <div class="col-sm-3 p0 table-search pull-right">
                                <input type="text" class="form-control" placeholder="search">
                                <i class="fa icon-search"></i>
                            </div>

                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Template Name</th>
                    <th>Assigned To</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Template-1</td>
                    <td>
                        <a href="javascript:;">Customer-1</a>,
                        <a href="javascript:;">Customer-2</a>,
                        <a href="javascript:;" class="icon-ellipsis-circle gray ml-h" popover-trigger="'outsideClick'" popover-placement="top"  uib-popover-html="htmlPopover"></a>

                    </td>
                    <td>31 Dec, 2016</td>
                    <td><span class="green">Active</span></td>
                    <td><a href="javascript:;" ui-sref="app.templates-view" class="icon-gear2 gray"></a></td>
                </tr>
                <tr>
                    <td>Template-2</td>
                    <td>
                        <a href="javascript:;">Customer-1</a>,
                        <a href="javascript:;">Customer-2</a>,
                        <a href="javascript:;" class="icon-ellipsis-circle gray ml-h" popover-trigger="'outsideClick'" popover-placement="top"  uib-popover-html="htmlPopover"></a>

                    </td>
                    <td>31 Dec, 2016</td>
                    <td><span class="red">Inactive</span></td>
                    <td><a href="javascript:;" ui-sref="app.templates-view" class="icon-gear2 gray"></a></td>
                </tr>
                <tr>
                    <td>Template-3</td>
                    <td>
                        <a href="javascript:;">Customer-1</a>,
                        <a href="javascript:;">Customer-2</a>,
                        <a href="javascript:;" class="icon-ellipsis-circle gray ml-h" popover-trigger="'outsideClick'" popover-placement="top"  uib-popover-html="htmlPopover"></a>

                    </td>
                    <td>31 Dec, 2016</td>
                    <td><span class="green">Active</span></td>
                    <td><a href="javascript:;" ui-sref="app.templates-view"class="icon-gear2 gray"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--
<script type="text/ng-template" id="PopoverTemplate.html">
    <div>some</div>
    <div class="form-group">
        <label>Popup Title:</label>
        <input type="text" class="form-control">
    </div>
</script>-->
