<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>Basic Form</strong> Elements
                </div>
                <div class="card-block clearfix">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label >Text Field</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label >Email</label>
                            <input type="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label >Password</label>
                            <input type="password" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label >Select box</label>
                            <select class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label >Disabled Text Field</label>
                            <input type="text" id="disabled-input" name="" class="form-control" disabled="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label >Disabled Select Box</label>
                            <select class="form-control" disabled="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-control-label">Inline Radio Buttons</label>
                            <div class="">
                                <label class="radio-inline" for="inline-radio1">
                                    <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> One
                                </label>
                                <label class="radio-inline" for="inline-radio2">
                                    <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Two
                                </label>
                                <label class="radio-inline" for="inline-radio3">
                                    <input type="radio" id="inline-radio3" name="inline-radios" value="option3"> Three
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-control-label">Inline Checkboxes</label>
                            <div class="">
                                <label class="checkbox-inline" for="inline-checkbox1">
                                    <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1">One
                                </label>
                                <label class="checkbox-inline" for="inline-checkbox2">
                                    <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2">Two
                                </label>
                                <label class="checkbox-inline" for="inline-checkbox3">
                                    <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3">Three
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-control-label" for="file-input">File input</label>
                            <input type="file" class="form-control" id="file-input" name="file-input">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Validation states</strong> Form
                </div>
                <div class="card-block">
                    <div class="col-sm-4">
                        <div class="form-group has-success">
                            <label class="form-form-control-label" for="inputSuccess1">Input with success</label>
                            <input type="text" class="form-control" id="inputSuccess1">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group has-warning">
                            <label class="form-form-control-label" for="inputWarning1">Input with warning</label>
                            <input type="text" class="form-control" id="inputWarning1">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group has-danger">
                            <label class="form-form-control-label" for="inputError1">Input with error</label>
                            <input type="text" class="form-control" id="inputError1">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group has-success">
                            <label class="form-form-control-label" for="inputSuccess2">Input with success</label>
                            <input type="text" class="form-control form-control-success" id="inputSuccess2">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group has-warning">
                            <label class="form-form-control-label" for="inputWarning2">Input with warning</label>
                            <input type="text" class="form-control form-control-warning" id="inputWarning2">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group has-danger has-feedback">
                            <label class="form-form-control-label" for="inputError2">Input with error</label>
                            <input type="text" class="form-control form-control-danger" id="inputError2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong>Validation states</strong> with optional icons
                </div>

            </div>
        </div>
        <!--/col-->
    </div>
</div>