<div class="modal-header">
    <h6 class="modal-title" id="modal-title">{{title | translate}} {{'templates.template' | translate}}
        <a ng-click="cancel()" title="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
    </h6>
</div>
<form novalidate name="templateForm" ng-submit="templateForm.$valid && saveTemplate(template)">
    <div class="modal-body clearfix" id="modal-body">
        <div class="col-md-12 form-group" ng-if="!template.id_template">
            <label>{{'templates.clone_template' | translate}}</label>
            <select class="form-control" ng-model="template.clone_template_id"
                    ng-options="item.id_template as item.template_name for item in templates">
                <option value="">-- {{'templates.select_clone' | translate}} --</option>
            </select>
        </div>
        <!--<div class="text-sm-center"  ng-if="!template.id_template">( {{'general.OR' | translate}} )</div>-->
        <div class="col-md-12 form-group">
            <label>{{'templates.template_name' | translate}} *</label>
            <input type="text" ng-model="template.template_name" class="form-control"
                    name="template_name" ng-required="!template.clone_template_id" required/>
            <span class="error-message" ng-if="templateForm.template_name.$error.required && templateForm.$submitted">{{'general.required_field' | translate}}</span>
        </div>
        <div class="form-group col-sm-4" ng-if="template.id_template">
            <label>{{'general.status' | translate}} *</label>
            <select class="form-control" ng-model="template.template_status" ng-disabled="access!='wa'" name="template_status" required>
                <option value="">-- {{'general.select' | translate}} --</option>
                <option value="1">{{'general.active' | translate}}</option>
                <option value="0">{{'general.inactive' | translate}}</option>
            </select>
            <span class="error-message" ng-if="templateForm.template_status.$error.required && templateForm.$submitted">{{'general.required_field' | translate}}</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i> {{bottom | translate}}
        </button>
        <button type="reset" class="btn btn-sm btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i>
            {{'general.cancel' | translate}}
        </button>
    </div>
</form>

