<div class="animated fadein">
    <div class="col-sm-12 p0">
        <div class="row" ng-if="permission['list']">
            <table class="table table-custom table-striped table-hover" st-pipe="callServer" st-table="templateList">
                <thead>
                    <tr>
                        <td colspan="8">
                            <div class="col-sm-12 clearfix p0">
                                <div class="action-head mb0">
                                    <span class="pull-right ml-h" ng-if="permission['add']">
                                        <button class="btn btn-sm btn-primary" type="button" ng-click="createTemplate()">
                                            <i class="icon-plus"></i>&nbsp; {{'general.create' | translate}}
                                        </button>
                                    </span>
                                    <div class="col-sm-3 p0 table-search pull-right" ng-if="access=='wa'">
                                        <input type="text" class="form-control" placeholder="{{'general.search' | translate}}"
                                               st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th st-sort="template_name">{{'templates.template_name' | translate}}</th>
                        <!--<th  class="hand-symbol">{{'templates.assigned' | translate}}</th>-->
                        <!--<th st-sort="created_on">{{'templates.create_date' | translate}}</th>-->
                        <th  class="hand-symbol">{{'general.status' | translate}}</th>
                        <th class="hand-symbol">{{'general.actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody ng-show="!isLoading">
                    <tr ng-repeat="row in templateList">
                        <td>{{row.template_name}}</td>
                        <!--<td>
                            <span href="javascript:;"  style="padding-left: 5px;" ng-if="!row.customer[0].assigned_to">-&#45;&#45;</span>
                            <a href="javascript:;" ng-if="isAdmin" target="_blank" ui-sref="app.customer.edit-customer({name:row.customer[0].assigned_to,id:(row.customer[0].customer_id | encode)})">
                                {{row.customer[0].assigned_to}}</a>
                                <span ng-if="!isAdmin">{{row.customer[0].assigned_to}}</span>
                            <span ng-if="row.customer[1].assigned_to">..</span>
                            <a ng-if="row.customer[1].assigned_to" href="javascript:;" class="icon-plus-circle gray ml-h"  uib-popover-template="dynamicPopover.templateUrl"
                               popover-placement = "right"
                               popover-trigger="'outsideClick'" class="btn btn-default"></a>
                        </td>-->
                        <!--<td>{{row.created_on}}</td>-->
                        <td><span class="green" ng-if="row.template_status == 1">{{'general.active' | translate}}</span>
                            <span class="red"  ng-if="row.template_status == 0">{{'general.inactive' | translate}}</span>
                        </td>
                        <td>
                            <a href="javascript:;" ng-click="createTemplate(row)" class="icon-pencil gray mr-1" title="{{'general.edit' | translate}}"></a>
                             <!--<a href="javascript:;" ng-if="row.template_status == 1"
                               ui-sref="app.templates.templates-view.module({name:(row.template_name),id:(row.id_template | encode),type:'module'})"
                               class="icon-gear gray mr-1" title="Manage Templates"></a>-->
                            <a href="javascript:;" ng-if="row.template_status == 1"
                               ui-sref="app.templates.templates-view({name:(row.template_name),id:(row.id_template | encode),type:'module'})"
                               class="icon-gear gray mr-1" title="{{'templates.manage_template' |  translate}}"></a>
                            <a href="javascript:;" ng-click="previewTemplate(row)" class="icon-eye gray mr-1" title="{{'general.preview' | translate}}"></a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="mc.isLoading">
                    <tr><td colspan="4" class="text-center">{{'general.loading' | translate}}</td></tr>
                </tbody>
                <tbody ng-show="emptyTable">
                    <tr><td colspan="4" class="text-sm-center">{{'general.no_data' | translate}}</td></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" colspan="8">
                            <div st-pagination="" class="text-sm-center"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="" ng-repeat="item in row.customer" ng-if=" item.customer_id != row.customer[0].customer_id">
        <a href="javascript:;"  target="_blank" ui-sref="app.customer.edit-customer({name:item.assigned_to,id:(item.customer_id | encode)})">
            {{item.assigned_to}}</a>
    </div>
</script>
