<div class="animated fadeIn">
    <div class="card-group col-lg-12 p0 contract-details">
        <div class="row">
            <div ng-if="!templateModules.length>0" class="col-sm-12  white-bg p-1  text-sm-center card" style="margin-top: 20px;">
                {{'templates.no_modules' | translate}}
            </div>
            <div class="col-lg-12 pl0 large-widget">
                <div class="col-lg-12 p0 mb-h">
                    <uib-accordion close-others="oneAtATime" ng-repeat="module in templateModules">
                        <div uib-accordion-group class="panel-default mb-h" heading="Selection Process"
                             template-url="group-template.html"
                             style="border: 1px solid #ccc;" is-open="status.open">
                            <uib-accordion-heading  ng-click="status.open = !status.open">
                                <i class="glyphicon" ng-class="{'fa fa-minus-square-o': status.open, 'fa fa-plus-square-o': !status.open}"></i>
                                {{module.module_name}}
                            </uib-accordion-heading>
                            <ul ng-if="module.topics.length>0">
                                <li ng-repeat = "topic in module.topics">
                                    <a href="#" ng-click="showTemplateTopicQuestions(module,topic)" class="pl14">{{topic.topic_name | capitalize}}</a>
                                    <span class="pull-right mr-1" ng-if="topic.topic_score == 'N/A'">{{topic.topic_score}}</span>
                                </li>
                            </ul>
                            <span ng-if="!module.topics.length>0" style="padding-left: 15px;">
                                {{'topic.No topic found' | translate}}
                            </span>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="group-template.html">
    <div class="accordion-default accordian_list_style">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggleOpen()" style="cursor: pointer">
                <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                        <i class="glyphicon" ng-class="{'fa fa-minus-square-o': status.open, 'fa fa-plus-square-o': !status.open}"></i>
                        {{heading}}
                    </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="view-template-topic-questions.html">
    <div class="modal-header">
        <h6 class="modal-title" id="modal-title">{{'topic.Topic' | translate}} - {{title}}
            <a ng-click="cancel()" title="{{'general.close' | translate}}" class=" pull-right icon-times f16"></a>
        </h6>
    </div>
    <div class="modal-body clearfix">
        <div class="card-block p0">
            <form novalidate name="tableForm">
                <table class="table table-custom table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{'questions.question' | translate}}</th>
                            <th>{{'contract.module_questions.answer' | translate}}</th>
                            <th>{{'questions.proof' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in questions">
                            <td>{{row.question_text}}</td>
                            <td ng-if="row.question_type == 'input'">
                                <input type="text" class="form-control" ng-model="row.question_answer"/>
                            </td>
                            <td ng-if="row.question_type == 'dropdown'">
                                <select class="form-control" ng-model="row.question_answer"
                                        ng-options="item.option_name as item.option_name for item in row.options">
                                    <option value="">--{{'general.select' | translate}}--</option>

                                </select>
                            </td>
                            <td ng-if="row.question_type == 'radio'">
                                <select class="form-control" ng-model="row.question_answer"
                                        ng-options="item.option_name as item.option_name for item in row.options">
                                    <option value="">--{{'general.select' | translate}}--</option>
                                </select>
                            </td>
                            <td ng-if="row.question_type == 'rag'">
                                <div class="radio_widget">
                                    <span ng-repeat="option in row.options">
                                        <input type="radio" id="radio1_{{$index}}_{{row.question_id}}" name="same_{{row.question_id}}" value="{{option.option_value}}" checked  ng-model="row.question_answer">
                                        <label ng-if="option.option_name == 'G'" for="radio1_{{$index}}_{{row.question_id}}" class="first_label" uib-tooltip="{{option.option_name}}"></label>
                                        <label ng-if="option.option_name == 'A'" for="radio1_{{$index}}_{{row.question_id}}" class="sec_label" uib-tooltip="{{option.option_name}}"></label>
                                        <label ng-if="option.option_name == 'R'" for="radio1_{{$index}}_{{row.question_id}}" class="third_label" uib-tooltip="{{option.option_name}}"></label>
                                        <label ng-if="option.option_name == 'N/A'" for="radio1_{{$index}}_{{row.question_id}}" class="fourth_label" uib-tooltip="{{option.option_name}}"></label>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <span class="ellipis w200" uib-tooltip="{{row.request_for_proof}}">{{row.request_for_proof | checkEmpty}}</span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="questions.length == 0">
                        <tr><td colspan="5" class="text-sm-center">{{'general.no_data' | translate}}</td></tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</script>