<div class="modal-header">
    <h6 class="modal-title" id="modal-title">{{title | translate}} {{'module.module' | translate}}
        <a ng-click="cancel()" title="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
    </h6>
</div>
<form novalidate name="moduleForm" ng-submit="moduleForm.$valid && save(module)">
    <div class="modal-body clearfix" id="modal-body">
        <div class="col-md-12 form-group">
            <label>{{'module.module_name' | translate}} *</label>
            <input type="text" ng-model="module.module_name" class="form-control" name="module_name" required/>
            <span class="error-message" ng-if="moduleForm.module_name.$error.required && moduleForm.$submitted">{{'general.required_field' | translate}}</span>
        </div>
        <!--<div class="form-group col-sm-4">
            <label>{{'general.type' | translate}} *</label>
            <select class="form-control" ng-model="module.type" name="type" required>
                <option value="">&#45;&#45; {{'general.select' | translate}} &#45;&#45;</option>
                <option value="static">{{'general.static' | translate}}</option>
                <option value="dynamic">{{'general.dynamic' | translate}}</option>
            </select>
            <span class="error-message" ng-if="moduleForm.type.$error.required && moduleForm.$submitted">{{'general.required_field' | translate}}</span>
        </div>-->
        <div class="form-group col-sm-4" ng-if="isEdit">
            <label>{{'general.status' | translate}} *</label>
            <select class="form-control" ng-model="module.module_status" name="module_status" required>
                <option value="">-- {{'general.select' | translate}} --</option>
                <option value="1">{{'general.active' | translate}}</option>
                <option value="0">{{'general.inactive' | translate}}</option>
            </select>
            <span class="error-message" ng-if="moduleForm.module_status.$error.required && moduleForm.$submitted">{{'general.required_field' | translate}}</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i> {{bottom | translate}}
        </button>
        <button type="reset" class="btn btn-sm btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i>
            {{'general.cancel' | translate}}
        </button>
    </div>
</form>

