<div class="animated fadeIn">
    <div class="col-sm-12 p0">
        <div class="row">
            <table class="table table-custom table-striped table-hover" st-pipe="callServer" st-table="displayed">
                <thead>
                    <tr>
                        <td colspan="4">
                            <div class="col-sm-12 clearfix p0">
                                <div class="action-head mb0">
                                            <span class="pull-right ml-h">
                                                <button class="btn btn-sm btn-primary" ng-click="updateTopic()" type="button"><i class="icon-plus"></i>&nbsp;
                                                    {{'general.ADD' | translate}}
                                                </button>
                                            </span>
                                    <div class="col-sm-3 p0 table-search pull-right">
                                        <input type="text" class="form-control" placeholder="{{'general.search' | translate}}"
                                               st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th st-sort="topic_name" class="st-sort-ascent st-sort-descent">{{'topic.topic_name' | translate}}</th>
                        <th st-sort="question_count" class="st-sort-ascent st-sort-descent">{{'module.question_count' | translate}}</th>
                        <th st-sort="topic_status">{{'general.status' | translate}}</th>
                        <th class="hand-symbol">{{'general.actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody ng-show="!isLoading">
                    <tr ng-show="displayed.length>0" ng-repeat="row in displayed">
                        <td>{{row.topic_name}}</td>
                        <td>{{row.question_count}}</td>
                        <td>
                            <span  ng-if="row.topic_status == 1" class="green">{{'general.active' | translate}}</span>
                            <span  ng-if="row.topic_status == 0" class="red">{{'general.inactive' | translate}}</span>
                        </td>
                        <td>
                            <a href="javascript:;" title="{{'general.edit' | translate}}" class="icon-edit gray mr-h" ng-click="updateTopic(row)"></a>
                            <a href="javascript:;" ng-click="gotoQuestions(row)" title="{{'topic.manage_question' | translate}}"
                               class="mr-1 gray icon-gear mr-h"></a>
                        </td>
                    </tr>
                    <tr ng-show="displayed.length<=0"><td colspan="4" class="text-sm-center">{{'general.no_data' | translate}}</td></tr>
                </tbody>
                <tbody ng-show="mc.isLoading">
                    <tr><td colspan="4" class="text-sm-center">{{'general.loading' | translate}}</td></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" colspan="8">
                            <div st-items-by-page="10" st-pagination="" class="text-sm-center"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>