<div class="animated fadeIn">
    <div class="col-sm-12 p0">
        <div class="row" ng-if="permission['list']">
            <table class="table table-custom table-striped table-hover" st-pipe="callServer" st-table="displayed">
                <thead>
                    <tr>
                        <td colspan="5">
                            <div class="col-sm-12 clearfix p0">
                                <div class="action-head mb0">
                                        <span class="pull-right ml-h">
                                            <button class="btn btn-sm btn-primary" ng-click="updateModule()" type="button"><i class="icon-plus"></i>&nbsp;
                                                {{'general.ADD' | translate}}
                                            </button>
                                        </span>
                                    <div class="col-sm-3 p0 table-search pull-right">
                                        <input type="text" class="form-control" placeholder="{{'general.search' | translate}}"
                                               st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th st-sort="module_name" class="st-sort-ascent st-sort-descent">{{'module.module_name' | translate}}</th>
                        <th st-sort="topic_count" class="st-sort-ascent st-sort-descent">{{'module.topic_count' | translate}}</th>
                        <th st-sort="question_count" class="st-sort-ascent st-sort-descent">{{'module.question_count' | translate}}</th>
                        <th st-sort="module_status">{{'general.status' | translate}}</th>
                        <th class="hand-symbol">{{'general.actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody ng-show="!isLoading">
                    <tr ng-show="displayed.length>0" ng-repeat="row in displayed">
                        <td>{{row.module_name}}</td>
                        <td>{{row.topic_count}}</td>
                        <td>{{row.question_count}}</td>
                        <td>
                            <span  ng-if="row.module_status == 1" class="green">{{'general.active' | translate}}</span>
                            <span  ng-if="row.module_status == 0" class="red">{{'general.inactive' | translate}}</span>
                        </td>
                        <td>
                            <a href="javascript:;" title="{{'general.edit' | translate}}" class="gray icon-edit mr-1" ng-click="updateModule(row)"></a>
                            <a ng-if="row.module_status == 1" href="javascript:;" title="{{'module.manage_topic' | translate}}" ng-click="manageTopics(row)" class="mr-h gray"><i class="icon-gear"></i></a>
                        </td>
                    </tr>
                    <tr ng-show="displayed.length<=0"><td colspan="5" class="text-sm-center">{{'general.no_data' | translate}}</td></tr>
                </tbody>
                <tbody ng-show="mc.isLoading">
                    <tr><td colspan="5" class="text-sm-center">{{'general.loading' | translate}}</td></tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-center" colspan="8">
                        <div st-pagination="" class="text-sm-center"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>