<!-- Navbar -->
<div ng-include="'views/common/navbar.html'"></div>
<!-- Navigation -->
<div ng-include="'views/common/sidebar-nav.html'"></div>
<!-- Main content -->
<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb" breadcrumb>
        <h6 ng-show="displayName"><span class="bold gray">{{module}}</span>  -<span class="orange"> {{displayName}}</span></h6>
        <ncy-breadcrumb></ncy-breadcrumb>
    </ol>
    <div class="container-fluid">
        <div class="loader-wrap" ng-hide="!hidePreloader">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <div id="loader" class="loader-wrap" http-response ng-if="!pageLoading && appInitialized">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>

        <ui-view></ui-view>

    </div>
    <!-- /.conainer-fluid -->
</main>
<div ng-include="'views/common/footer.html'"></div>
