<div class="edit-customer">
    <div class="col-sm-12 p0">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <strong>{{title | translate}} {{'customer.admin.admin' | translate}}</strong>
                </div>
                <div class="card-block">
                    <form novalidate name="adminForm" ng-submit="adminForm.$valid && addAdmin(admin)">
                        <div class="form-group col-sm-4">
                            <label>{{'user.profile.f_name' | translate}} *</label>
                            <input type="text" name="first_name" maxlength="20" class="form-control" ng-model="admin.first_name" placeholder="{{'general.enter' | translate}} {{'user.profile.f_name' | translate}}" required>
                            <span class="error-message" ng-if="adminForm.first_name.$error.required && adminForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{{'user.profile.l_name' | translate}} *</label>
                            <input type="text" name="last_name" maxlength="20" class="form-control" ng-model="admin.last_name" placeholder="{{'general.enter' | translate}} {{'user.profile.l_name' | translate}}" required>
                            <span class="error-message" ng-if="adminForm.last_name.$error.required && adminForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{{'user.profile.email' |translate}} *</label>
                            <input type="email" name="email" maxlength="50" class="form-control" ng-model="admin.email" placeholder="{{'general.enter' | translate}} {{'user.profile.email' | translate}}" required>
                            <span class="error-message" ng-if="adminForm.email.$error.required && adminForm.$submitted">{{'general.required_field' |translate}}</span>
                            <span ng-if="adminForm.email.$error.email && adminForm.$submitted" class="error-message">{{'general.enter_valid_email' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="form-control-label">{{'user.profile.gender'| translate}}</label>
                            <div class="" ng-init="admin.gender = (admin.gender=='')?'female':'male'">
                                <label class="radio-inline mr-1">
                                    <input type="radio" ng-model="admin.gender" name="gender" value="male"> {{'user.profile.male' |translate}}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="admin.gender" name="gender" value="female"> {{'user.profile.female' | translate}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label >{{'general.status' | translate}} *</label>
                            <select class="form-control"  ng-model="admin.user_status" ng-init="admin.user_status = (admin.user_status =='')?'0':'1'" required>
                                <option value="">-- {{'general.select' | translate}} --</option>
                                <option value="1">{{'general.active' | translate}}</option>
                                <option value="0">{{'general.inactive' | translate}}</option>
                            </select>
                        </div>

                        <div class="col-sm-12  mb-2 form-inline manual-psd" ng-show="!user_id">
                            <div class="form-group pt-1" ng-init="admin.is_manual=0">
                                <label class="checkbox pull-left pt-h" for="is_manual">{{'user.cpassword.manual_password' | translate}}
                                    <input type="checkbox" name="inline-checkbox1" id="is_manual"
                                           ng-model="admin.is_manual" ng-true-value="1"
                                           ng-false-value="0">
                                </label>
                                <div ng-show="admin.is_manual" class="form-group p0">
                                    <input type="text" class="form-control" name="password2018" ng-model="admin.password"
                                           ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&()\-_.=+])[A-Za-z\d$@$!%*#?&()\-_.=+]{8,}$/"
                                           placeholder="{{'user.profile.password' | translate}}" maxlength="20" ng-required="admin.is_manual">
                                    <span ng-if="adminForm.password2018.$error.required && adminForm.$submitted" class="error-message display-block">{{'general.required_field'|translate}}</span>
                                    <div ng-if="!adminForm.password2018.$error.required && adminForm.password2018.$error.pattern" class="error-message">
                                        <span class="clearfix">{{'user.cpassword.password_pattern'|translate}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-sm-12 text-center">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-dot-circle-o"></i> {{bottom | translate}}
                            </button>
                            <button type="button"  ng-click="cancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{'general.cancel' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card" ng-show="user_id">
                <div class="card-header">
                    <strong>{{'user.cpassword.change_password' | translate}}</strong>
                </div>
                <div class="card-block">
                    <form name="passwordForm" novalidate ng-submit="passwordForm.$valid && resetPassword(adminPwd,admin)">
                        <div class="col-sm-12 p0 reset-psd">
                            <div class="form-group col-sm-4">
                                <label class="form-control-label">{{'user.cpassword.npassword' | translate}} *</label>
                                <input type="password" class="form-control" name="npassword" ng-model="adminPwd.npassword"
                                       ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&()\-_.=+])[A-Za-z\d$@$!%*#?&()\-_.=+]{8,}$/"
                                       placeholder="New Password" maxlength="20" required>
                                <span ng-if="passwordForm.npassword.$error.required && passwordForm.$submitted" class="error-message">{{'general.required_field'|translate}}</span>
                                <div ng-if="!passwordForm.npassword.$error.required && passwordForm.npassword.$error.pattern" class="error-message">
                                    <span class="clearfix">{{'user.cpassword.password_pattern'|translate}}</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="form-control-label">{{'user.cpassword.cpassword' | translate}} *</label>
                                <input type="password" class="form-control" name="cpassword" ng-model="adminPwd.cpassword"
                                       placeholder="Confirm Password"  maxlength="20" minlength="8" required>
                                <span ng-if="passwordForm.cpassword.$error.required && passwordForm.$submitted" class="error-message">{{'general.required_field' |translate}}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-sm-4">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa fa-dot-circle-o"></i> {{'general.reset' | translate}}
                                </button>
                                <button type="button" ng-click="cancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{'general.cancel' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>