<div class="modal-header">
    <h6 class="modal-title" id="modal-title">{{title | translate}} LDAP
        <a  ng-click="cancel()" title="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
    </h6>
</div>
<!-- ng-submit="ldapForm.$valid && save(ldap)" -->
<form novalidate name="ldapForm" ng-submit="save(ldap, ldapForm)">
    <div class="modal-body clearfix" id="modal-body">
        <div class="col-md-12 form-group" ng-if="isEdit">
            <label>{{'customer.enable_ldap' | translate}}</label>
            <div class="onoffswitch" ng-init="!ldap.enableLDAP?'1':ldap.enableLDAP">
                <input type="checkbox" name="status" class="onoffswitch-checkbox"
                       ng-model="ldap.status"
                       ng-true-value="'1'"
                       ng-false-value="'0'"
                       ng-checked="ldap.status == 1"
                       id="enable_radio">
                <label class="onoffswitch-label assessment-switch mb-0"
                       for="enable_radio">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label> Host *</label>
            <input type="text" ng-model="ldap.host" class="form-control" name="host" required/>
            <span class="font-italic gray ng-binding">example: ldap.forumsys.com</span>
            <span class="error-message display" ng-if="ldapForm.host.$error.required && ldapForm.$submitted">{{'general.required_field' | translate}}</span>
        </div>
        <div class="col-md-6 form-group">
            <label>DC *</label>
            <input type="text" ng-model="ldap.dc" class="form-control" name="dc" required/>
            <span class="font-italic gray ng-binding">example: example,com</span>
            <span class="error-message display" ng-if="ldapForm.dc.$error.required && ldapForm.$submitted">{{'general.required_field' | translate}}</span>
        </div>
        <div class="col-md-6 form-group">
            <label>Port *</label>
            <input type="text" ng-model="ldap.port" class="form-control" name="port" required only-digits/>
            <span class="font-italic gray ng-binding">example: 389</span>
            <span class="error-message display" ng-if="ldapForm.port.$error.required && ldapForm.$submitted">{{'general.required_field' | translate}}</span>
        </div>
        <ng-form name="test_ldap_form" novalidate>
            <div class="col-md-12 p0">
                <div class="col-md-5 form-group">
                    <label>User Name </label>
                    <input type="text" class="form-control" name="email_id" ng-model="ldap.email_id" required/>
                    <!-- <span ng-if="ldapForm.email_id.$error.required && testFormSubmitted" class="error-message">{{'general.required_field' | translate}}</span>
                    <span ng-if="ldapForm.email_id.$error.email && testFormSubmitted" class="error-message">{{'general.enter_valid_email' | translate}}</span> -->
                </div>
                <div class="col-md-5 form-group">
                    <label>Password </label>
                    <input type="password" class="form-control" name="password" ng-model="ldap.password" required/>
                    <!-- <span ng-if="ldapForm.password.$error.email && testFormSubmitted" class="error-message">{{'general.required_field' | translate}}</span> -->
                </div>
                <div class="col-md-2 form-group" style="margin-bottom: 0;padding-top: 35px;">
                    <!--<label style="color: white">Test</label>-->
                    <button ng-disabled="test_ldap_form.$invalid" type="button" class="btn btn-sm btn-primary" ng-click="testLDAP(ldap, test_ldap_form.$valid)" name="testbutton" id="testbutton">
                        Test</button>
                    <span class="circle1" ng-if="testFormSubmitted && ldapResult.status" ><i class="fa fa-check" style="color:green;"></i></span>
                     <span class="circle2" ng-if="testFormSubmitted && ldapResult.status==false" > <i class="fa fa-close" style="color:red;"></i> </span>
                </div>
            </div>


      </ng-form>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i> {{bottom | translate}}</button>
        <button type="reset" class="btn btn-sm btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> {{'general.cancel' | translate}}</button>
    </div>
</form>
