<div class="animated fadeIn">
    <div class="col-sm-12 p0">
        <div class="row">
            <table class="table table-custom table-striped table-hover" st-pipe="callServer" st-table="usersList">
                <thead>
                    <tr>
                        <td colspan="8">
                            <div class="col-sm-12 clearfix p0">
                                <div class="action-head mb0">
                                        <span class="pull-right ml-h">
                                            <button class="btn btn-sm btn-primary" ng-click="showForm()" type="button"><i class="icon-plus"></i>&nbsp;
                                                {{'general.ADD' | translate}}
                                            </button>
                                        </span>
                                    <div class="col-sm-3 p0 table-search pull-right">
                                        <input type="text" class="form-control" placeholder="{{'general.search' | translate}}"
                                               st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th st-sort="name">{{'customer.admin.name' | translate}}</th>
                        <th st-sort="gender">{{'user.profile.gender' | translate}}</th>
                        <th st-sort="email">{{'user.profile.email' | translate}}</th>
                        <th st-sort="user_role_name">{{'customer.admin.role' | translate}}</th>
                        <th st-sort="user_status">{{'general.status' | translate}}</th>
                        <th st-sort="last_logged_on">{{'customer.admin.last_active' | translate}}</th>
                        <th class="hand-symbol">{{'general.actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody  ng-show="!isLoading">
                    <tr ng-repeat="row in usersList">
                        <td>{{row.name}}</td>
                        <td>{{row.gender}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.user_role_name}}</td>
                        <td>
                            <span  ng-if="row.user_status == 1" class="green">{{'general.active' | translate}}</span>
                            <span  ng-if="row.user_status == 0" class="red">{{'general.inactive' | translate}}</span>
                        </td>
                        <td>{{row.last_logged_on | utcToLocal:'date'  | checkEmpty}}</td>
                        <td>
                            <a href="javascript:;" class="icon-edit mr-1 gray" ng-click="showForm(row)" title="Edit"></a>
                            <a ng-if="row.user_status == 1" href="javascript:;"  ng-click="loginAsAdmin(row)"
                               n-t='{"valid":"true","m_t":"login","a_n":"Login As","a_d":"Login$$as$${{row.name}}"}'
                               class="icon-users4 mr-1 gray" title="{{'customer.admin.login_as' | translate}} {{row.name}}"></a>
                            <a ng-if="row.is_blocked == 1" href="javascript:;" ng-click="unblock(row)"
                               n-t='{"valid":"true","m_t":"login","a_n":"Unblock user","a_d":"Login$$as$${{row.name}}"}'
                               class="mr-1 icon-ban red" title="Unblock User"></a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="mc.isLoading">
                    <tr><td colspan="8" class="text-center">{{'general.loading' | translate}}</td></tr>
                </tbody>
                <tbody ng-show="emptyTable">
                    <tr><td colspan="8" class="text-sm-center">{{'general.no_data' | translate}} </td></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" colspan="8">
                            <div st-pagination="" class="text-sm-center"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>