<div class="animated fadeIn">
    <div class="row" ng-if="permission['view']">
        <div class="col-md-12 p0 mb-h">
        <span class="pull-right">
            <button class="btn btn-sm btn-primary" type="button" ng-click="settingModel()">
                <i class="icon-gear"></i>&nbsp; {{'calender.remainder' | translate}}</button>
        </span>
        </div>
        <div class="col-md-12 p-1 calender-widget" style="background: #fff;">
            <div ng-model="eventSources"  id="calendar"  ui-calendar="uiConfig.calendar" calendar="myCalendar"></div>
        </div>
    </div>
    <!--<div class="row" ng-if="!permission['view']">
        <div class="col-md-5 offset-md-4">
            <div class="clearfix">
                <h1 class="float-xs-left display-3 mr-2">404</h1>
                <h4 class="pt-1">{{'404.oops_lost' | translate}}</h4>
                <p class="text-muted">{{'404.page_not_found' | translate}}</p>
            </div>
        </div>
    </div>-->
</div>

