<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 yearly-clendar">
            <div class="col-md-12 p0 mb-h cal-head">
                <h4 class="card-block text-sm-center display-inline-block">{{'calender.year' | translate}} {{currentYear}}</h4>
                <span class="pull-right"><a class="btn btn-sm btn-secondary" ui-sref="app.calender.view"><span class="fc-icon fc-icon-left-single-arrow"></span> {{'calender.month_view' | translate}}</a></span>
            </div>
            <div class="col-sm-12 white-bg bg-white p0 cal-body">
                <div class="col-sm-12 p0">
                    <div class="col-md-12 p0 mb-h card-block">
                        <div class="col-md-3 pl10 border block120 monthly-div" ng-class="$index>=8?'last-four-mnths':''" ng-repeat="month in months">
                            <p class="text-sm-center bold f13 mb5">{{month.monthName}}</p>
                            <div class="width-full">
                                <span class="rel-cat mb2 display-block" style="background-color: {{quadrantColor[a.relationship_category_quadrant]}};" ng-repeat="a in month.relation_category_name" ng-if="a.relationship_count>0" uib-tooltip="{{a.relationship_category_name}}">{{a.relationship_category_name}} ({{a.relationship_count}})</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

