<div class="animated fadeIn">
    <div class="row">
            <div class="col-sm-12 p0">
                <div class="col-md-12 p0 basic-form" >
                    <div class="card">
                        <div class="card-header">
                            <strong>{{'reports.selection_criteria' | translate}}</strong>
                        </div>
                        <div class="card-block">
                            <form class="form-horizontal profile-form" name="createReportForm" novalidate ng-submit="createReportForm.$valid && createReport(customOptions)">
                                <div class="form-group col-sm-12" ng-if="business_units">
                                    <label class="col-sm-3">{{'reports.bu_unit' | translate}}</label>
                                    <div class="col-sm-9">
                                        <select chosen
                                                placeholder-text-multiple="'Search by Business Unit (if left blank, all data is taken into account)'"
                                                multiple ng-model="customOptions.business_unit"
                                                name="business_unit" size="1"
                                                class="chosen-choices"
                                                ng-options="item.id_business_unit as item.bu_name for item in business_units">
                                        </select>
                                        <span class="error-message" ng-if="createReportForm.$submitted && createReportForm.business_unit.$error.required">{{'general.required_field' |translate}}</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3">{{'reports.classification' | translate}}</label>
                                    <div class="col-sm-9">
                                        <select chosen
                                                placeholder-text-multiple="'Search by Classification (if left blank, all data is taken into account)'"
                                                multiple ng-model="customOptions.classifications"
                                                name="id_relationship_category"
                                                class="chosen-choices"  size="1"
                                                ng-options="item.id_relationship_category as item.relationship_category_name for item in classifications">
                                        </select>
                                        <span class="error-message" ng-if="createReportForm.$submitted && createReportForm.id_relationship_category.$error.required">{{'general.required_field' |translate}}</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3">{{'reports.contracts' | translate}}</label>
                                    <div class="col-sm-9" ng-init="contact-placeholder">
                                        <select chosen placeholder-text-multiple="'Select Contract (if left blank, all data is taken into account)'"
                                                multiple ng-model="customOptions.contracts"
                                                name="id_contract"
                                                class="chosen-choices" size="1"
                                                ng-options="item.id_contract as item.contract_name for item in contracts">
                                        </select>
                                    </div>
                                </div>
                                <!--<div class="form-group col-sm-12">
                                    <label class="col-sm-3">{{'reports.latest_fm_date' | translate}}</label>
                                    <div class="col-sm-9 p0">
                                        <div class="col-sm-1 pl0 text-sm-center pt-h">{{'reports.from' | translate}}</div>
                                        <div class="col-sm-5">
                                            <div class="input-group clearfix form-group-custom">
                                                <input type="text" class="form-control white-bg bg-white"
                                                       uib-datepicker-popup="yyyy-MM-dd" date-disabled="false"
                                                       data-ng-model="customOptions.start_date" my-date
                                                       name="start_date" is-open="openCal" show-weeks="false" required
                                                       show-button-bar="false"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                                        <i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                            <span class="error-message" ng-if="createReportForm.$submitted && createReportForm.start_date.$error.required">{{'general.required_field' |translate}}</span>
                                        </div>
                                        <div class="col-sm-1 text-sm-center pt-h">{{'reports.to' | translate}}</div>
                                        <div class="col-sm-5">
                                            <div class="input-group clearfix form-group-custom">
                                                <input type="text" class="form-control white-bg bg-white"
                                                       uib-datepicker-popup="yyyy-MM-dd" date-disabled="false"
                                                       data-ng-model="customOptions.end_date" my-date
                                                       name="end_date" is-open="openCal1" show-weeks="false" required
                                                       show-button-bar="false"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default border" ng-click="openCal1 = true">
                                                        <i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                            <span class="error-message" ng-if="createReportForm.$submitted && createReportForm.end_date.$error.required">{{'general.required_field' |translate}}</span>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3">{{'reports.status' | translate}}</label>
                                    <div class="col-sm-9">
                                        <select chosen placeholder-text-multiple="'Search by status (if left blank, all data is taken into account)'"
                                                multiple ng-model="customOptions.status"
                                                name="status"
                                                class="chosen-choices"
                                                ng-options="item.key as item.value for item in status">
                                        </select>
                                        <span class="error-message" ng-if="createReportForm.$submitted && createReportForm.status.$error.required">{{'general.required_field' |translate}}</span>
                                    </div>
                                </div>
                                <div class="form-group text-xs-center">
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        {{'reports.search' | translate}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>