<div class="animated fadeIn">
    <div class="col-sm-12 p0">
        <div class="row">
            <table class="table table-custom table-striped table-hover" st-pipe="callServer" st-table="displayed">
                <thead>
                <tr>
                    <td colspan="4">
                        <div class="col-sm-12 clearfix p0">
                            <div class="action-head mb0">
                                    <span class="pull-right ml-h">
                                        <button class="btn btn-sm btn-primary" ng-click="updateClassfication()" type="button"><i class="icon-plus"></i>&nbsp;
                                            {{'general.add' | translate}}
                                        </button>
                                    </span>
                                <div class="col-sm-3 p0 table-search pull-right">
                                    <input type="text" class="form-control" placeholder="{{'general.search' | translate}}"
                                           st-search="search_key">
                                    <i class="fa icon-search"></i>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th st-sort="classification_name" class="st-sort-ascent st-sort-descent">{{'relationship-classification.name' | translate}}</th>
                    <th class="">{{'relationship-classification.position.position' | translate}} ({{'relationship-classification.axis' | translate}})</th>
                    <th st-sort="classification_status" class="">{{'general.status' | translate}}</th>
                    <th class="hand-symbol">{{'general.actions' | translate}}</th>
                </tr>
                </thead>
                <tbody ng-show="!isLoading && displayed.length>0">
                <tr ng-repeat="row in displayed">
                    <td>{{row.classification_name}}</td>
                    <td>{{row.classification_position | uppercase}}</td>
                    <td>
                        <span  ng-if="row.classification_status == 1" class="green">{{'general.active' | translate}}</span>
                        <span  ng-if="row.classification_status == 0" class="red">{{'general.inactive' | translate}}</span>
                    </td>
                    <td>
                        <a href="javascript:;" class="mr-1 gray" title="{{'general.edit' | translate}}"
                           ng-click="updateClassfication(row)"><i class="icon-edit" ></i></a>
                        <a ng-if="row.classification_status == 1" href="javascript:;" class="mr-h gray" title="{{'general.manage' | translate}}"
                           ng-click="manageClassfication(row)"><i class="icon-registrant-template" ></i></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-show="isLoading">
                <tr><td colspan="4" class="text-sm-center">{{'general.loading' | translate}}</td></tr>
                </tbody>
                <tbody ng-show="!isLoading && displayed.length<=0">
                <tr><td colspan="4" class="text-sm-center">{{'general.no_data' | translate}}</td></tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-center" colspan="8">
                        <div st-pagination="" class="text-sm-center"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>