<footer class="footer text-center">
    <span class="text-right">
         Powered by with - Copyright 2017 with BVBA - <a href="http://www.with-services.com">www.with-services.com</a>
    </span>
    <!--<span class="float-xs-right">
        Powered by <a href="http://thresholdsoft.com">with</a>
    </span>-->
</footer>
