<header class="navbar">

    <div class="container-fluid">
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler layout-toggler" href="#"><img src="img/menu-bar.png"/> </a>
            </li>
        </ul>

        <button class="navbar-toggler hidden-lg-up" type="button">&#9776;</button>
        <a class="navbar-brand" ng-if="user.access == 'wa'" ui-sref="app.customer.customer-list"><img src="img/logo.png" alt="logo"/></a>
        <a class="navbar-brand" ng-if="user.access == 'ca'" ui-sref="app.dashboard"><img ngf-thumbnail="customer.company_logo_small" alt="logo"/></a>
        <a class="navbar-brand" ng-if="user.access != 'ca' && user.access !='wa'" ui-sref="app.dashboard">
            <img ngf-thumbnail="customer.company_logo_small" alt="logo"/>
        </a>
        <ul class="nav navbar-nav float-xs-right hidden-md-down">
            <div class="logged-warning" ng-if="parent_user">
                {{'user.login.login_as' | translate}} <b>{{user.first_name}} {{user.last_name}}</b> {{'discussion.click' | translate}}
                <a style="text-decoration: underline;cursor: pointer;"
                   n-t='{"valid":"true","m_t":"logout","a_n":"Logout As","a_d":"Logout$$as$${{user.first_name}}$${{user.last_name}}"}'
                   ng-click="goToParent()">{{'user.login.here' | translate}}</a> {{'user.login.to_logout' | translate}}
            </div>
            <!--<li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-bell"></i><span class="tag tag-pill tag-danger">5</span></a>
            </li>-->
            <!--<li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-list"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
            </li>-->
            <li class="nav-item dropdown pr-1">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    <img ngf-thumbnail="user.profile_image || 'img/default-img.png'" class="img-avatar">
                    <div class="header-dp">
                        <span class="hidden-md-down"><b>{{user.first_name}} {{user.last_name}}</b></span>
                        <span class="">{{user.user_role_name}}</span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" ui-sref="app.myProfile"><i class="fa fa-user"></i>{{'general.profile' | translate}}</a>
                    <a ng-if="!parent_user" class="dropdown-item" ui-sref="app.changePassword"><i class="fa fa-key"></i>{{'user.cpassword.change_password' | translate}}</a>
                    <a ng-if="user.access == 'ca'" class="dropdown-item" ui-sref="app.companySetup({id:(user1.customer_id | encode)})">
                        <i class="fa fa-gear"></i>{{'customer-login.profile.company_setup' | translate}}</a>
                    <!--<a class="dropdown-item" href="#"><i class="fa fa-wrench"></i>{{'general.setting' |translate}}</a>-->
                    <a  ng-if="!parent_user" class="dropdown-item" href="#" ng-click="logout()"><i class="fa fa-lock"></i>{{'general.logout' |translate}}</a>
                </div>
            </li>
        </ul>
        <a href="javascript:;" class="pull-right ml-1 gray relative" ng-if="user.access =='ca'" ng-click="goToNotifications()">
            <i class="fa fa-bell-o p-1 font-2xl mr-h float-xs-left"></i>
            <span class="count-notify" >{{notificationsCount}}</span>
        </a>
    </div>
</header>