<div class="sidebar">
    <nav class="sidebar-nav compact-nav">
        <!--<ul class="nav" ng-show="user.user_role_id != 1">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
        </ul>-->
        <ul class="nav">
            <!--uib-tooltip="{{m.module_name}}" tooltip-placement="right"-->
            <li class="nav-item" ng-repeat="m in menu" title="{{m.module_name}}" >
                <a class="nav-link clearfix " id="{{m.module_name|underscoreadd}}"
                   active-link="active" ng-href="#{{m.module_url}}"  >
                    <i class="{{m.module_icon}}" ></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
