<div class="container d-table">
    <div class="pt-3"><!--d-100vh-va-middle-->
        <div class="row">
            <div class="col-md-5 offset-md-4">
                <div class="clearfix">
                    <h1 class="float-xs-left display-3 mr-2">404</h1>
                    <h4 class="pt-1">{{'404.oops_lost' | translate}}</h4>
                    <p class="text-muted">{{'404.page_not_found' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
