<div class="container d-table" id="loginPage">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card-group">
                    <div class="card p-2">
                        <div class="card-block" ng-show="!isADLoginPage">
                            <p><img src="img/logowith.png"></p>
                            <form class="form-group" name="loginForm" ng-submit="loginForm.$valid && submitLogin(loginForm,user, '0')" novalidate>
                                <h1><span>{{'user.login.Login' | translate}}</span></h1>
                                <div class="form-group">
                                    <div class="input-group mb-1"
                                         ng-class="{'has-danger': loginForm.email_id.$error.required && loginForm.$submitted}">
                                        <input type="email" class="form-control" ng-model="user.email_id" name="email_id" placeholder="Email Address" required>
                                        <span ng-if="loginForm.email_id.$error.required && loginForm.$submitted" class="error-message">{{'general.enter_email' | translate}}</span>
                                        <span ng-if="loginForm.email_id.$error.email && loginForm.$submitted" class="error-message">{{'general.enter_valid_email' | translate}}</span>
                                    </div>
                                </div>

                                <div class="input-group mb-2 form-group"
                                     ng-class="{'has-danger': loginForm.password.$error.required && loginForm.$submitted}">
                                    <input type="password" class="form-control" ng-model="user.password" name="password" placeholder="Password" required>
                                    <div ng-if="loginForm.password.$error.required && loginForm.$submitted" class="error-message">{{'general.enter_password' | translate}}</div>
                                </div>
                                <div class="col-xs-12 sign-in">
                                    <button type="submit" ng-show="!showLoading" class="btn btn-orange px-2" ng-disabled="showBtn">{{'user.login.sign_in' | translate}}</button>
                                    <button type="button" ng-show="showLoading" class="btn btn-orange px-2" ng-disabled="!showBtn">{{'general.loading' | translate}}</button>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-12 forget-psd">
                                    <a ui-sref="appSimple.forgotPassword" class="">{{'user.login.forgot_password' | translate}} ?</a>
                                </div>
                            </form>
                        </div>
                        <div class="card-block" ng-show="isADLoginPage">
                            <p><img src="img/logowith.png"></p>
                            <form class="form-group" name="loginForm" ng-submit="loginForm.$valid && submitLogin(loginForm,user, '1')" novalidate>
                                <h1><span>{{'user.login.login_with_ad' | translate}}</span></h1>
                                <div class="form-group">
                                    <div class="input-group mb-1"
                                         ng-class="{'has-danger': loginForm.email_id.$error.required && loginForm.$submitted}">
                                        <input type="email" class="form-control" ng-model="user.email_id" name="email_id" placeholder="Email Address" required>
                                        <span ng-if="loginForm.email_id.$error.required && loginForm.$submitted" class="error-message">{{'general.enter_email' | translate}}</span>
                                        <span ng-if="loginForm.email_id.$error.email && loginForm.$submitted" class="error-message">{{'general.enter_valid_email' | translate}}</span>
                                    </div>
                                </div>

                                <div class="input-group mb-2 form-group"
                                     ng-class="{'has-danger': loginForm.password.$error.required && loginForm.$submitted}">
                                    <input type="password" class="form-control" ng-model="user.password" name="password" placeholder="Password" required>
                                    <div ng-if="loginForm.password.$error.required && loginForm.$submitted" class="error-message">{{'general.enter_password' | translate}}</div>
                                </div>
                                <div class="col-xs-12 sign-in">
                                    <button type="submit" ng-show="!showLoading" class="btn btn-orange px-2" ng-disabled="showBtn">{{'user.login.sign_in' | translate}}</button>
                                    <button type="button" ng-show="showLoading" class="btn btn-orange px-2" ng-disabled="!showBtn">{{'general.loading' | translate}}</button>
                                </div>
                                <div class="clearfix"></div>
                                <!-- <div class="col-xs-12 forget-psd">
                                    <a ui-sref="appSimple.forgotPassword" class="">{{'user.login.forgot_password' | translate}} ?</a>
                                </div> -->
                            </form>
                        </div>
                        <div class="col-xs-12 login-ad">
                            <!-- <a href="javascript:;" ng-click="isADLoginPage=!isADLoginPage">{{isADLoginPage?'&#x2190; Back' : 'Login with AD'}}</a> -->
                            <button type="button" ng-click="isADLoginPage=!isADLoginPage" class="btn btn-basic px-2">{{isADLoginPage?'&#x2190; Back' : 'Login with AD'}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
