<div class="animated fadeIn">
    <div class="dashboard-widget row" ng-if="permission['view']">
        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-lg-3">
                <a href="#">
                    <div class="card">
                        <div class="card-block p-1 clearfix" ng-click="goToOverview()">
                            <i class="fa icon-report3 p-1 font-4xl mr-h float-xs-left"></i>
                            <div class="h5 mb-0 mt-h">{{'dashboard.all_contracts' | translate | uppercase}}
                                <span>{{dashboardData.contracts_count}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--/.col-->
            <div class="col-xxs-12 col-xs-6 col-lg-3">
                <a href="#">
                    <div class="card">
                        <div class="card-block p-1 clearfix" ng-click="goToPendingContracts()">
                            <i class="fa icon-review-files p-1 font-4xl mr-h float-xs-left"></i>
                            <div class="h5 mb-0 mt-h">{{'dashboard.reivews_on_cal' | translate | uppercase}}
                                <span>{{dashboardData.pending_reviews}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--/.col-->
            <div class="col-xxs-12 col-xs-6 col-lg-3">
                <a href="#">
                    <div class="card">
                        <div class="card-block p-1 clearfix" ng-click="goToActionItems()">
                            <i class="fa icon-action-items p-1 font-4xl mr-h float-xs-left"></i>
                            <div class="h5 mb-0 mt-h">{{'contract.all_action_item' | translate | uppercase}}
                                <span>{{dashboardData.action_items_count}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--/.col-->
            <div class="col-xxs-12 col-xs-6 col-lg-3" ng-if="user1.iroori != 'itako'">
                <a href="javascript:;" ng-if="(user.access=='wa' || user.access=='ca' || user.access=='bo' || user.access=='bd')">
                    <div class="card" ng-click="goToUsers()">
                        <div class="card-block p-1 clearfix">
                            <i class="fa icon-on-hand p-1 font-4xl mr-h float-xs-left"></i>
                            <div class="h5 mb-0 mt-h">{{'dashboard.co_workers' | translate | uppercase}}
                                <span>{{dashboardData.co_workers}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="card" ng-if="user.access == 'ct'">
                    <div class="card-block p-1 clearfix">
                        <i class="fa icon-on-hand p-1 font-4xl mr-h float-xs-left"></i>
                        <div class="h5 mb-0 mt-h">{{'dashboard.co_workers' | translate | uppercase}}
                            <span>{{dashboardData.co_workers}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-lg-3" ng-if="user1.iroori == 'itako'">
                <div class="card">
                    <div class="card-block p-1 clearfix">
                        <i class="fa icon-on-hand p-1 font-4xl mr-h float-xs-left"></i>
                        <div class="h5 mb-0 mt-h">{{'dashboard.co_workers' | translate | uppercase}}
                            <span>{{dashboardData.co_workers}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-lg-8 p0">
                    <div class="card">
                        <form name="outerForm" class="tab-form-demo">
                            <uib-tabset active="activeForm">
                                <uib-tab index="0">
                                    <uib-tab-heading>
                                        {{'dashboard.to_be_reivew' | translate}}
                                        <span class="badge-num">{{dashboardData.to_be_reviewed}}</span>
                                    </uib-tab-heading>
                                    <table class="table table-custom table-striped table-hover contact-view-table" st-pipe="getPendingReviews" st-table="contractReviews">
                                        <thead>
                                            <tr>
                                                <th width="1%"></th>
                                                <th width="1%"></th>
                                                <th st-sort="provider_name">{{'contract.provider' | translate}}</th>
                                                <th st-sort="contract_name">{{'contract.contract_name' | translate}}</th>
                                                <th st-sort="relationship_category_name">{{'contract.category' | translate}}</th>
                                                <th st-sort="created_on">{{'dashboard.dead_line' | translate}}</th>
                                                <th class="w115 hand-symbol">{{'contract.last_review' | translate}}</th>
                                                <th class="w115 hand-symbol">{{'contract.current_status' | translate}}</th>
                                                <th class="w70 hand-symbol"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="row in contractReviews">
                                                <td style="max-width: 30px;min-width: 30px;width: 30px;" ng-init="showData[row.id_contract]=row;showData[row.id_contract]['showChild']=false;">
                                                    <i ng-if="row['sub_contracts'] && row['sub_contracts'].length > 0"
                                                       ng-click="showData[row.id_contract]['showChild']=!showData[row.id_contract]['showChild']"
                                                       style="cursor: pointer;"
                                                       class="fa {{!showData[row.id_contract]['showChild']?'fa-plus':'fa-minus'}}" tooltip-placement="top"
                                                       title="{{!showData[row.id_contract]['showChild']?'View child contracts':''}}"></i>
                                                </td>
                                                <td style="max-width: 30px;min-width: 30px;width: 30px;">
                                                    <span ng-if="row.action_item_count>0" tooltip-placement="right" uib-tooltip="{{'contract.action_items' | translate}}" class="label_tag">{{row.action_item_count}}</span>
                                                </td>
                                                <td style="max-width: 120px;min-width: 120px;width: 120px;">
                                                    <a ui-sref="app.contract.contract-overview({pname:(row.provider_name)})" title="{{rowData.provider_name}}" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:110px;"
                                                       n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract with provider ($${{row.provider_name}})"}'>
                                                        {{row.provider_name}}
                                                    </a>
                                                </td>
                                                <td style="max-width: 150px;min-width: 150px;width: 150px;">
                                                    <a class="contract-td" title="{{rowData.contract_name}}" ui-sref="app.contract.view({name:row.contract_name,id:(row.id_contract | encode)})" n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract($${{row.contract_name}})"}'
                                                       style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;width:140px;">
                                                        {{row.contract_name}}
                                                    </a>
                                                </td>
                                                <td style="min-width: 80px;width: 80px;">
                                                    <span uib-tooltip="{{row.relationship_category_name}}">{{row.relationship_category_short_name}}</span>
                                                </td>
                                                <td style="width:100px;max-width:100px;min-width: 100px;">{{row.deadline | utcToLocal: 'date' | checkEmpty}}</td>
                                                <td style="width:100px;max-width:100px;min-width: 100px;">{{row.last_review | utcToLocal: 'date' | checkEmpty}}</td>
                                                <td ng-if="row.score == 'Amber'"  style="max-width:100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class=""></span>
                                                        <span class="amber-active"></span>
                                                        <span class=""></span>
                                                    </div>
                                                </td>
                                                <td ng-if="row.score == 'Red'" style="max-width:100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class="red-active"></span>
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                    </div>
                                                </td>
                                                <td ng-if="row.score == 'Green'" style="max-width:100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                        <span class="green-active"></span>
                                                    </div>
                                                </td>
                                                <td ng-if="!row.score" style="max-width:100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                    </div>
                                                </td>
                                                <td ng-if="row.score == 'N/A'">
                                                    <span class="">{{row.score}}</span>
                                                </td>
                                                <td style="max-width: 100px;min-width: 100px;width: 100px;">
                                                    <span class="f12">{{row.contract_progress == null ? "0%":row.contract_progress}}</span>
                                    <span uib-dropdown on-toggle="toggled(open)" class="c-dropdown width-20 pull-right">
                                        <a href uib-dropdown-toggle class="font-sm">
                                            <span class="fa fa-ellipsis-v"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right" dropdown-append-to-body="true" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                            <li ng-if="row.id_contract_review">
                                                <a href="javascript:;" ng-click="goToContractReview(row)">{{'contract.review' | translate}}</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-click="goToContractDashboard(row)">{{'contract.dashboard' | translate}}</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-click="exportContractReview(row)">{{'contract.export' | translate}}</a>
                                            </li>
                                            <li ng-if="del==1">
                                                <a href="javascript:;" ng-click="deleteContract(row)" class="danger-delete">{{'contract.delete' | translate}}</a>
                                            </li>
                                        </ul>
                                    </span>
                                    <span class="pull-right pr10" ng-if="row.contract_status == 'pending review'" uib-tooltip="{{'contract.pending_review_icon' | translate}}">
                                        <i class="fa fa-undo yellow-orange f18"></i>
                                    </span>
                                    <span class="pull-right pr10" ng-if="row.ideedi == 'itako'" ng-click="goToContratDiscussion(row)" uib-tooltip="{{'discussion.top_msg' | translate}}">
                                        <a href="javascript:;">
                                            <img style="padding-bottom: 8px; width: 20px;" src="img/discussion.png" />
                                        </a>
                                    </span>

                                                </td>
                                            </tr>
                                            <tr ng-repeat-end ng-class="{'open-child':!showData[row.id_contract]['showChild'],'highlight':showData[row.id_contract]['showChild']}" >
                                                <td colspan="9" class="toggle-Div inside-td" style="background-color: #f0d8d2;border-top: 1px solid lightgray;border-bottom: 1px solid lightgray;padding-left:0px;padding-right:0px;">
                                                    <table class="table table-custom table-striped table-hover" style="margin-bottom:2px">
                                                        <tbody>
                                                            <tr ng-repeat="rowData in showData[row.id_contract]['sub_contracts']">
                                                                <td style="max-width: 30px;min-width: 30px;width: 30px;"></td>
                                                                <td style="max-width: 30px;min-width: 30px;width: 30px;">
                                                    <span ng-if="rowData.action_item_count>0" tooltip-placement="right" uib-tooltip="{{'contract.action_items' | translate}}"
                                                          class="label_tag">{{rowData.action_item_count}}</span>
                                                                    <!-- angle-down,angle-up -->
                                                                </td>
                                                                <td style="max-width: 120px;min-width: 120px;width: 120px;">
                                                                    <a class="contract-td" title="{{rowData.provider_name}}" ui-sref="app.contract.contract-overview({pname:(rowData.provider_name)})"
                                                                       style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:110px;"
                                                                       n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract with provider ($${{rowData.provider_name}})"}'>
                                                                        {{rowData.provider_name}}
                                                                    </a>
                                                                </td>
                                                                <td style="max-width: 150px;min-width: 150px;width: 150px;">
                                                                    <a class="contract-td" title="{{rowData.contract_name}}" ui-sref="app.contract.view({name:rowData.contract_name,id:(rowData.id_contract | encode)})"
                                                                       style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:140px;"
                                                                       n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract($${{rowData.contract_name}})"}'>
                                                                        {{rowData.contract_name}}
                                                                    </a>
                                                                </td>
                                                                <td style="min-width: 80px;width: 80px;">
                                                                    <span  uib-tooltip="{{rowData.relationship_category_name}}">{{rowData.relationship_category_short_name}}</span>
                                                                </td>
                                                                <td style="width: 100px;min-width: 100px;width: 100px;">{{rowData.deadline | utcToLocal: 'date' | checkEmpty}}</td>
                                                                <td style="width: 100px;min-width: 100px;width: 120px;">{{rowData.last_review | utcToLocal: 'date' | checkEmpty}}</td>
                                                                <td ng-if="rowData.score == 'Amber'"  style="max-width: 100px;min-width: 100px;width: 120px;">
                                                                    <div class="status-widget font-weight-bold">
                                                                        <span class=""></span>
                                                                        <span class="amber-active"></span>
                                                                        <span class=""></span>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="rowData.score == 'Red'"  style="max-width: 100px;min-width: 100px;width: 120px;">
                                                                    <div class="status-widget font-weight-bold">
                                                                        <span class="red-active"></span>
                                                                        <span class=""></span>
                                                                        <span class=""></span>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="rowData.score == 'Green'"  style="max-width: 100px;min-width: 100px;width: 120px;">
                                                                    <div class="status-widget font-weight-bold">
                                                                        <span class=""></span>
                                                                        <span class=""></span>
                                                                        <span class="green-active"></span>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="!rowData.score" style="max-width: 100px;min-width: 100px;width: 120px;">
                                                                    <div class="status-widget font-weight-bold">
                                                                        <span class=""></span>
                                                                        <span class=""></span>
                                                                        <span class=""></span>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="rowData.score == 'N/A'" >
                                                                    <span class="">{{rowData.score}}</span>
                                                                </td>
                                                                <td style="max-width: 100px;min-width: 100px;width: 100px;">
                                                                    <span class="f12">{{rowData.contract_progress == null ? "0%":rowData.contract_progress}}</span>
                                                    <span uib-dropdown on-toggle="toggled(open)" class="c-dropdown width-20 pull-right">
                                                        <a href uib-dropdown-toggle class="font-sm">
                                                            <span class="fa fa-ellipsis-v"></span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-right" dropdown-append-to-body="true" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                            <li ng-if="rowData.id_contract_review">
                                                                <a href="javascript:;" ng-click="goToContractReview(rowData)">{{'contract.review' | translate}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" ng-click="goToContractDashboard(rowData)">{{'contract.dashboard' | translate}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" ng-click="exportContractReview(rowData)">{{'contract.export' | translate}}</a>
                                                            </li>
                                                            <li ng-if="del==1">
                                                                <a href="javascript:;" ng-click="deleteContract(rowData)" class="danger-delete">{{'contract.delete' | translate}}</a>
                                                            </li>
                                                        </ul>
                                                    </span>
                                                    <span class="pull-right pr10" ng-if="rowData.contract_status == 'pending review'" uib-tooltip="{{'contract.pending_review_icon' | translate}}">
                                                        <i class="fa fa-undo yellow-orange f18"></i>
                                                    </span>
                                                    <span class="pull-right pr10" ng-if="rowData.ideedi == 'itako'" ng-click="goToContratDiscussion(rowData)" uib-tooltip="{{'discussion.top_msg' | translate}}">
                                                        <a href="javascript:;">
                                                            <img style="padding-bottom: 8px; width: 20px;" src="img/discussion.png" />
                                                        </a>
                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!---->
                                                    <!-- {{showData[row.id_contract] | json}} -->
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-if="mc.isLoading">
                                            <tr>
                                                <td colspan="9" class="text-center">{{'general.loading' | translate}}</td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-if="emptyTable">
                                            <tr>
                                                <td colspan="9" class="text-sm-center">{{'general.no_data' | translate}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="body-bg">
                                            <tr>
                                                <td class="text-center" colspan="9">
                                                    <div st-pagination="" class="text-sm-center"></div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </uib-tab>
                                <uib-tab index="1">
                                    <uib-tab-heading>
                                        {{'dashboard.my_reviews' | translate}}
                                        <span class="badge-num">{{myContractCount}}</span>
                                    </uib-tab-heading>
                                    <!-- Data goes here -->
                                    <table class="table table-custom table-striped table-hover contact-view-table" st-pipe="getMyContracts" st-table="myContract">
                                        <thead>
                                            <tr>
                                                <th width="1%"></th>
                                                <th width="1%"></th>
                                                <th st-sort="provider_name">{{'contract.provider' | translate}}</th>
                                                <th st-sort="contract_name">{{'contract.contract_name' | translate}}</th>
                                                <th st-sort="relationship_category_name">{{'contract.category' | translate}}</th>
                                                <th st-sort="created_on">{{'dashboard.dead_line' | translate}}</th>
                                                <th class="w115 hand-symbol">{{'contract.last_review' | translate}}</th>
                                                <th class="w115 hand-symbol">{{'contract.current_status' | translate}}</th>
                                                <th class="w70 hand-symbol"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="row in myContract">
                                                <td style="max-width: 30px;min-width: 30px;width: 30px;" ng-init="showData[row.id_contract]=row;showData[row.id_contract]['showChild']=false;">
                                                    <i ng-if="row['sub_contracts'] && row['sub_contracts'].length > 0"
                                                       ng-click="showData[row.id_contract]['showChild']=!showData[row.id_contract]['showChild']"
                                                       style="cursor: pointer;"
                                                       class="fa {{!showData[row.id_contract]['showChild']?'fa-plus':'fa-minus'}}" tooltip-placement="top"
                                                       title="{{!showData[row.id_contract]['showChild']?'View child contracts':''}}"></i>
                                                </td>
                                                <td style="max-width: 30px;min-width: 30px;width: 30px;">
                                                    <span ng-if="row.action_item_count>0" tooltip-placement="right" uib-tooltip="{{'contract.action_items' | translate}}" class="label_tag">{{row.action_item_count}}</span>
                                                </td>
                                                <td style="max-width: 120px;min-width: 120px;width: 120px;">
                                                    <a ui-sref="app.contract.contract-overview({pname:(row.provider_name)})" title="{{rowData.provider_name}}" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:110px;"
                                                       n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract with provider ($${{row.provider_name}})"}'>
                                                        {{row.provider_name}}
                                                    </a>
                                                </td>
                                                <td style="max-width: 150px;min-width: 150px;width: 150px;">
                                                    <a class="contract-td" title="{{rowData.contract_name}}" ui-sref="app.contract.view({name:row.contract_name,id:(row.id_contract | encode)})" n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract($${{row.contract_name}})"}'
                                                       style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;width:140px;">
                                                        {{row.contract_name}}
                                                    </a>
                                                </td>
                                                <td style="min-width: 80px;width: 80px;">
                                                    <span uib-tooltip="{{row.relationship_category_name}}">{{row.relationship_category_short_name}}</span>
                                                </td>
                                                <td style="width:100px;max-width:100px;min-width: 100px;">{{row.deadline | utcToLocal: 'date' | checkEmpty}}</td>
                                                <td style="width:100px;max-width:100px;min-width: 100px;">{{row.last_review | utcToLocal: 'date' | checkEmpty}}</td>
                                                <td ng-if="row.score == 'Amber'"  style="max-width:100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class=""></span>
                                                        <span class="amber-active"></span>
                                                        <span class=""></span>
                                                    </div>
                                                </td>
                                                <td ng-if="row.score == 'Red'" style="max-width:100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class="red-active"></span>
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                    </div>
                                                </td>
                                                <td ng-if="row.score == 'Green'" style="max-width:100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                        <span class="green-active"></span>
                                                    </div>
                                                </td>
                                                <td ng-if="!row.score" style="max-width:100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                    </div>
                                                </td>
                                                <td ng-if="row.score == 'N/A'">
                                                    <span class="">{{row.score}}</span>
                                                </td>
                                                <td style="max-width: 100px;min-width: 100px;width: 100px;">
                                                    <span class="f12">{{row.contract_progress == null ? "0%":row.contract_progress}}</span>
                                    <span uib-dropdown on-toggle="toggled(open)" class="c-dropdown width-20 pull-right">
                                        <a href uib-dropdown-toggle class="font-sm">
                                            <span class="fa fa-ellipsis-v"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right" dropdown-append-to-body="true" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                            <li ng-if="row.id_contract_review">
                                                <a href="javascript:;" ng-click="goToContractReview(row)">{{'contract.review' | translate}}</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-click="goToContractDashboard(row)">{{'contract.dashboard' | translate}}</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-click="exportContractReview(row)">{{'contract.export' | translate}}</a>
                                            </li>
                                            <li ng-if="del==1">
                                                <a href="javascript:;" ng-click="deleteContract(row)" class="danger-delete">{{'contract.delete' | translate}}</a>
                                            </li>
                                        </ul>
                                    </span>
                                    <span class="pull-right pr10" ng-if="row.contract_status == 'pending review'" uib-tooltip="{{'contract.pending_review_icon' | translate}}">
                                        <i class="fa fa-undo yellow-orange f18"></i>
                                    </span>
                                    <span class="pull-right pr10" ng-if="row.ideedi == 'itako'" ng-click="goToContratDiscussion(row)" uib-tooltip="{{'discussion.top_msg' | translate}}">
                                        <a href="javascript:;">
                                            <img style="padding-bottom: 8px; width: 20px;" src="img/discussion.png" />
                                        </a>
                                    </span>

                                                </td>
                                            </tr>
                                            <tr ng-repeat-end ng-class="{'open-child':!showData[row.id_contract]['showChild'],'highlight':showData[row.id_contract]['showChild']}" >
                                                <td colspan="9" class="toggle-Div inside-td" style="background-color: #f0d8d2;border-top: 1px solid lightgray;border-bottom: 1px solid lightgray;padding-left:0px;padding-right:0px;">
                                                    <table class="table table-custom table-striped table-hover" style="margin-bottom:2px;background-color: #f0d8d2;">
                                                        <tbody>
                                                            <tr ng-repeat="rowData in showData[row.id_contract]['sub_contracts']">
                                                                <td style="max-width: 30px;min-width: 30px;width: 30px;"></td>
                                                                <td style="max-width: 30px;min-width: 30px;width: 30px;">
                                                    <span ng-if="rowData.action_item_count>0" tooltip-placement="right" uib-tooltip="{{'contract.action_items' | translate}}"
                                                          class="label_tag">{{rowData.action_item_count}}</span>
                                                                    <!-- angle-down,angle-up -->
                                                                </td>
                                                                <td style="max-width: 120px;min-width: 120px;width: 120px;">
                                                                    <a class="contract-td" title="{{rowData.provider_name}}" ui-sref="app.contract.contract-overview({pname:(rowData.provider_name)})"
                                                                       style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:110px;"
                                                                       n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract with provider ($${{rowData.provider_name}})"}'>
                                                                        {{rowData.provider_name}}
                                                                    </a>
                                                                </td>
                                                                <td style="max-width: 150px;min-width: 150px;width: 150px;">
                                                                    <a class="contract-td" title="{{rowData.contract_name}}" ui-sref="app.contract.view({name:rowData.contract_name,id:(rowData.id_contract | encode)})"
                                                                       style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:140px;"
                                                                       n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract($${{rowData.contract_name}})"}'>
                                                                        {{rowData.contract_name}}
                                                                    </a>
                                                                </td>
                                                                <td style="min-width: 80px;width: 80px;">
                                                                    <span  uib-tooltip="{{rowData.relationship_category_name}}">{{rowData.relationship_category_short_name}}</span>
                                                                </td>
                                                                <td style="width: 100px;min-width: 100px;width: 100px;">{{rowData.deadline | utcToLocal: 'date' | checkEmpty}}</td>
                                                                <td style="width: 100px;min-width: 100px;width: 120px;">{{rowData.last_review | utcToLocal: 'date' | checkEmpty}}</td>
                                                                <td ng-if="rowData.score == 'Amber'"  style="max-width: 100px;min-width: 100px;width: 120px;">
                                                                    <div class="status-widget font-weight-bold">
                                                                        <span class=""></span>
                                                                        <span class="amber-active"></span>
                                                                        <span class=""></span>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="rowData.score == 'Red'"  style="max-width: 100px;min-width: 100px;width: 120px;">
                                                                    <div class="status-widget font-weight-bold">
                                                                        <span class="red-active"></span>
                                                                        <span class=""></span>
                                                                        <span class=""></span>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="rowData.score == 'Green'"  style="max-width: 100px;min-width: 100px;width: 120px;">
                                                                    <div class="status-widget font-weight-bold">
                                                                        <span class=""></span>
                                                                        <span class=""></span>
                                                                        <span class="green-active"></span>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="!rowData.score" style="max-width: 100px;min-width: 100px;width: 120px;">
                                                                    <div class="status-widget font-weight-bold">
                                                                        <span class=""></span>
                                                                        <span class=""></span>
                                                                        <span class=""></span>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="rowData.score == 'N/A'" >
                                                                    <span class="">{{rowData.score}}</span>
                                                                </td>
                                                                <td style="max-width: 100px;min-width: 100px;width: 100px;">
                                                                    <span class="f12">{{rowData.contract_progress == null ? "0%":rowData.contract_progress}}</span>
                                                    <span uib-dropdown on-toggle="toggled(open)" class="c-dropdown width-20 pull-right">
                                                        <a href uib-dropdown-toggle class="font-sm">
                                                            <span class="fa fa-ellipsis-v"></span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-right" dropdown-append-to-body="true" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                            <li ng-if="rowData.id_contract_review">
                                                                <a href="javascript:;" ng-click="goToContractReview(rowData)">{{'contract.review' | translate}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" ng-click="goToContractDashboard(rowData)">{{'contract.dashboard' | translate}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" ng-click="exportContractReview(rowData)">{{'contract.export' | translate}}</a>
                                                            </li>
                                                            <li ng-if="del==1">
                                                                <a href="javascript:;" ng-click="deleteContract(rowData)" class="danger-delete">{{'contract.delete' | translate}}</a>
                                                            </li>
                                                        </ul>
                                                    </span>
                                                    <span class="pull-right pr10" ng-if="rowData.contract_status == 'pending review'" uib-tooltip="{{'contract.pending_review_icon' | translate}}">
                                                        <i class="fa fa-undo yellow-orange f18"></i>
                                                    </span>
                                                    <span class="pull-right pr10" ng-if="rowData.ideedi == 'itako'" ng-click="goToContratDiscussion(rowData)" uib-tooltip="{{'discussion.top_msg' | translate}}">
                                                        <a href="javascript:;">
                                                            <img style="padding-bottom: 8px; width: 20px;" src="img/discussion.png" />
                                                        </a>
                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!---->
                                                    <!-- {{showData[row.id_contract] | json}} -->
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-if="isMyContractLoading">
                                            <tr>
                                                <td colspan="9" class="text-center">{{'general.loading' | translate}}</td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-if="emptyMyContractTable">
                                            <tr>
                                                <td colspan="9" class="text-sm-center">{{'general.no_data' | translate}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="body-bg">
                                            <tr>
                                                <td class="text-center" colspan="9">
                                                    <div st-pagination="" class="text-sm-center"></div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </uib-tab>
                                <uib-tab index="2">
                                    <uib-tab-heading>
                                        {{'dashboard.contributing_to' | translate}}
                                        <span class="badge-num">{{contributingToContractCount}}</span>
                                    </uib-tab-heading>
                                    <!-- Data goes here -->
                                    <table class="table table-custom table-striped table-hover contact-view-table" st-pipe="getContributingToContracts" st-table="contributingToContract">
                                        <thead>
                                            <tr>
                                                <th width="1%"></th>
                                                <th width="1%"></th>
                                                <th st-sort="provider_name">{{'contract.provider' | translate}}</th>
                                                <th st-sort="contract_name">{{'contract.contract_name' | translate}}</th>
                                                <th st-sort="relationship_category_name">{{'contract.category' | translate}}</th>
                                                <th st-sort="created_on">{{'dashboard.dead_line' | translate}}</th>
                                                <th class="w115 hand-symbol">{{'contract.last_review' | translate}}</th>
                                                <th class="w115 hand-symbol">{{'contract.current_status' | translate}}</th>
                                                <th class="w70 hand-symbol"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="row in contributingToContract">
                                                <td style="max-width: 30px;min-width: 30px;width: 30px;" ng-init="showData[row.id_contract]=row;showData[row.id_contract]['showChild']=false;">
                                                    <i ng-if="row['sub_contracts'] && row['sub_contracts'].length > 0"
                                                       ng-click="showData[row.id_contract]['showChild']=!showData[row.id_contract]['showChild']"
                                                       style="cursor: pointer;"
                                                       class="fa {{!showData[row.id_contract]['showChild']?'fa-plus':'fa-minus'}}" tooltip-placement="top"
                                                       title="{{!showData[row.id_contract]['showChild']?'View child contracts':''}}"></i>
                                                </td>
                                                <td style="max-width: 30px;min-width: 30px;width: 30px;">
                                                    <span ng-if="row.action_item_count>0" tooltip-placement="right" uib-tooltip="{{'contract.action_items' | translate}}" class="label_tag">{{row.action_item_count}}</span>
                                                </td>
                                                <td style="max-width: 120px;min-width: 120px;width: 120px;">
                                                    <a ui-sref="app.contract.contract-overview({pname:(row.provider_name)})" title="{{rowData.provider_name}}" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:110px;"
                                                       n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract with provider ($${{row.provider_name}})"}'>
                                                        {{row.provider_name}}
                                                    </a>
                                                </td>
                                                <td style="max-width: 150px;min-width: 42px;width: 172px;">
                                                    <a class="contract-td" title="{{rowData.contract_name}}" ui-sref="app.contract.view({name:row.contract_name,id:(row.id_contract | encode)})" n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract($${{row.contract_name}})"}'
                                                       style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;width:140px;">
                                                        {{row.contract_name}}
                                                    </a>
                                                </td>
                                                <td style="min-width: 80px;width: 80px;">
                                                    <span uib-tooltip="{{row.relationship_category_name}}">{{row.relationship_category_short_name}}</span>
                                                </td>
                                                <td style="width:100px;max-width:100px;min-width: 100px;">{{row.deadline | utcToLocal: 'date' | checkEmpty}}</td>
                                                <td style="width:100px;max-width:100px;min-width: 100px;">{{row.last_review | utcToLocal: 'date' | checkEmpty}}</td>
                                                <td ng-if="row.score == 'Amber'"  style="max-width:100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class=""></span>
                                                        <span class="amber-active"></span>
                                                        <span class=""></span>
                                                    </div>
                                                </td>
                                                <td ng-if="row.score == 'Red'" style="max-width:100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class="red-active"></span>
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                    </div>
                                                </td>
                                                <td ng-if="row.score == 'Green'" style="max-width:100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                        <span class="green-active"></span>
                                                    </div>
                                                </td>
                                                <td ng-if="!row.score" style="max-width:100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                    </div>
                                                </td>
                                                <td ng-if="row.score == 'N/A'">
                                                    <span class="">{{row.score}}</span>
                                                </td>
                                                <td style="max-width: 100px;min-width: 100px;width: 100px;">
                                                    <span class="f12">{{row.contract_progress == null ? "0%":row.contract_progress}}</span>
                                    <span uib-dropdown on-toggle="toggled(open)" class="c-dropdown width-20 pull-right">
                                        <a href uib-dropdown-toggle class="font-sm">
                                            <span class="fa fa-ellipsis-v"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right" dropdown-append-to-body="true" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                            <li ng-if="row.id_contract_review">
                                                <a href="javascript:;" ng-click="goToContractReview(row)">{{'contract.review' | translate}}</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-click="goToContractDashboard(row)">{{'contract.dashboard' | translate}}</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-click="exportContractReview(row)">{{'contract.export' | translate}}</a>
                                            </li>
                                            <li ng-if="del==1">
                                                <a href="javascript:;" ng-click="deleteContract(row)" class="danger-delete">{{'contract.delete' | translate}}</a>
                                            </li>
                                        </ul>
                                    </span>
                                    <span class="pull-right pr10" ng-if="row.contract_status == 'pending review'" uib-tooltip="{{'contract.pending_review_icon' | translate}}">
                                        <i class="fa fa-undo yellow-orange f18"></i>
                                    </span>
                                    <span class="pull-right pr10" ng-if="row.ideedi == 'itako'" ng-click="goToContratDiscussion(row)" uib-tooltip="{{'discussion.top_msg' | translate}}">
                                        <a href="javascript:;">
                                            <img style="padding-bottom: 8px; width: 20px;" src="img/discussion.png" />
                                        </a>
                                    </span>

                                                </td>
                                            </tr>
                                            <tr ng-repeat-end ng-class="{'open-child':!showData[row.id_contract]['showChild'],'highlight':showData[row.id_contract]['showChild']}" >
                                                <td colspan="9" class="toggle-Div inside-td" style="background-color: #f0d8d2;border-top: 1px solid lightgray;border-bottom: 1px solid lightgray;padding-left:0px;padding-right:0px;">
                                                    <table class="table table-custom table-striped table-hover" style="margin-bottom:2px">
                                                        <tbody>
                                                            <tr ng-repeat="rowData in showData[row.id_contract]['sub_contracts']">
                                                                <td style="max-width: 30px;min-width: 30px;width: 30px;"></td>
                                                                <td style="max-width: 30px;min-width: 30px;width: 30px;">
                                                    <span ng-if="rowData.action_item_count>0" tooltip-placement="right" uib-tooltip="{{'contract.action_items' | translate}}"
                                                          class="label_tag">{{rowData.action_item_count}}</span>
                                                                    <!-- angle-down,angle-up -->
                                                                </td>
                                                                <td style="max-width: 120px;min-width: 120px;width: 120px;">
                                                                    <a class="contract-td" title="{{rowData.provider_name}}" ui-sref="app.contract.contract-overview({pname:(rowData.provider_name)})"
                                                                       style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:110px;"
                                                                       n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract with provider ($${{rowData.provider_name}})"}'>
                                                                        {{rowData.provider_name}}
                                                                    </a>
                                                                </td>
                                                                <td style="max-width: 150px;min-width: 150px;width: 150px;">
                                                                    <a class="contract-td" title="{{rowData.contract_name}}" ui-sref="app.contract.view({name:rowData.contract_name,id:(rowData.id_contract | encode)})"
                                                                       style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:140px;"
                                                                       n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract($${{rowData.contract_name}})"}'>
                                                                        {{rowData.contract_name}}
                                                                    </a>
                                                                </td>
                                                                <td style="min-width: 80px;width: 80px;">
                                                                    <span  uib-tooltip="{{rowData.relationship_category_name}}">{{rowData.relationship_category_short_name}}</span>
                                                                </td>
                                                                <td style="width: 100px;min-width: 100px;width: 100px;">{{rowData.deadline | utcToLocal: 'date' | checkEmpty}}</td>
                                                                <td style="width: 100px;min-width: 100px;width: 120px;">{{rowData.last_review | utcToLocal: 'date' | checkEmpty}}</td>
                                                                <td ng-if="rowData.score == 'Amber'"  style="max-width: 100px;min-width: 100px;width: 120px;">
                                                                    <div class="status-widget font-weight-bold">
                                                                        <span class=""></span>
                                                                        <span class="amber-active"></span>
                                                                        <span class=""></span>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="rowData.score == 'Red'"  style="max-width: 100px;min-width: 100px;width: 120px;">
                                                                    <div class="status-widget font-weight-bold">
                                                                        <span class="red-active"></span>
                                                                        <span class=""></span>
                                                                        <span class=""></span>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="rowData.score == 'Green'"  style="max-width: 100px;min-width: 100px;width: 120px;">
                                                                    <div class="status-widget font-weight-bold">
                                                                        <span class=""></span>
                                                                        <span class=""></span>
                                                                        <span class="green-active"></span>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="!rowData.score" style="max-width: 100px;min-width: 100px;width: 120px;">
                                                                    <div class="status-widget font-weight-bold">
                                                                        <span class=""></span>
                                                                        <span class=""></span>
                                                                        <span class=""></span>
                                                                    </div>
                                                                </td>
                                                                <td ng-if="rowData.score == 'N/A'" >
                                                                    <span class="">{{rowData.score}}</span>
                                                                </td>
                                                                <td style="max-width: 100px;min-width: 100px;width: 100px;">
                                                                    <span class="f12">{{rowData.contract_progress == null ? "0%":rowData.contract_progress}}</span>
                                                    <span uib-dropdown on-toggle="toggled(open)" class="c-dropdown width-20 pull-right">
                                                        <a href uib-dropdown-toggle class="font-sm">
                                                            <span class="fa fa-ellipsis-v"></span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-right" dropdown-append-to-body="true" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                            <li ng-if="rowData.id_contract_review">
                                                                <a href="javascript:;" ng-click="goToContractReview(rowData)">{{'contract.review' | translate}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" ng-click="goToContractDashboard(rowData)">{{'contract.dashboard' | translate}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" ng-click="exportContractReview(rowData)">{{'contract.export' | translate}}</a>
                                                            </li>
                                                            <li ng-if="del==1">
                                                                <a href="javascript:;" ng-click="deleteContract(rowData)" class="danger-delete">{{'contract.delete' | translate}}</a>
                                                            </li>
                                                        </ul>
                                                    </span>
                                                    <span class="pull-right pr10" ng-if="rowData.contract_status == 'pending review'" uib-tooltip="{{'contract.pending_review_icon' | translate}}">
                                                        <i class="fa fa-undo yellow-orange f18"></i>
                                                    </span>
                                                    <span class="pull-right pr10" ng-if="rowData.ideedi == 'itako'" ng-click="goToContratDiscussion(rowData)" uib-tooltip="{{'discussion.top_msg' | translate}}">
                                                        <a href="javascript:;">
                                                            <img style="padding-bottom: 8px; width: 20px;" src="img/discussion.png" />
                                                        </a>
                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </span>
                                                    <!---->
                                                    <!-- {{showData[row.id_contract] | json}} -->
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-show="isContributingToLoading">
                                            <tr>
                                                <td colspan="9" class="text-center">{{'general.loading' | translate}}</td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-show="contributingToContract.length<=0">
                                            <tr>
                                                <td colspan="9" class="text-sm-center">{{'general.no_data' | translate}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="body-bg">
                                            <tr>
                                                <td class="text-center" colspan="9">
                                                    <div st-pagination="" class="text-sm-center"></div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </uib-tab>
                                <uib-tab index="3">
                                    <uib-tab-heading>
                                        {{'dashboard.action_items' | translate }}
                                        <span class="badge-num">{{your_action_items}}</span>
                                    </uib-tab-heading>
                                    <table class="table table-custom table-striped table-hover" st-pipe="getActionItems" st-table="actionItemsList">
                                        <thead>
                                            <tr>
                                                <th st-sort="action_item">{{'contract.action_item' | translate}}</th>
                                                <!--<th st-sort="provider_name">{{'contract.provider' | translate}}</th>-->
                                                <!--<th st-sort="contract_name">{{'contract.contract' | translate}}</th>-->
                                                <th st-sort="user_name">{{'contract.responsible' | translate}}</th>
                                                <th style="max-width:200px;" st-sort="due_date">{{'contract.due_date' | translate}}</th>
                                                <!--<th width="12%" st-sort="comments">{{'contract.comment' | translate}}</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in actionItemsList">
                                                <td class="w500">
                                                    <a href="javascript:;" class="display-block ellipis w500 lh16" ng-click="updateContractReview(row,'view')" title="{{row.action_item}}">{{row.action_item}}</a>
                                                    <span class="ellipis w500 lh16 f12 gray" uib-tooltip="{{row.module_name}} / {{row.topic_name}}">{{row.module_name}} / {{row.topic_name}}</span>
                                                    <span class="ellipis w500 lh16 f12 gray" uib-tooltip="{{row.provider_name}} / {{row.contract_name}}">{{row.provider_name}} / {{row.contract_name}}</span>
                                                </td>
                                                <!--<td><span class="ellipis w127" uib-tooltip="{{row.provider_name}}">{{row.provider_name}}</span></td>-->
                                                <!--<td><span class="ellipis w127" uib-tooltip="{{row.contract_name}}">{{row.contract_name}}</span></td>-->
                                                <td>
                                                    <span class="ellipis w150 orange" uib-tooltip="{{row.user_name}}">{{row.user_name}}</span>
                                                </td>
                                                <td>
                                                    <span class="ellipis w100">{{row.due_date | utcToLocal:'date'}}</span>
                                                </td>
                                                <!--<td><span class="ellpis w100" uib-tooltip="{{row.comments}}">{{row.comments | checkEmpty}}</span></td>-->
                                            </tr>
                                        </tbody>
                                        <tbody ng-show="mc.isLoading1">
                                            <tr>
                                                <td colspan="8" class="text-center">{{'general.loading' | translate}}</td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-show="emptyTable1">
                                            <tr>
                                                <td colspan="8" class="text-sm-center">{{'general.no_data' | translate}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="body-bg">
                                            <tr>
                                                <td class="text-center" colspan="8">
                                                    <div st-pagination="" class="text-sm-center"></div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </uib-tab>
                                <uib-tab index="4">
                                    <uib-tab-heading>
                                        <button ng-if="(user.access=='wa' || user.access=='ca' || user.access=='bo' || user.access=='bd')" class="btn btn-sm btn-primary ng-scope"
                                            type="button" ng-click="createContract()" title="Create Contract">
                                            <i class="icon-plus-circle"></i>
                                        </button>
                                    </uib-tab-heading>
                                </uib-tab>
                            </uib-tabset>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 pr0 pt-2 text-sm-center">
                    <label class="orange">{{'dashboard.chat_label' | translate}}</label>
                    <div class="dashboard-chart main_bubble_chart">
                        <span class="title_2">
                            <label class="ellipis">{{myDataSource.classficationRelation['low'] | isUndefinedOrNull}}</label>
                        </span>
                        <span class="title_1">
                            <label class="ellipis">{{myDataSource.classficationRelation['high'] | isUndefinedOrNull}}</label>
                        </span>
                        <div fusioncharts height="390" width="100%" type="bubble" dataSource="{{myDataSource}}">
                        </div>
                        <span class="title_3">{{myDataSource.classficationRelation['left'] | isUndefinedOrNull}}</span>
                        <span class="title_4">{{myDataSource.classficationRelation['right'] | isUndefinedOrNull}}</span>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--/row-->
</div>
<style>
    .collapse-btn {
        background-color: #DFDFDF;
        font-weight: bold;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        color: #464646;
        outline: none !important;
    }

    .tab-form-demo ul.nav-tabs li a {
        min-height: 38px;
    }

    .tab-form-demo ul.nav-tabs li:last-child {
        float: right;
        margin: 0;

    }

    .tab-form-demo ul.nav-tabs li:last-child a {
        padding: 0;
        padding-top: 4px;
        background-color: transparent !important;
    }

    .tab-form-demo ul.nav-tabs li:last-child a .icon-plus-circle {
        font-size: 22px;
    }
</style>