<div class="animated fadeIn">
    <div class="col-sm-12 p0">
        <div class="row">
            <table class="table table-custom table-striped table-hover" st-pipe="getCustomerUsers" st-table="customerUsersList">
                <thead>
                    <tr>
                        <td colspan="12">
                            <div class="col-sm-12 clearfix p0">
                                <div class="action-head mb0">
                                    <div class="col-sm-3 p0 table-search pull-right">
                                        <input type="text" class="form-control" placeholder="{{'general.search' | translate}}"
                                               st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th st-sort="name">{{'customer.admin.name' | translate}}</th>
                        <th st-sort="email">{{'user.profile.email' | translate}}</th>
                        <th st-sort="user_role_name">{{'customer.admin.role' | translate}}</th>
                        <th class="w170" st-sort="last_logged_on">{{'access_log.last_logged_on' | translate}}</th>
                        <th class="hand-symbol"></th>
                    </tr>
                </thead>
                <tbody ng-show="!isLoading">
                    <tr ng-repeat="row in customerUsersList">
                        <td>{{row.name}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.user_role_name}}</td>
                        <td>{{row.last_logged_on | utcToLocal:'datetime' | checkEmpty}}</td>
                        <td>
                            <a href="javascript:;" class="" title="{{'access_log.view_actions' | translate}}"
                               ng-click="gotoActions(row)"><i class="fa icon-eye" ></i></a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="mc.isLoading">
                    <tr><td colspan="7" class="text-center">{{'general.loading' | translate}}</td></tr>
                </tbody>
                <tbody ng-show="emptyTable">
                    <tr><td colspan="7" class="text-sm-center">{{'general.no_data' | translate}}</td></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" colspan="8">
                            <div st-pagination="" class="text-sm-center"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>