<div class="animated fadeIn">
    <div class="col-sm-12 p0">
        <div class="row log-summery">
            <h6>{{'access_log.summary' | translate}} :</h6>
            <div class="col-sm-12 p0 pl-1">
                <!--<div class="col-sm-4 p0">
                    <div class="form-group">
                        <label class="gray mb-0">User Name: </label>
                        <span class="display-block">{{userSummary.user_name | checkEmpty}}</span>
                    </div>
                </div>-->
                <div class="col-sm-3 p0">
                    <div class="form-group">
                        <label class="gray mb-0 pb3">{{'access_log.email' | translate}} </label>
                        <span class="display-block">{{userInfo.email | checkEmpty}}</span>
                    </div>
                </div>
                <div class="col-sm-2 p0">
                    <div class="form-group">
                        <label class="gray mb-0 pb3">{{'access_log.user_role' | translate}} </label>
                        <span class="display-block">{{userInfo.user_role_name | checkEmpty}}</span>
                    </div>
                </div>
                <div class="col-sm-3 p0">
                    <div class="form-group">
                        <label class="gray mb-0 pb3">{{'access_log.last_logged_on' | translate}} </label>
                        <span class="display-block">{{userSummary.last_logged_on | utcToLocal:'datetime' | checkEmpty}}</span>
                    </div>
                </div>
                <div class="col-sm-2 p0">
                    <div class="form-group">
                        <label class="gray mb-0 pb3">{{'access_log.time_spent' | translate}} </label>
                        <span class="display-block">{{userSummary.time_spent | checkEmpty}} <span class="f11">HH:MM:SS</span></span>
                    </div>
                </div>
                <div class="col-sm-2 p0">
                    <div class="form-group">
                        <label class="gray mb-0 pb3">{{'access_log.logins_count' | translate}} </label>
                        <span class="display-block">{{userSummary.logins_count | checkEmpty}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 p0 pt-1">
        <div class="row">
            <form novalidate name="dateForm" ng-submit="dateForm.$valid && getUserLogHistory(logs)" class="clearfix">
                <div class="col-sm-12 action-head p0 mb5 pull-right">
                    <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="icon-search"></i></button>
                    <div class="form-inline pull-right">
                        <label class="pull-left p0 mr-h pt2">* To :</label>
                        <div class="input-group table-search">
                            <input type="text" class="form-control date-pic"
                                   min-date="toggleMin()"
                                   uib-datepicker-popup="yyyy-MM-dd" date-disabled="false"
                                   data-ng-model="logs.to_date" my-date
                                   name="to_date" is-open="openCal2" show-weeks="false"
                                   show-button-bar="false" readonly required/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-default border" ng-click="openCal2 = true">
                                        <i class="fa fa-calendar"></i></button>
                                </span>
                        </div>
                        <span class="error-message display-block" ng-if="dateForm.to_date.$error.required && dateForm.$submitted">{{'general.required_field' |translate}}</span>
                    </div>
                    <div class="form-inline pull-right">
                        <label class="pull-left p0 mr-h pt2">* From :</label>
                        <div class="input-group table-search">
                            <input type="text" class="form-control date-pic "
                                   min-date="toggleMin()"
                                   uib-datepicker-popup="yyyy-MM-dd" date-disabled="false"
                                   data-ng-model="logs.from_date" my-date
                                   name="from_date" is-open="openCal1" show-weeks="false"
                                   show-button-bar="false" readonly required/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-default border" ng-click="openCal1 = true">
                                        <i class="fa fa-calendar"></i></button>
                                </span>
                        </div>
                        <span class="error-message display-block" ng-if="dateForm.from_date.$error.required && dateForm.$submitted">{{'general.required_field' |translate}}</span>
                    </div>


                </div>
            </form>
            <table class="table table-custom table-striped table-hover" st-pipe="getLogHistory" st-table ng-show="userLogsHistory" >
                <thead>
                <tr>
                    <th st-sort="client_remote_address">{{'access_log.ip_address' | translate}}</th>
                    <th st-sort="client_browser">{{'access_log.browser' | translate}}</th>
                    <th st-sort="login_date">{{'access_log.login' | translate}}</th>
                    <th st-sort="logout_date">{{'access_log.logout' | translate}}</th>
                    <th st-sort="time_spent">{{'access_log.time_spent' | translate}}</th>
                    <th st-sort="actions_count"># {{'general.actions' | translate}}</th>
                </tr>
                </thead>
                <tbody ng-show="!isLoading">
                <tr ng-repeat="row in userLogsHistory">
                    <td>{{row.client_remote_address |checkEmpty}}</td>
                    <td>{{row.client_browser | checkEmpty}}</td>
                    <td>{{row.login_date | utcToLocal:'datetime' | checkEmpty}}</td>
                    <td>{{row.logout_date | utcToLocal:'datetime' | checkEmpty}}</td>
                    <td>{{row.time_spent | checkEmpty}}</td>
                    <td>
                        <a ng-if="row.actions_count > 0" href="javascript:;" ng-click="goToAccessedLogs(row)">{{row.actions_count | checkEmpty}}</a>
                        <span ng-if="row.actions_count == 0">{{row.actions_count | checkEmpty}}</span>
                    </td>
                </tr>
                </tbody>
                <tbody ng-show="mc.isLoading">
                <tr><td colspan="7" class="text-center">{{'general.loading' | translate}}</td></tr>
                </tbody>
                <tbody ng-show="emptyTable">
                <tr><td colspan="7" class="text-sm-center">{{'general.no_data' | translate}}</td></tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-center" colspan="8">
                        <div st-pagination="" class="text-sm-center"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>