<div class="animated fadeIn">
    <div class="card-group col-lg-12 p0 contract-details">
        <div class="row">
            <div ng-if="dashboardData.contract_review_id == 0" class="col-sm-12  white-bg p-1  text-sm-center card" style="margin-top: 20px;">
                {{'dashboard.no_reviews' | translate}}
            </div>
            <div class="col-lg-8 pl0 large-widget" ng-if="((isNaN(dashboardData.contract_review_id)===false && dashboardData.contract_review_id != 0) || (isNaN(dashboardData.contract_review_id)===true && dashboardData.contract_review_id.length > 0))">
                <div class="card col-lg-12 p0">
                    <h5>{{contractInfo.contract_name}}</h5>
                    <div class="card-block border-left-none">
                        <div class="h4 m-b-0">{{'contract.status' | translate}}</div>
                        <span class="widget-span orange">{{dashboardData.data.review_status | capitalize}}</span>
                    </div>
                    <div class="card-block">
                        <div class="h4 m-b-0">{{'contract.review_date' | translate}}</div>
                        <span class="widget-span">{{dashboardData.data.review_date | utcToLocal: 'date' | checkEmpty}}</span>
                    </div>
                    <div class="card-block">
                        <div class="h4 m-b-0">{{'contract.current_status' | translate}}</div>
                        <div class="status-widget font-weight-bold" ng-if="dashboardData.review_score == 'Red'">
                            <span class="red-active"></span>
                            <span class=""></span>
                            <span class=""></span>
                        </div>
                        <div class="status-widget font-weight-bold" ng-if="dashboardData.review_score == 'Amber'">
                            <span class=""></span>
                            <span class="amber-active"></span>
                            <span class=""></span>
                        </div>
                        <div class="status-widget font-weight-bold" ng-if="dashboardData.review_score == 'Green'">
                            <span class=""></span>
                            <span class=""></span>
                            <span class="green-active"></span>
                        </div>
                        <div class="status-widget font-weight-bold" ng-if="!dashboardData.review_score">
                            <span class=""></span>
                            <span class=""></span>
                            <span class=""></span>
                        </div>
                        <span class="" ng-if="dashboardData.review_score=='N/A'">{{dashboardData.review_score}}</span>
                    </div>
                    <div class="card-block"  ng-if="(dashboardData.prev !=0) || (dashboardData.next !=0)">
                        <div class="prev-next-btns text-sm-right">
                            <a href="#" ng-if="dashboardData.prev !=0" class="prev-btn" ng-click="goToPrev(dashboardData)">
                                <i class="fa fa-angle-double-left"></i> {{'contract.module_questions.prev' | translate}}</a>
                            <a href="#" ng-if="dashboardData.next !=0" class="next-btn" ng-click="goToNext(dashboardData)">
                                {{'contract.module_questions.next' | translate}} <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 p0 mb-h">
                    <uib-accordion close-others="oneAtATime" ng-repeat="module in dashboardData.modules">
                        <div uib-accordion-group class="panel-default mb-h" heading="Selection Process"
                             template-url="group-template.html" ng-init="module.open=false;
                              showData[module.module_id]['open']=showData[module.module_id]['open'] ? showData[module.module_id]['open'] : false;"
                             style="border: 1px solid #ccc;" is-open="showData[module.module_id]['open']">
                            <uib-accordion-heading  ng-click="showData[module.module_id]['open'] = !showData[module.module_id]['open']">
                                <i class="glyphicon" ng-class="{'fa fa-minus-square-o': showData[module.module_id]['open'],
                                                                'fa fa-plus-square-o': !showData[module.module_id]['open']}"></i>
                                {{module.module_name}}
                                <div class="pull-right">
                                    <div class="status-widget font-weight-bold pull-left mr-1" ng-if="module.module_score == 'Red'">
                                        <span class="red-active"></span>
                                        <span class=""></span>
                                        <span class=""></span>
                                    </div>
                                    <div class="status-widget font-weight-bold pull-left mr-1" ng-if="module.module_score == 'Amber'">
                                        <span class=""></span>
                                        <span class="amber-active"></span>
                                        <span class=""></span>
                                    </div>
                                    <div class="status-widget font-weight-bold pull-left mr-1" ng-if="module.module_score == 'Green'">
                                        <span class=""></span>
                                        <span class=""></span>
                                        <span class="green-active"></span>
                                    </div>
                                    <div class="status-widget font-weight-bold pull-left mr-1" ng-if="!module.module_score">
                                        <span class=""></span>
                                        <span class=""></span>
                                        <span class=""></span>
                                    </div>
                                    <span class="pull-right mr-1" ng-if="module.module_score == 'N/A'">{{module.module_score}}</span>
                                </div>
                            </uib-accordion-heading>
                            <ul>
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default mb-h"
                                         ng-repeat="topic in module.topics"  heading="Selection Process"
                                         ng-init="topic.open=false;
                                         showData[module.module_id]['topic'][topic.topic_id]['open'] =  showData[module.module_id]['topic'][topic.topic_id]['open'] ?
                                                                                                        showData[module.module_id]['topic'][topic.topic_id]['open'] : false;"
                                         is-open="showData[module.module_id]['topic'][topic.topic_id]['open']"
                                         template-url="topic-template.html" is-disabled="true"
                                         style="border: 1px solid #ccc;">
                                        <uib-accordion-heading >
                                            <i class="glyphicon"
                                               ng-click="showData[module.module_id]['topic'][topic.topic_id]['open'] = !showData[module.module_id]['topic'][topic.topic_id]['open']"
                                               ng-class="{'fa fa-minus-square-o': showData[module.module_id]['topic'][topic.topic_id]['open'],
                                                          'fa fa-plus-square-o': !showData[module.module_id]['topic'][topic.topic_id]['open']}"></i>
                                            <a href="#" ng-click="showTopicQuestions(module,topic)" class="pl14">{{topic.topic_name | capitalize}}</a>
                                            <span class="pull-right mr-1" ng-if="topic.topic_score == 'N/A'">{{topic.topic_score}}</span>
                                            <span class="pull-right mr-1">
                                                <div class="status-widget">
                                                    <span ng-if="topic.topic_score == 'Red'" class="score_color red-bg"></span>
                                                    <spann ng-if="topic.topic_score == 'Amber'" class="score_color orange-bg"></spann>
                                                    <span ng-if="topic.topic_score == 'Green'" class="score_color green-bg"></span>
                                                    <span ng-if="!topic.topic_score" class="score_color "></span>
                                                </div>
                                            </span>
                                        </uib-accordion-heading>
                                        <table class="table table-custom table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <!--<th>{{'questions.question' | translate}}</th>
                                                <th>{{'contract.module_questions.answer' | translate}}</th>-->
                                                <!-- <th>{{'questions.proof' | translate}}</th>
                                                 <th>{{'contract.module_questions.feedback' | translate}}</th>
                                                 <th></th>-->
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="row in topic.questions">
                                                <td>{{row.question_text}}</td>
                                                <td ng-if="row.question_type == 'input'">
                                                    {{row.question_option_answer | checkEmpty}}
                                                </td>
                                                <td ng-if="row.question_type == 'dropdown'">
                                                    <span>{{row.question_option_answer | checkEmpty}}</span>
                                                </td>
                                                <td ng-if="row.question_type == 'radio'">
                                                    <span>{{row.question_option_answer | checkEmpty}}</span>
                                                </td>
                                                <td ng-if="row.question_type == 'rag'">
                                                    <div class="radio_widget">
                                                        <span ng-if="!row.question_option_answer">{{row.question_option_answer | checkEmpty}}</span>
                                                        <a ng-if="row.question_option_answer == 'G'" class="f18"><i class="fa fa-check-circle green mr-h"></i></a>
                                                        <a ng-if="row.question_option_answer == 'A'" class="f18"><i class="fa fa-check-circle orange mr-h"></i></a>
                                                        <a ng-if="row.question_option_answer == 'R'" class="f18"><i class="fa fa-check-circle red"></i></a>
                                                        <a ng-if="row.question_option_answer == 'N/A'" class="f18"><i class="fa fa fa-check-circle gray mr-h"></i></a>
                                                    </div>
                                                </td>
                                                <!--<td>
                                                    <span class="ellipis w80" uib-tooltip="{{row.request_for_proof}}">{{row.request_for_proof | checkEmpty}}</span>
                                                </td>
                                                <td><span class="ellipis w100" uib-tooltip="{{row.question_feedback}}">{{row.question_feedback | checkEmpty}}</span></td>
                                                <td ng-if="row.attachments != ''">
                                                    <div uib-dropdown on-toggle="toggled(open)" class="c-dropdown pull-right">
                                                        <a href uib-dropdown-toggle class="f14">
                                                            <span class="icon-attachment f14"></span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                            <li ng-repeat="a in row.attachments">
                                                                <a ng-click="downloadAttachment(a)" class="skyblue"  target="_blank" href="javascript:;">
                                                                    {{a.document_name}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td class="pull-right pr-1" ng-if="row.attachments ==''"></td>-->
                                            </tr>
                                            </tbody>
                                            <tbody ng-if="!load && topic.questions.length == 0">
                                            <tr><td colspan="5" class="text-sm-center">{{'general.no_data' | translate}}</td></tr>
                                            </tbody>
                                            <tbody ng-if="load">
                                            <tr><td colspan="5" class="text-sm-center">{{'general.loading' | translate}}</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </uib-accordion>
                               <!-- <li ng-repeat = "topic in module.topics">
                                    <a href="#" ng-click="showTopicQuestions(module,topic)" class="pl14">{{topic.topic_name | capitalize}}</a>
                                    <span class="pull-right mr-1" ng-if="topic.topic_score == 'N/A'">{{topic.topic_score}}</span>
                                <span class="pull-right mr-1">
                                    <div class="status-widget">
                                        <span ng-if="topic.topic_score == 'Red'" class="score_color red-bg"></span>
                                        <spann ng-if="topic.topic_score == 'Amber'" class="score_color orange-bg"></spann>
                                        <span ng-if="topic.topic_score == 'Green'" class="score_color green-bg"></span>
                                        <span ng-if="!topic.topic_score" class="score_color "></span>
                                    </div>
                                </span>
                                </li>-->
                            </ul>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <div class="col-lg-4 icons-widget pr0" ng-if="((isNaN(dashboardData.contract_review_id)===false && dashboardData.contract_review_id != 0) || (isNaN(dashboardData.contract_review_id)===true && dashboardData.contract_review_id.length > 0))">
                <div class="card-group">
                    <div class="card" ng-click="exportReview()">
                        <div class="card-block">
                            <div class="h2 text-xs-center">
                                <i class="icon-dashboard5"></i>
                            </div>
                            <small class="text-center font-weight-bold">{{'contract.report' | translate}}</small>
                        </div>
                    </div>
                    <div class="card" ng-click="exportDashboardData()">
                        <div class="card-block">
                            <div class="h2 text-xs-center">
                                <i class="icon-export2"></i>
                            </div>
                            <small class="text-center font-weight-bold">{{'contract.export' | translate}}</small>
                        </div>
                    </div>
                    <div class="card" ng-click="goToChangeLog()">
                        <div class="card-block">
                            <div class="h2 text-xs-center">
                                <i class="icon-template-manage"></i>
                            </div>
                            <small class="text-center font-weight-bold">{{'contract.change_log' | translate}}</small>
                        </div>
                    </div>
                    <!--<div class="card active"  ng-if="user.user_role_id == 2 || user.user_role_id == 3 || user.user_role_id == 4">
                        <div class="card-block">
                            <div class="h2 text-xs-center">
                                <i class="icon-finalize"></i>
                            </div>
                            <small class="text-center font-weight-bold">{{'contract.finalize' | translate}}</small>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="group-template.html">
    <div class="accordion-default accordian_list_style">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggleOpen()" style="cursor: pointer">
                <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                        <i class="glyphicon" ng-class="{'fa fa-minus-square-o': status.open, 'fa fa-plus-square-o': !status.open}"></i>
                        {{heading}}
                    </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="topic-template.html">
    <div class="accordion-default accordian_list_style">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggleOpen()" style="cursor: pointer">
                <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                        <i class="glyphicon" ng-class="{'fa fa-minus-square-o': status.show, 'fa fa-plus-square-o': !status.show}"></i>
                        {{heading}}
                    </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="view-topic-questions.html">
    <div class="modal-header">
        <h6 class="modal-title" id="modal-title">{{'topic.Topic' | translate}} - {{title}}
            <a ng-click="cancel()" title="{{'general.close' | translate}}" class=" pull-right icon-times f16"></a>
        </h6>
    </div>
    <div class="modal-body clearfix">
        <div class="card-block p0">
            <form novalidate name="tableForm">
                <table class="table table-custom table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{'questions.question' | translate}}</th>
                        <th>{{'contract.module_questions.answer' | translate}}</th>
                        <th>{{'questions.proof' | translate}}</th>
                        <th>{{'contract.module_questions.feedback' | translate}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in contractModuleTopics">
                        <td>{{row.question_text}}</td>
                        <td ng-if="row.question_type == 'input'">
                            {{row.question_option_answer | checkEmpty}}
                        </td>
                        <td ng-if="row.question_type == 'dropdown'">
                            <span>{{row.question_option_answer | checkEmpty}}</span>
                        </td>
                        <td ng-if="row.question_type == 'radio'">
                            <span>{{row.question_option_answer | checkEmpty}}</span>
                        </td>
                        <td ng-if="row.question_type == 'rag'">
                            <div class="radio_widget">
                                <span ng-if="!row.question_option_answer">{{row.question_option_answer | checkEmpty}}</span>
                                <a ng-if="row.question_option_answer == 'G'" class="f18"><i class="fa fa-check-circle green mr-h"></i></a>
                                <a ng-if="row.question_option_answer == 'A'" class="f18"><i class="fa fa-check-circle orange mr-h"></i></a>
                                <a ng-if="row.question_option_answer == 'R'" class="f18"><i class="fa fa-check-circle red"></i></a>
                                <a ng-if="row.question_option_answer == 'N/A'" class="f18"><i class="fa fa fa-check-circle gray mr-h"></i></a>
                            </div>
                        </td>
                        <td>
                           <span class="ellipis w80" uib-tooltip="{{row.request_for_proof}}">{{row.request_for_proof | checkEmpty}}</span>
                        </td>
                        <td><span class="ellipis w100" uib-tooltip="{{row.question_feedback}}">{{row.question_feedback | checkEmpty}}</span></td>
                        <td ng-if="row.attachments != ''">
                            <div uib-dropdown on-toggle="toggled(open)" class="c-dropdown pull-right">
                                <a href uib-dropdown-toggle class="f14">
                                    <span class="icon-attachment f14"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                    <li ng-repeat="a in row.attachments">
                                        <a ng-click="downloadAttachment(a)" class="skyblue"  target="_blank" href="javascript:;">
                                            {{a.document_name}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="pull-right pr-1" ng-if="row.attachments ==''"></td>
                    </tr>
                    </tbody>
                    <tbody ng-if="!load && contractModuleTopics.length == 0">
                        <tr><td colspan="5" class="text-sm-center">{{'general.no_data' | translate}}</td></tr>
                    </tbody>
                    <tbody ng-if="load">
                        <tr><td colspan="5" class="text-sm-center">{{'general.loading' | translate}}</td></tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</script>