<div class="animated fadeIn">
    <div class="col-sm-12 col-md-12 p0">
        <div class="row">
            <div ng-if="no_modules" class="col-sm-12  white-bg p-1  text-sm-center card" style="margin-top: 20px;">
                {{'dashboard.no_reviews' | translate}}
            </div>
            <div class="col-lg-8 pl0 large-widget" ng-if="!no_modules">
                <div class="card col-lg-12 p0">
                    <h5>{{contractData.contract_name}}</h5>
                    <div class="card-block border-left-none">
                        <div class="h4 m-b-0">{{'contract.status' | translate}}</div>
                        <span class="widget-span orange">{{contractData.contract_status | capitalize}}</span>
                    </div>
                    <div class="card-block">
                        <div class="h4 m-b-0">{{'contract.last_review' | translate}}</div>
                        <span class="widget-span">{{contractData.last_review | utcToLocal:'date' | isUndefinedOrNull}}</span>
                    </div>
                    <div class="card-block">
                        <div class="h4 m-b-0">{{'contract.current_status' | translate}}</div>
                        <div class="status-widget font-weight-bold" ng-if="contractData.score == 'Red'">
                            <span class="red-active"></span>
                            <span class=""></span>
                            <span class=""></span>
                            <small class="f12 pull-right" >{{contractData.contract_progress}}</small>
                        </div>
                        <div class="status-widget font-weight-bold" ng-if="contractData.score == 'Amber'">
                            <span class=""></span>
                            <span class="amber-active"></span>
                            <span class=""></span>
                            <small class="f12 pull-right" >{{contractData.contract_progress}}</small>
                        </div>
                        <div class="status-widget font-weight-bold" ng-if="contractData.score == 'Green'">
                            <span class=""></span>
                            <span class=""></span>
                            <span class="green-active"></span>
                            <small class="f12 pull-right" >{{contractData.contract_progress}}</small>
                        </div>
                        <div class="status-widget font-weight-bold" ng-if="!contractData.score">
                            <span class=""></span>
                            <span class=""></span>
                            <span class=""></span>
                            <small class="f12 pull-right" >{{contractData.contract_progress}}</small>
                        </div>
                        <span ng-if="contractData.score == 'N/A'">{{contractData.score}}<span class="f12 pull-right">{{contractData.contract_progress}}</span></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 p0"  ng-if="!no_modules">
                <div class="icons-widget pr0">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-block"
                                 ng-click="goToDetails()">
                                <div class="h2 text-xs-center">
                                    <i class="icon-report3"></i>
                                </div>
                                <small class="text-center font-weight-bold">{{'general.view' | translate}}</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block"
                                 ng-click="goToDashboard()">
                                <div class="h2 text-xs-center">
                                    <i class="icon-dashboard5"></i>
                                </div>
                                <small class="text-center font-weight-bold">{{'contract.dashboard' | translate}}</small>
                            </div>
                        </div>
                        <div class="card" ng-click="goToDesign()" ng-if="contractData.idaadi == 'itako'">
                            <div class="card-block">
                                <div class="h2 text-xs-center">
                                    <i class="icon-review-files"></i>
                                </div>
                                <small class="text-center font-weight-bold">{{'Discussion' | translate}}</small>
                            </div>
                        </div>
                        <div class="card" ng-click="goToChangeLog()">
                            <div class="card-block">
                                <div class="h2 text-xs-center">
                                    <i class="icon-template-manage"></i>
                                </div>
                                <small class="text-center font-weight-bold">{{'contract.change_log' | translate}}</small>
                            </div>
                        </div>
                        <div class="card active" ng-click="finalizeReviewList()"
                             ng-if="(contractData.contract_user_access == 'ca' || contractData.contract_user_access == 'bo' || contractData.contract_user_access == 'bd') && (progress == 100) &&(contractData.reaaer =='itako')" ng-click="finalizeReviewList()">
                            <div class="card-block">
                                <div class="h2 text-xs-center">
                                    <i class="icon-finalize"></i>
                                </div>
                                <small class="text-center font-weight-bold">{{'contract.finalize' | translate}}</small>
                            </div>
                        </div>
                        <div class="card"  ng-if="(contractData.contract_user_access == 'ca' || contractData.contract_user_access == 'bo' || contractData.contract_user_access == 'bd') && (progress != 100)">
                            <div class="card-block " uib-tooltip="{{'contract.module_questions.please_answer_questions' | translate}}">
                                <div class="h2 text-xs-center finalize">
                                    <i class="icon-finalize finalize"></i>
                                </div>
                                <small class="text-center font-weight-bold finalize">{{'contract.finalize' | translate}}</small>
                            </div>
                        </div>
                        <div class="card active" ng-if="(contractData.contract_user_access == 'ca' || contractData.contract_user_access == 'bo' || contractData.contract_user_access == 'bd') &&
                                (contractData.contract_status == 'new' || contractData.contract_status == 'review finalized' || contractData.contract_status == 'pending review') && (contractData.review_scheduled == 1)">
                            <div class="card-block" ng-click="initializeReview(false)">
                                <div class="h2 text-xs-center">
                                    <i class="icon-touchpoints"></i>
                                </div>
                                <small class="text-center font-weight-bold">{{'contract.initiate' | translate}}</small>
                            </div>
                        </div>
                        <div class="card"
                             ng-if="(contractData.contract_user_access == 'ca' || contractData.contract_user_access == 'bo' || contractData.contract_user_access == 'bd') &&
                             (contractData.contract_status == 'new' || contractData.contract_status == 'review finalized' || contractData.contract_status == 'pending review') && (contractData.review_scheduled == 0)">
                            <div class="card-block"
                                 ng-click="initializeReview(true)">
                                <div class="h2 text-xs-center">
                                    <i class="icon-touchpoints"></i>
                                </div>
                                <small class="text-center font-weight-bold">{{'contract.adhoc_review' | translate}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 contract-review pl0"  ng-if="!no_modules">
                <div class="cursor-pointer">
                    <div class="review-widget" ng-repeat="module in contractModules"
                         ng-click="(module.imreermi=='itako')?goToModuleQuestions(module):NULL">
                        <div class="card">
                            <div class="card-block text-xs-center border-left-none">
                                <div class="review-head w-100" uib-tooltip="{{module.module_name}}" ng-class="{'bg-color-orange': module.type=='static'}" >
                                    <span class="review-head-ellipsis">
                                        {{module.module_name  | splitText:'40'}}</span>
                                </div>
                                <div class="text by-name"><span class="latest_review">{{'contract.last_review_by' | translate}}: </span>
                                    <span class="orange ellipis w_95">{{module.review_user_name}}</span>
                                    <p class="mb-0">{{module.last_review | utcToLocal:'date' | checkEmpty}}</p>
                                </div>
                                <div class="">
                                    <span class="">{{'contract.module_questions.progress' | translate}} : {{module.progress}} %</span>
                                </div>
                                <div class="">
                                    <span class="">{{'contract.completion' | translate}} : {{module.question_count}} </span>
                                </div>
                                <div class="review-status">
                                    <div class="status-widget font-weight-bold" ng-if="module.score == 'Red'">
                                        <span class="red-active"></span>
                                        <span class=""></span>
                                        <span class=""></span>
                                    </div>
                                    <div class="status-widget font-weight-bold" ng-if="module.score == 'Amber'">
                                        <span class=""></span>
                                        <span class="amber-active"></span>
                                        <span class=""></span>
                                    </div>
                                    <div class="status-widget font-weight-bold" ng-if="module.score == 'Green'">
                                        <span class=""></span>
                                        <span class=""></span>
                                        <span class="green-active"></span>
                                    </div>
                                    <div class="status-widget font-weight-bold" ng-if="!module.score">
                                        <span class=""></span>
                                        <span class=""></span>
                                        <span class=""></span>
                                    </div>
                                    <span class="" ng-if="module.score == 'N/A'">{{module.score}}</span>
                                </div>
                                <div class="col-sm-12 action-item-data">
                                    <div class="pull-left pl5">
                                        <table>
                                            <tr>
                                                <td style="text-align: left"><span class="gray pull-left">{{'contract.action_item' | translate}}:</span></td>
                                                <td style="text-align: right;padding-right:2px;"><span class=" bold">{{module.action_item_count}}</span></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left"><span class="gray pull-left">{{'contract.question_open_action_item_count' | translate}}:</span></td>
                                                <td style="text-align: right;padding-right:2px;"><span class=" bold">{{module.open_question_open_action_item_count}}</span></td>
                                            </tr>
                                            <tr>
                                                    <td style="text-align: left"><span class="gray pull-left">{{'contract.changes' | translate}}:</span></td>
                                                    <td style="text-align: right;padding-right:2px;"><span class=" bold">{{module.changes_count | isUndefinedOrNull}}</span></td>
                                                </tr>
                                         </table>
                                        <!-- <span class="gray pull-left">{{'contract.action_item' | translate}}:</span>
                                        <span class=" bold pull-right">{{module.action_item_count}}</span></div>
                                        <span class="gray pull-left">{{'contract.question_open_action_item_count' | translate}}:</span>
                                        <span class=" bold pull-right">{{module.open_question_open_action_item_count}}</span> -->
                                    </div>
                                    <!-- <p class="pull-left pl5">
                                        <span class="gray">{{'contract.changes' | translate}}: </span>
                                        <span class=" bold">{{module.changes_count | isUndefinedOrNull}}</span></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 p0 mb-1">
                    <div class="">
                        <table class="table table-custom table-striped table-hover" st-pipe="reviewAction" st-table="contractsList">
                            <thead>
                            <tr>
                                <td colspan="2">
                                    <h6 class="">{{'contract.review_action_items' | translate}}</h6>
                                </td>
                                <td colspan="8">
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="action-head mb0">
                                            <div class="col-sm-6 p0 table-search pull-right">
                                                <input type="text" class="form-control" placeholder="{{'general.search' | translate}}"
                                                       st-search="search_key">
                                                <i class="fa icon-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th st-sort="module_name">{{'contract.module' | translate}}</th>
                                <th st-sort="action_item">{{'contract.action_item' | translate}}</th>
                                <th st-sort="user_name">{{'contract.responsible' | translate}}</th>
                                <th st-sort="due_date">{{'contract.due_date' | translate}}</th>
                                <!--<th st-sort="last_review">{{'contract.last_review' | translate}}</th>-->
                                <th st-sort="status">{{'contract.status' | translate}}</th>
                                <th class="hand-symbol"></th>
                            </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in reviewList">
                                <td><span class="ellipis w100" uib-tooltip="{{row.module_name}}">{{row.module_name}}</span></td>
                                <td>
                                    <a class="ellipis w150" href="javascript:;"
                                       ng-click="updateContractAction(row,'view')"
                                       title="{{row.action_item}}">{{row.action_item}}</a>
                                </td>
                                <td><span class="ellipis w100 orange" uib-tooltip="{{row.user_name}}">{{row.user_name}}</span></td>
                                <td>{{row.due_date  | utcToLocal:'date' | checkEmpty}}</td>
                                <!--<td>{{row.last_review  | utcToLocal:'date' | checkEmpty}}</td>-->
                                <td>
                                    <span class="green" ng-if="row.status == 'completed'">{{row.status}}</span>
                                    <span class="" ng-if="row.status == 'open'">{{row.status}}</span>
                                    <span class="red" ng-if="row.status == 'due'">{{'contract.due' | translate}}</span>
                                </td>
                                <td>
                                    <span ng-if="row.daad!='itako'">---</span>
                                    <a ng-if="row.daad=='itako'" href="#"
                                       ng-click="deleteContractActionItem(row)" title="{{'general.delete' | translate}}"><i class="icon-trash"></i></a>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-show="mc.isLoading">
                            <tr>
                                <td colspan="8" class="text-center">{{'general.loading' | translate}}</td>
                            </tr>
                            </tbody>
                            <tbody ng-show="emptyTable">
                            <tr>
                                <td colspan="8" class="text-sm-center">{{'general.no_data' | translate}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="text-center" colspan="8">
                                    <div st-pagination="" class="text-sm-center"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 p0" ng-if="!no_modules">
                <div class="card pr0">
                    <div class="">
                        <div class="card-header"><i class="icon-attachment"></i>{{'attachment.review_attachments' | translate}}</div>
                        <div class="card-block pt-h pb-h" style="height: 400px;overflow-y: auto;">
                            <div class="form-group attachments-search">
                                <select class="form-control" ng-model="moduleFilter"
                                        ng-options="item.module_name as item.module_name for item in contractModules">
                                    <option value="">-- {{'change_logs.all_modules' | translate}} --</option>
                                </select>
                            </div>
                            <div  class="attachment-widget" ng-repeat="a in attachmentList |  filter:(!!moduleFilter || undefined) && {module_name: moduleFilter}">
                                <p ng-if="attachmentList.length>0" class="mb-0">
                                    <a href="javascript:;" title="Download" ng-click="getDownloadUrl(a)" class="ellipis attachment-fileHead ng-binding" style="cursor: pointer;" text-line>
                                        <i class="icon-arrow-down-circle f14 display-inline-block pt4 valign-t"></i> {{a.document_name}}</a>
                                    <a href="#" class="gray">
                                        <i ng-if="(a.daad == 'itako') && (contractData.reaaer == 'itako')" class="pull-right icon-trash mt3"
                                           title="{{'general.delete' | translate}}"
                                           ng-click="deleteModuleDocument(a.id_document,a.document_name)"></i>
                                    </a>
                                    <span class="f11 display-block pl-1" text-line>{{a.module_name}} / {{a.topic_name}} / {{a.question_text}}</span>
                                    <span style="display: block;font-size: 10px;" class="pl-1 mr-h">
                                        <span class="font-italic gray">
                                            <span style="color:black" class="">{{'general.by' | translate}}</span> {{a.uploaded_user_name}}</span>
                                        <span class="font-italic gray">
                                            <span style="color:black" class="">{{'general.on' | translate}}</span> {{a.uploaded_on | utcToLocal:'date' | checkEmpty}}</span>
                                    </span>
                                </p>
                            </div>
                            <p ng-if="attachmentList.length <= 0" class="text-sm-center">
                                {{'attachment.no_files' | translate}}
                            </p>
                            <div ng-show="attachmentList.length > 1">
                                <p ng-if="(attachmentList | filter:(!!moduleFilter || undefined) && {module_name: moduleFilter}).length < 1"
                                   class="text-sm-center">{{'attachment.no_files' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="review-warning" ng-if="discussion_access && loading">
        {{'discussion.top_msg' | translate}} {{'discussion.click' | translate}}
        <a style="text-decoration: underline;cursor: pointer;" ng-click="goToDesign()">{{'discussion.here' | translate}}</a> {{'discussion.to_view' | translate}}
    </div>
</div>

<script type="text/ng-template" id="group-template.html">
    <div class="accordion-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                        <i class=" glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        {{heading}}
                    </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="contract-review-finalize.html">
    <div class="modal-header">
        <h6 class="modal-title">
            {{'discussion.final_review' | translate}} - {{contractData.contract_name}} - {{contractData.provider_name}}
            <a ng-click="cancel()" title="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
        </h6>
    </div>
    <form novalidate name="finalizeForm" ng-submit="finalizeForm.$valid && finalizeReview(finalize,contractData.ideedi)">
        <div class="modal-body clearfix" ng-init="finalize.finalize_without_discussion = 0">
            <div class="form-group col-md-12 clearfix">
                <label class="checkbox" for="without_discussion"  ng-if="contractData.ideedi != 'annus'">
                    <input type="checkbox" id="without_discussion" name="discussion"
                           ng-model="finalize.finalize_without_discussion" ng-true-value="1" ng-false-value="0" required/>
                   {{'contract.final.discussion_exist' | translate}}
                </label>
                <span class="error-message col-md-12 p0" ng-if="finalizeForm.discussion.$error.required && finalizeForm.$submitted">{{'please check the checkbox'}}</span>
            </div>
            <div class="form-group col-md-12"  ng-if="contractData.ideedi != 'annus'">
                <label> {{'contract.final.comments' | translate}} *
                    <textarea class="form-control" name="comments" cols="100" rows="2" ng-model="finalize.finalize_comments" required></textarea>
                </label>
                <span class="error-message" ng-if="finalizeForm.comments.$error.required && finalizeForm.$submitted">{{'general.required_field' |translate}}</span>
            </div>
            <div class="form-group col-md-12 clearfix">
                <label class="checkbox"  ng-if="contractData.ideedi == 'annus'">
                    {{'contract.final.confirm_finalize' | translate}}
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-disabled="allowToFinish" class="btn btn-sm btn-primary">
                <i class="fa fa-dot-circle-o"></i>&nbsp; {{'contract.final.finalize' | translate}}</button>
            <button type="reset" class="btn btn-sm btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i>&nbsp;{{'general.cancel' | translate}}</button>
        </div>
    </form>
</script>