<div class="animated fadeIn f12">
    <div class="card-group col-lg-12 p0 contract-details">
        <div class="row">
            <div class="col-lg-12 p0 large-widget">
                <table class="table table-custom table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 20%;" class="hand-symbol"></th>
                            <th style="width: 40%;" class="hand-symbol">{{'contract.current_data' | translate}}</th>
                            <th style="width: 40%;" class="hand-symbol">
                                <div>
                                    <select class="form-control" ng-model="contract.id_contract_log" ng-change="getContractLogs(contract.id_contract_log)" ng-options="item.id_contract_log as ((item.log_created_on  | utcToLocal: 'datetime') +' by '+item.log_user_name) for item in contractLogOptions">
                                        <option value=""> --{{'general.select' | translate}} {{'contract.log' | translate}}--</option>
                                    </select>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bold">{{'contract.provider' | translate}}</td>
                            <td>{{currentContract[0].provider_name | checkEmpty}}</td>
                            <td>
                                <span ng-if="contractLogDetails[0].provider_name">
                                    <span ng-if="currentContract[0].provider_name === contractLogDetails[0].provider_name">
                                        {{contractLogDetails[0].provider_name | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].provider_name !== contractLogDetails[0].provider_name" class="log_cahnge">
                                        {{contractLogDetails[0].provider_name | checkEmpty}}
                                    </span>
                                </span>
                                <span ng-if="!contractLogDetails[0].provider_name">---</span>

                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.contract_name' | translate}}</td>
                            <td>{{currentContract[0].contract_name | checkEmpty}}</td>
                            <td>
                                <span ng-if="!contractLogDetails[0].contract_name">---</span>
                                <span ng-if="contractLogDetails[0].contract_name">
                                    <span ng-if="currentContract[0].contract_name === contractLogDetails[0].contract_name">
                                        {{contractLogDetails[0].contract_name | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].contract_name !== contractLogDetails[0].contract_name" class="log_cahnge">
                                        {{contractLogDetails[0].contract_name | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.contract_start_date' | translate}}</td>
                            <td>{{currentContract[0].contract_start_date | utcToLocal: 'date' | checkEmpty}}</td>
                            <td>
                                <span ng-if="!contractLogDetails[0].contract_start_date">---</span>
                                <span ng-if="contractLogDetails[0].contract_start_date">
                                    <span ng-if="currentContract[0].contract_start_date === contractLogDetails[0].contract_start_date">
                                        {{contractLogDetails[0].contract_start_date | utcToLocal: 'date' | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].contract_start_date !== contractLogDetails[0].contract_start_date" class="log_cahnge">
                                        {{contractLogDetails[0].contract_start_date | utcToLocal: 'date' | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.contract_end_date' | translate}}</td>
                            <td>{{currentContract[0].contract_end_date | utcToLocal: 'date' | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].contract_end_date | utcToLocal: 'date' | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].contract_end_date">---</span>
                                <span ng-if="contractLogDetails[0].contract_end_date">
                                    <span ng-if="currentContract[0].contract_end_date === contractLogDetails[0].contract_end_date">
                                        {{contractLogDetails[0].contract_end_date | utcToLocal: 'date' | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].contract_end_date !== contractLogDetails[0].contract_end_date" class="log_cahnge">
                                        {{contractLogDetails[0].contract_end_date | utcToLocal: 'date' | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.annual_contract_value' | translate}} ({{'general.incl' | translate}}. {{'general.vat'
                                | translate}})</td>
                            <td>{{currentContract[0].contract_value | currency : currentContract[0].currency_name+' ':0 | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].contract_value | currency : currentContract[0].currency_name+' ' | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].contract_value">---</span>
                                <span ng-if="contractLogDetails[0].contract_value">
                                    <span ng-if="(currentContract[0].contract_value === contractLogDetails[0].contract_value)
                                                && (currentContract[0].currency_name === contractLogDetails[0].currency_name)">
                                        {{contractLogDetails[0].contract_value | currency : contractLogDetails[0].currency_name+' ':0 | checkEmpty}}
                                    </span>
                                    <span ng-if="(currentContract[0].contract_value !== contractLogDetails[0].contract_value)
                                                || (currentContract[0].currency_name !== contractLogDetails[0].currency_name)"
                                        class="log_cahnge">
                                        {{contractLogDetails[0].contract_value | currency : contractLogDetails[0].currency_name+' ':0 | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.classification' | translate}}</td>
                            <td>{{currentContract[0].classification_name | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].classification_name | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].classification_name">---</span>
                                <span ng-if="contractLogDetails[0].classification_name">
                                    <span ng-if="currentContract[0].classification_name === contractLogDetails[0].classification_name">
                                        {{contractLogDetails[0].classification_name | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].classification_name !== contractLogDetails[0].classification_name" class="log_cahnge">
                                        {{contractLogDetails[0].classification_name | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.relationship_category' | translate}}</td>
                            <td>{{currentContract[0].relationship_category_name | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].relationship_category_name | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].relationship_category_name">---</span>
                                <span ng-if="contractLogDetails[0].relationship_category_name">
                                    <span ng-if="currentContract[0].relationship_category_name === contractLogDetails[0].relationship_category_name">
                                        {{contractLogDetails[0].relationship_category_name | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].relationship_category_name !== contractLogDetails[0].relationship_category_name" class="log_cahnge">
                                        {{contractLogDetails[0].relationship_category_name | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.automatic_prolongation' | translate}}</td>
                            <td>
                                <!--{{currentContract[0].auto_renewal}}-->
                                <!--<div class="onoffswitch form-inline">-->
                                <!--<input name="onoffswitch_toggle" ng-model="currentContract[0].auto_renewal"
                                           ng-true-value="'1'"
                                           ng-false-value="'0'"
                                           class="onoffswitch-checkbox" type="checkbox">
                                    <label class="onoffswitch-label assessment-switch">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>-->
                                <span>
                                    <span ng-if="currentContract[0].auto_renewal==1">Yes</span>
                                    <span ng-if="currentContract[0].auto_renewal==0">No</span>
                                </span>
                                <!--</div>-->
                            </td>
                            <td>
                                <span ng-if="!contractLogDetails[0].auto_renewal">---</span>
                                <!--<div class="log_cahnge onoffswitch form-inline" ng-if="contractLogDetails[0].auto_renewal">-->
                                <!--<input name="onoffswitch_toggle" ng-model="contractLogDetails[0].auto_renewal"
                                           ng-true-value="'1'"
                                           ng-false-value="'0'"
                                           class="onoffswitch-checkbox" type="checkbox">
                                    <label class="onoffswitch-label assessment-switch">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>-->
                                <span ng-if="contractLogDetails[0].auto_renewal && currentContract[0].auto_renewal != contractLogDetails[0].auto_renewal"
                                    class="log_cahnge">
                                    <span ng-if="contractLogDetails[0].auto_renewal==1">Yes</span>
                                    <span ng-if="contractLogDetails[0].auto_renewal==0">No</span>
                                </span>
                                <span ng-if="contractLogDetails[0].auto_renewal && currentContract[0].auto_renewal == contractLogDetails[0].auto_renewal">
                                    <span ng-if="contractLogDetails[0].auto_renewal==1">Yes</span>
                                    <span ng-if="contractLogDetails[0].auto_renewal==0">No</span>
                                </span>
                                <!--</div>-->
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'bussiness.bussiness_unit' | translate}}</td>
                            <td>{{currentContract[0].business_unit | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].business_unit | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].business_unit">---</span>
                                <span ng-if="contractLogDetails[0].business_unit">
                                    <span ng-if="currentContract[0].business_unit === contractLogDetails[0].business_unit">
                                        {{contractLogDetails[0].business_unit | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].business_unit !== contractLogDetails[0].business_unit" class="log_cahnge">
                                        {{contractLogDetails[0].business_unit | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.logs.contract_owner_name' | translate}}</td>
                            <td>{{currentContract[0].contract_owner_name | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].contract_owner_name | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].contract_owner_name">---</span>
                                <span ng-if="contractLogDetails[0].contract_owner_name">
                                    <span ng-if="currentContract[0].contract_owner_name === contractLogDetails[0].contract_owner_name">
                                        {{contractLogDetails[0].contract_owner_name | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].contract_owner_name !== contractLogDetails[0].contract_owner_name" class="log_cahnge">
                                        {{contractLogDetails[0].contract_owner_name | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.delegates' | translate}}</td>
                            <td>{{currentContract[0].delegate_user_name | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].delegate_user_name | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].delegate_user_name">---</span>
                                <span ng-if="contractLogDetails[0].delegate_user_name">
                                    <span ng-if="currentContract[0].delegate_user_name === contractLogDetails[0].delegate_user_name">
                                        {{contractLogDetails[0].delegate_user_name | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].delegate_user_name !== contractLogDetails[0].delegate_user_name" class="log_cahnge">
                                        {{contractLogDetails[0].delegate_user_name | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.contract_desc' | translate}}</td>
                            <td>{{currentContract[0].description | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].description | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].description">---</span>
                                <span ng-if="contractLogDetails[0].description">
                                    <span ng-if="currentContract[0].description === contractLogDetails[0].description">
                                        {{contractLogDetails[0].description | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].description !== contractLogDetails[0].description" class="log_cahnge">
                                        {{contractLogDetails[0].description | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.internal' | translate}} {{'contract.contract_sponsor' | translate}}</td>
                            <td>{{currentContract[0].internal_contract_sponsor | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].internal_contract_sponsor| checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].internal_contract_sponsor">---</span>
                                <span ng-if="contractLogDetails[0].internal_contract_sponsor">
                                    <span ng-if="currentContract[0].internal_contract_sponsor === contractLogDetails[0].internal_contract_sponsor">
                                        {{contractLogDetails[0].internal_contract_sponsor | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].internal_contract_sponsor !== contractLogDetails[0].internal_contract_sponsor" class="log_cahnge">
                                        {{contractLogDetails[0].internal_contract_sponsor | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.logs.provider_contract_sponsor' | translate}}</td>
                            <td> {{currentContract[0].provider_contract_sponsor | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].provider_contract_sponsor | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].provider_contract_sponsor">---</span>
                                <span ng-if="contractLogDetails[0].provider_contract_sponsor">
                                    <span ng-if="currentContract[0].provider_contract_sponsor === contractLogDetails[0].provider_contract_sponsor">
                                        {{contractLogDetails[0].provider_contract_sponsor | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].provider_contract_sponsor !== contractLogDetails[0].provider_contract_sponsor" class="log_cahnge">
                                        {{contractLogDetails[0].provider_contract_sponsor | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.logs.internal_partner_relationship_manager' | translate}}</td>
                            <td> {{currentContract[0].internal_partner_relationship_manager | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].internal_partner_relationship_manager | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].internal_partner_relationship_manager">---</span>
                                <span ng-if="contractLogDetails[0].internal_partner_relationship_manager">
                                    <span ng-if="currentContract[0].internal_partner_relationship_manager === contractLogDetails[0].internal_partner_relationship_manager">
                                        {{contractLogDetails[0].internal_partner_relationship_manager | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].internal_partner_relationship_manager !== contractLogDetails[0].internal_partner_relationship_manager"
                                        class="log_cahnge">
                                        {{contractLogDetails[0].internal_partner_relationship_manager | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.logs.provider_partner_relationship_manager' | translate}}</td>
                            <td> {{currentContract[0].provider_partner_relationship_manager | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].provider_partner_relationship_manager | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].provider_partner_relationship_manager">---</span>
                                <span ng-if="contractLogDetails[0].provider_partner_relationship_manager">
                                    <span ng-if="currentContract[0].provider_partner_relationship_manager === contractLogDetails[0].provider_partner_relationship_manager">
                                        {{contractLogDetails[0].provider_partner_relationship_manager | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].provider_partner_relationship_manager !== contractLogDetails[0].provider_partner_relationship_manager"
                                        class="log_cahnge">
                                        {{contractLogDetails[0].provider_partner_relationship_manager | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.logs.internal_contract_responsible' | translate}}</td>
                            <td> {{currentContract[0].internal_contract_responsible | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].provider_partner_relationship_manager | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].internal_contract_responsible">---</span>
                                <span ng-if="contractLogDetails[0].internal_contract_responsible">
                                    <span ng-if="currentContract[0].internal_contract_responsible === contractLogDetails[0].internal_contract_responsible">
                                        {{contractLogDetails[0].internal_contract_responsible | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].internal_contract_responsible !== contractLogDetails[0].internal_contract_responsible" class="log_cahnge">
                                        {{contractLogDetails[0].internal_contract_responsible | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.logs.provider_contract_responsible' | translate}}</td>
                            <td> {{currentContract[0].provider_contract_responsible | checkEmpty}}</td>
                            <td>
                                <!--{{contractLogDetails[0].provider_partner_relationship_manager | checkEmpty}}-->
                                <span ng-if="!contractLogDetails[0].provider_contract_responsible">---</span>
                                <span ng-if="contractLogDetails[0].provider_contract_responsible">
                                    <span ng-if="currentContract[0].provider_contract_responsible === contractLogDetails[0].provider_contract_responsible">
                                        {{contractLogDetails[0].provider_contract_responsible | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].provider_contract_responsible !== contractLogDetails[0].provider_contract_responsible" class="log_cahnge">
                                        {{contractLogDetails[0].provider_contract_responsible | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row pt10">
            <div class="col-lg-12 p0 large-widget">
                <h6>{{'contract.deleted_file_log' | translate}}</h6>
                <table class="table table-custom table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 25%;" class="hand-symbol">{{'contract.file_name' | translate}}</th>
                            <th style="width: 25%;" class="hand-symbol">Action</th>
                            <th style="width: 25%;" class="hand-symbol">{{'contract.deleted_user' | translate}}</th>
                            <th style="width: 25%;" class="hand-symbol">{{'contract.date' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in FileList">

                            <td class="">
                                <a href="javascript:;" ng-click="getDownloadUrl(row)">{{row.document_name | translate}}</a>
                            </td>
                            <td>
                                <span>{{row.updated_by==0?'Added':'Deleted'}}</span>
                            </td>
                            <td>
                                <span ng-if="row.updated_by==0"> {{row.uploaded_user | checkEmpty }}</span>
                                <span ng-if="row.updated_by!=0">{{ row.updated_by_name | checkEmpty }}</span>
                            </td>
                            <td>
                                <span ng-if="row.updated_by==0">
                                    {{row.uploaded_on | utcToLocal: 'datetime' | checkEmpty}}
                                </span>
                                <span ng-if="row.updated_by!=0">
                                    {{row.updated_on | utcToLocal: 'datetime' | checkEmpty}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="3" class="text-center">{{'general.loading' | translate}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-show="emptyTable">
                        <tr>
                            <td colspan="3" class="text-sm-center">{{'general.no_data' | translate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>