<div class="animated fadeIn">
    <div class="contract-overview">
        <div class="row">
            <div class="col-lg-8 p0">
                <div class="card" st-pipe="callServer" st-table="contractsList">
                    <div class="col-sm-12 tableSelect-header">
                        <div class="form-group col-sm-2 pl0 custom-field pt10 w155">
                            <!--<label class="col-sm-4 pl0 mb-0 pt4">{{'contract.filter' | translate}}:</label>-->
                            <!--<div class="col-sm-8 p0">-->
                            <select class="form-control" id="select" name="select1" size="1" ng-model="business_unit_id" ng-class="(business_unit_id)?'active-filter':''"
                                st-input-event="change" st-search="business_unit_id" ng-change="getProviderList();" ng-options="item.id_business_unit as item.bu_name for item in bussinessUnit">
                                <option value="">--{{'bussiness.bussiness_unit'| translate}}--</option>
                            </select>
                            <!--</div>-->
                        </div>
                        <div class="form-group col-sm-2 custom-field pl0 pt10 w155">
                            <select class="form-control" id="select1" name="select2" size="1" ng-model="provider_name" ng-class="(provider_name)?'active-filter':''"
                                st-input-event="change" st-search="provider_name" ng-change="getStatuses();" ng-options="item.provider_name as item.provider_name for item in providerList">
                                <option value="">--{{'contract.provider' | translate}}--</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2 custom-field pt10 pl0 w155">
                            <select class="form-control" id="select2" name="select3" size="1" ng-model="contract_status" ng-class="(contract_status)?'active-filter':''"
                                st-input-event="change" st-search="contract_status" ng-options="item.key as item.value for item in statusList">
                                <option value="">--{{'general.status' | translate}}--</option>
                                <!--<option value="">{{'general.all' | translate}}</option>
                                <option value="pending review">{{'contract.pending_review' | translate}}</option>
                                <option value="review in progress">{{'contract.review_in_progress' | translate}}</option>-->
                            </select>
                        </div>
                        <div class="form-group col-sm-2 custom-field pt10 pl0 w155">
                            <!-- ng-options="item.key as item.value for item in statusList" -->
                            <select class="form-control" id="select4" name="select4" size="1" ng-model="contractType" ng-class="(contracts)?'active-filter':''"
                                st-input-event="change" st-search="contractType">
                                <option value="">--{{'general.contract' | translate}}--</option>
                                <option value="my_contracts">{{'dashboard.my_reviews' | translate}}</option>
                                <option value="contributing_to">{{'dashboard.contributing_to' | translate}}</option>
                            </select>
                        </div>
                        <span class="pull-right">
                            <button ng-if="(user.access=='wa' || user.access=='ca' || user.access=='bo' || user.access=='bd')" class="btn btn-sm btn-primary"
                                type="button" ng-click="createContract()" title="{{'contract.create_contract' | translate}}">
                                <i class="icon-plus-circle"></i>
                            </button>
                            <button ng-if="user.access=='ca' || user.access=='bo' || user.access=='bd'" class="btn btn-default btn-sm btn-green" ng-click="exportContractsList()"
                                title="{{'contract.export' | translate}}" type="button">
                                <i class="icon-export2"></i>
                            </button>
                        </span>
                        <div class="col-sm-3 p0 table-search pull-right  p-r-3 w155" style="padding-top: 10px; padding-right: 4px;">
                            <input type="text" class="form-control" placeholder="{{'general.search' | translate}}" st-search="search_key">
                            <i class="fa icon-search" style="padding-top: 10px;"></i>
                        </div>
                    </div>
                    <table class="table table-custom table-striped table-hover contact-view-table">
                        <thead>
                            <tr>
                                <th width="1%"></th>
                                <th class="hand-symbol"></th>
                                <th st-sort="provider_name">{{'contract.provider' | translate}}</th>
                                <th st-sort="contract_name">{{'contract.contract_name' | translate}}</th>
                                <th st-sort="relationship_category_name">{{'contract.category' | translate}}</th>
                                <th class="hand-symbol">{{'contract.review_by' | translate}}</th>
                                <th class="hand-symbol">{{'contract.last_review' | translate}}</th>
                                <th class="hand-symbol">{{'contract.current_status' | translate}}</th>
                                <th class="hand-symbol"></th>
                            </tr>
                        </thead>
                        <tbody ng-if="!isLoading">
                            <tr ng-repeat-start="row in contractsList">
                                <td style="max-width: 30px;min-width: 30px;width: 30px;" ng-init="showData[row.id_contract]=row;showData[row.id_contract]['showChild']=false;">
                                    <i ng-if="row['sub_contracts'] && row['sub_contracts'].length > 0" 
                                        ng-click="showData[row.id_contract]['showChild']=!showData[row.id_contract]['showChild']"
                                       style="cursor: pointer;"
                                        class="fa {{!showData[row.id_contract]['showChild']?'fa-plus':'fa-minus'}}" tooltip-placement="top"
                                        title="{{!showData[row.id_contract]['showChild']?'View child contracts':''}}"></i>
                                </td>
                                <td style="max-width: 30px;min-width: 30px;width: 30px;">
                                    <span ng-if="row.action_item_count>0" tooltip-placement="right" uib-tooltip="{{'contract.action_items' | translate}}" class="label_tag">{{row.action_item_count}}</span>
                                </td>
                                <td style="max-width: 120px;min-width: 120px;width: 120px;">
                                    <a ui-sref="app.contract.contract-overview({pname:(row.provider_name)})" title="{{rowData.provider_name}}" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:110px;"
                                        n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract with provider ($${{row.provider_name}})"}'>
                                        {{row.provider_name}}
                                    </a>
                                </td>
                                <td style="max-width: 150px;min-width: 150px;width: 150px;">
                                    <a class="contract-td" title="{{rowData.contract_name}}" ui-sref="app.contract.view({name:row.contract_name,id:(row.id_contract | encode)})" n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract($${{row.contract_name}})"}'
                                        style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;width:140px;">
                                        {{row.contract_name}}
                                    </a>
                                </td>
                                <td style="min-width: 80px;width: 80px;">
                                    <span uib-tooltip="{{row.relationship_category_name}}">{{row.relationship_category_short_name}}</span>
                                </td>
                                <td style="width:100px;max-width:100px;min-width: 100px;">{{row.deadline | utcToLocal: 'date' | checkEmpty}}</td>
                                <td style="width:100px;max-width:100px;min-width: 100px;">{{row.last_review | utcToLocal: 'date' | checkEmpty}}</td>
                                <td ng-if="row.score == 'Amber'"  style="max-width:100px;min-width: 100px;width: 100px;">
                                    <div class="status-widget font-weight-bold">
                                        <span class=""></span>
                                        <span class="amber-active"></span>
                                        <span class=""></span>
                                    </div>
                                </td>
                                <td ng-if="row.score == 'Red'" style="max-width:100px;min-width: 100px;width: 100px;">
                                    <div class="status-widget font-weight-bold">
                                        <span class="red-active"></span>
                                        <span class=""></span>
                                        <span class=""></span>
                                    </div>
                                </td>
                                <td ng-if="row.score == 'Green'" style="max-width:100px;min-width: 100px;width: 100px;">
                                    <div class="status-widget font-weight-bold">
                                        <span class=""></span>
                                        <span class=""></span>
                                        <span class="green-active"></span>
                                    </div>
                                </td>
                                <td ng-if="!row.score" style="max-width:100px;min-width: 100px;width: 100px;">
                                    <div class="status-widget font-weight-bold">
                                        <span class=""></span>
                                        <span class=""></span>
                                        <span class=""></span>
                                    </div>
                                </td>
                                <td ng-if="row.score == 'N/A'">
                                    <span class="">{{row.score}}</span>
                                </td>
                                <td style="max-width: 100px;min-width: 100px;width: 100px;">
                                    <span class="f12">{{row.contract_progress == null ? "0%":row.contract_progress}}</span>
                                    <span uib-dropdown on-toggle="toggled(open)" class="c-dropdown width-20 pull-right">
                                        <a href uib-dropdown-toggle class="font-sm">
                                            <span class="fa fa-ellipsis-v"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right" dropdown-append-to-body="true" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                            <li ng-if="row.id_contract_review">
                                                <a href="javascript:;" ng-click="goToContractReview(row)">{{'contract.review' | translate}}</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-click="goToContractDashboard(row)">{{'contract.dashboard' | translate}}</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-click="exportContractReview(row)">{{'contract.export' | translate}}</a>
                                            </li>
                                            <li ng-if="del==1">
                                                <a href="javascript:;" ng-click="deleteContract(row)" class="danger-delete">{{'contract.delete' | translate}}</a>
                                            </li>
                                        </ul>
                                    </span>
                                    <span class="pull-right pr10" ng-if="row.contract_status == 'pending review'" uib-tooltip="{{'contract.review_on_calender' | translate}}">
                                        <i class="fa fa-undo yellow-orange f18"></i>
                                    </span>
                                    <span class="pull-right pr10" ng-if="row.ideedi == 'itako'" ng-click="goToContratDiscussion(row)" uib-tooltip="{{'discussion.top_msg' | translate}}">
                                        <a href="javascript:;">
                                            <img style="padding-bottom: 8px; width: 20px;" src="img/discussion.png" />
                                        </a>
                                    </span>

                                </td>
                            </tr>
                            <tr ng-repeat-end ng-class="{'open-child':!showData[row.id_contract]['showChild'],'highlight':showData[row.id_contract]['showChild']}" >
                                <td colspan="9" class="toggle-Div" style="background-color: #e6e6e6;border-top: 1px solid lightgray;border-bottom: 1px solid lightgray">
                                    <table class="table table-custom table-striped table-hover" style="margin-bottom:2px">
                                        <tbody>
                                            <tr ng-repeat="rowData in showData[row.id_contract]['sub_contracts']">
                                                <td style="max-width: 30px;min-width: 30px;width: 30px;"></td>
                                                <td style="max-width: 30px;min-width: 30px;width: 30px;">
                                                    <span ng-if="rowData.action_item_count>0" tooltip-placement="right" uib-tooltip="{{'contract.action_items' | translate}}"
                                                        class="label_tag">{{rowData.action_item_count}}</span>
                                                    <!-- angle-down,angle-up -->
                                                </td>
                                                <td style="max-width: 120px;min-width: 120px;width: 120px;">
                                                    <a class="contract-td" title="{{rowData.provider_name}}" ui-sref="app.contract.contract-overview({pname:(rowData.provider_name)})" 
                                                    style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:110px;"
                                                    n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract with provider ($${{rowData.provider_name}})"}'>
                                                        {{rowData.provider_name}}
                                                    </a>
                                                </td>
                                                <td style="max-width: 150px;min-width: 150px;width: 150px;">
                                                    <a class="contract-td" title="{{rowData.contract_name}}" ui-sref="app.contract.view({name:rowData.contract_name,id:(rowData.id_contract | encode)})" 
                                                    style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:140px;"
                                                    n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract($${{rowData.contract_name}})"}'>
                                                        {{rowData.contract_name}}
                                                    </a>
                                                </td>
                                                <td style="min-width: 80px;width: 80px;">
                                                    <span  uib-tooltip="{{rowData.relationship_category_name}}">{{rowData.relationship_category_short_name}}</span>
                                                </td>
                                                <td style="width: 100px;min-width: 100px;width: 100px;">{{rowData.deadline | utcToLocal: 'date' | checkEmpty}}</td>
                                                <td style="width: 100px;min-width: 100px;width: 100px;">{{rowData.last_review | utcToLocal: 'date' | checkEmpty}}</td>
                                                <td ng-if="rowData.score == 'Amber'"  style="max-width: 100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class=""></span>
                                                        <span class="amber-active"></span>
                                                        <span class=""></span>
                                                    </div>
                                                </td>
                                                <td ng-if="rowData.score == 'Red'"  style="max-width: 100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class="red-active"></span>
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                    </div>
                                                </td>
                                                <td ng-if="rowData.score == 'Green'"  style="max-width: 100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                        <span class="green-active"></span>
                                                    </div>
                                                </td>
                                                <td ng-if="!rowData.score" style="max-width: 100px;min-width: 100px;width: 100px;">
                                                    <div class="status-widget font-weight-bold">
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                        <span class=""></span>
                                                    </div>
                                                </td>
                                                <td ng-if="rowData.score == 'N/A'" >
                                                    <span class="">{{rowData.score}}</span>
                                                </td>
                                                <td style="max-width: 100px;min-width: 100px;width: 100px;">
                                                    <span class="f12">{{rowData.contract_progress == null ? "0%":rowData.contract_progress}}</span>
                                                    <span uib-dropdown on-toggle="toggled(open)" class="c-dropdown width-20 pull-right">
                                                        <a href uib-dropdown-toggle class="font-sm">
                                                            <span class="fa fa-ellipsis-v"></span>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-right" dropdown-append-to-body="true" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                            <li ng-if="rowData.id_contract_review">
                                                                <a href="javascript:;" ng-click="goToContractReview(rowData)">{{'contract.review' | translate}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" ng-click="goToContractDashboard(rowData)">{{'contract.dashboard' | translate}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" ng-click="exportContractReview(rowData)">{{'contract.export' | translate}}</a>
                                                            </li>
                                                            <li ng-if="del==1">
                                                                <a href="javascript:;" ng-click="deleteContract(rowData)" class="danger-delete">{{'contract.delete' | translate}}</a>
                                                            </li>
                                                        </ul>
                                                    </span>
                                                    <span class="pull-right pr10" ng-if="rowData.contract_status == 'pending review'" uib-tooltip="{{'contract.pending_review_icon' | translate}}">
                                                        <i class="fa fa-undo yellow-orange f18"></i>
                                                    </span>
                                                    <span class="pull-right pr10" ng-if="rowData.ideedi == 'itako'" ng-click="goToContratDiscussion(rowData)" uib-tooltip="{{'discussion.top_msg' | translate}}">
                                                        <a href="javascript:;">
                                                            <img style="padding-bottom: 8px; width: 20px;" src="img/discussion.png" />
                                                        </a>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!---->
                                    <!-- {{showData[row.id_contract] | json}} -->
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="mc.isLoading">
                            <tr>
                                <td colspan="9" class="text-center">{{'general.loading' | translate}}</td>
                            </tr>
                        </tbody>
                        <tbody ng-show="emptyTable">
                            <tr>
                                <td colspan="9" class="text-sm-center">{{'general.no_data' | translate}} </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-center" colspan="9">
                                    <div st-pagination="" class="text-sm-center"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 pr0 pt-2 text-sm-center">
                <label class="orange">{{'contract.chart_label' | translate}}</label>
                <div class="dashboard-chart main_bubble_chart">
                    <span class="title_2">
                        <label class="ellipis">{{myDataSource.classficationRelation['low'] | checkEmpty}}</label>
                    </span>
                    <span class="title_1">
                        <label class="ellipis">{{myDataSource.classficationRelation['high'] | isUndefinedOrNull}}</label>
                    </span>
                    <div fusioncharts height="390" width="100%" type="bubble" dataSource="{{myDataSource}}">
                    </div>
                    <span class="title_3">{{myDataSource.classficationRelation['left'] | isUndefinedOrNull}}</span>
                    <span class="title_4">{{myDataSource.classficationRelation['right'] | isUndefinedOrNull}}</span>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    .w155 {
        width: 155px;
        padding-right: 5px !important;
    }
</style>