<div class="animated fadeIn">
    <div class="card-group col-lg-12 p0 contract-details">
        <div class="row">
            <div class="col-lg-8 pl0 large-widget">
                <div class="card col-lg-12 p0">
                    <h5>{{data.contract_name}}
                        <small ng-if="data.parent_contract_id!='U2FsdGVkX19UaGVAMTIzNFkR8dxfIo31jqYSIUCU2+8='">
                            <a ui-sref="app.contract.view({name:data.parent_contract_name,id:(data.parent_contract_id | encode)})" 
                            n-t='{"valid":"true","m_t":"Contract","a_n":"view","a_d":"Contract($${{data.parent_contract_name}})"}'>
                            [{{'contract.view_parent_contract' | translate}}] </a>
                        </small>
                    </h5>
                    <div class="card-block border-left-none">
                        <div class="h4 m-b-0">{{'contract.responsible' | translate}}</div>
                        <span class="widget-span">{{data.responsible_user_name | checkEmpty}}</span>
                    </div>
                    <div class="card-block">
                        <div class="h4 m-b-0">{{'contract.delegates' | translate}}</div>
                        <span class="widget-span ">{{data.delegate_user_name | checkEmpty}}</span>
                    </div>
                    <div class="card-block">
                        <div class="h4 m-b-0">{{'contract.status' | translate}}</div>
                        <span class="widget-span orange">{{data.contract_status | capitalize}}</span>
                    </div>
                    <div class="card-block">
                        <div class="h4 m-b-0">{{'contract.last_review' | translate}}</div>
                        <span class="widget-span">{{data.last_review | utcToLocal: 'date'  | isUndefinedOrNull}}</span>
                    </div>
                    <div class="card-block">
                        <div class="h4 m-b-0">{{'contract.current_status' | translate}}</div>
                        <!--<span class="widget-span">{{data.score | checkEmpty}}</span>-->
                        <div class="status-widget font-weight-bold" ng-if="data.score == 'Red'">
                            <span class="red-active"></span>
                            <span class=""></span>
                            <span class=""></span>
                            <small class="f12 pull-right" >{{data.contract_progress}}</small>
                        </div>
                        <div class="status-widget font-weight-bold" ng-if="data.score == 'Amber'">
                            <span class=""></span>
                            <span class="amber-active"></span>
                            <span class=""></span>
                            <small class="f12 pull-right" >{{data.contract_progress}}</small>
                        </div>
                        <div class="status-widget font-weight-bold" ng-if="data.score == 'Green'">
                            <span class=""></span>
                            <span class=""></span>
                            <span class="green-active"></span>
                            <small class="f12 pull-right" >{{data.contract_progress}}</small>
                        </div>
                        <div class="status-widget font-weight-bold" ng-if="!data.score">
                            <span class=""></span>
                            <span class=""></span>
                            <span class=""></span>
                            <small class="f12 pull-right" >{{data.contract_progress}}</small>
                        </div>
                        <span class="" ng-if="data.score == 'N/A'">{{data.score}} <small class="f12 pull-right">{{data.contract_progress}}</small></span>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 icons-widget pr0">
                <div class="card-group">
                    <div class="card" ng-if="data.ieaaei == 'itako' &&  user1.iroori != 'itako'">
                        <div class="card-block" ng-click="goToEdit()">
                            <div class="h2 text-xs-center">
                                <i class="icon-edit2"></i>
                            </div>
                            <small class="text-center font-weight-bold">{{'general.edit' | translate}}</small>
                        </div>
                    </div>
                    <div class="card" ng-if="data.contract_status != 'new'">
                        <!-- && data.contract_status != 'review finalized'-->
                        <div class="card-block"
                             ng-click="goToContractReview(data.id_contract_review)">
                            <div class="h2 text-xs-center">
                                <i class="icon-action-items"></i>
                            </div>
                            <small class="text-center font-weight-bold">{{'contract.review' | translate}}</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block" ng-click="goToContractLogs()">
                            <div class="h2 text-xs-center">
                                <i class="icon-template-manage"></i>
                            </div>
                            <small class="text-center font-weight-bold">{{'contract.log' | translate}}</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block"
                             ng-click="goToDashboard(data)">
                            <div class="h2 text-xs-center">
                                <i class="icon-dashboard5"></i>
                            </div>
                            <small class="text-center font-weight-bold">{{'contract.dashboard' | translate}}</small>
                        </div>
                    </div>
                    <div class="card active" ng-if="(user.access == 'ca' || user.access == 'bo' || user.access == 'bd') &&
                                (data.contract_status == 'new' || data.contract_status == 'review finalized' || data.contract_status == 'pending review') && (data.review_scheduled == 1)">
                        <div class="card-block" ng-click="initializeReview(false)">
                            <div class="h2 text-xs-center">
                                <i class="icon-touchpoints"></i>
                            </div>
                            <small class="text-center font-weight-bold">{{'contract.initiate' | translate}}</small>
                        </div>
                    </div>
                    <div class="card"
                         ng-if="(user.access == 'ca' || user.access == 'bo' || user.access == 'bd') &&
                         (data.contract_status == 'new' || data.contract_status == 'review finalized' || data.contract_status == 'pending review') && (data.review_scheduled == 0)">
                        <div class="card-block"
                             ng-click="initializeReview(true)">
                            <div class="h2 text-xs-center">
                                <i class="icon-touchpoints"></i>
                            </div>
                            <small class="text-center font-weight-bold">{{'contract.adhoc_review' | translate}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 p0">
        <div class="row">
            <div class="col-sm-8 col-lg-8 pl0">
                <div class="card">
                    <div class="card-block">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="label-control">{{'bussiness.bussiness_unit' | translate}}</span>
                                <p>{{data.bu_name}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="label-control">{{'contract.contract_start_date' | translate}}</span>
                                <p class="text-wdgt">{{data.contract_start_date | utcToLocal:'date' |
                                    isUndefinedOrNull}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="label-control">{{'contract.contract_end_date' | translate}}</span>
                                <p class="text-wdgt">{{data.contract_end_date | utcToLocal:'date' | checkEmpty}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3 p0">
                            <div class="form-group">
                                <div class=" col-sm-12 pr0"> <!--form-group class removed-->
                                    <label class="col-sm-10 p0 label-control">{{'contract.automatic_prolongation' |
                                        translate}}</label>
                                    <div class="onoffswitch form-inline mt-2">
                                        <input name="onoffswitch_toggle" ng-model="data.auto_renewal"
                                               ng-true-value="'1'"
                                               ng-false-value="'0'"
                                               class="onoffswitch-checkbox" type="checkbox">
                                        <label class="onoffswitch-label assessment-switch">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="label-control">{{'contract.provider' | translate}}</span>
                                <p class="text-wdgt ">{{data.provider_name}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="label-control">{{'contract.category' | translate}}</span>
                                <p>{{data.relationship_category_name}}</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="label-control">{{'contract.contract_name' | translate}}</span>
                                <p class="text-wdgt ">{{data.contract_name}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="label-control">{{'contract.classification' | translate}}</span>
                                <p>{{data.classification_name}}</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-3 discription-hover">
                            <div class="form-group">
                                <span class="label-control">{{'contract.contract_desc' | translate}}</span>
                                <p class="text-wdgt ellipsis2" style="word-wrap: break-word;-webkit-box-orient: vertical;">
                                    <i>{{data.description}}</i>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="label-control">{{'contract.annual_contract_value' | translate}} </span>
                                <p class="text-wdgt">{{data.contract_value | currency : data.currency_name+' ':0 | checkEmpty}}</p>
                            </div>
                        </div>
                        <table class="table table-custom table-striped table-hover contract-details-table"
                               st-pipe="reviewAction" st-table="contractsList">
                            <thead>
                            <tr>
                                <td colspan="10">
                                    <div class="col-sm-4 p0">
                                            <h6 class="">{{'contract.review_action_items' | translate}} (<span>{{reviewList.length>0?reviewList.length:0}}</span>)
                                            </h6>
                                    </div>
                                    <div class="col-sm-8 clearfix p0">
                                        <div class="action-head mb0 clearfix">
                                            <div class="col-sm-7 p0 table-search pull-right">
                                                <input type="text" class="form-control"
                                                       placeholder="{{'general.search' | translate}}"
                                                       st-search="search_key">
                                                <i class="fa icon-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th st-sort="module_name">{{'module.module' | translate}}</th>
                                <th st-sort="action_item">{{'contract.action_item' | translate}}</th>
                                <th st-sort="user_name">{{'contract.responsible' | translate}}</th>
                                <th st-sort="due_date">{{'contract.due_date' | translate}}</th>
                                <!--<th>{{'contract.last_review' | translate}}</th>-->
                                <th st-sort="status">{{'general.status' | translate}}</th>
                                <th class="hand-symbol"></th>
                            </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in reviewList">
                                <td><span class="ellipis w100"
                                          uib-tooltip="{{row.module_name}}">{{row.module_name}}</span></td>
                                <td>
                                    <a ng-if="row.vaav=='itako'" class="ellipis w150" href="javascript:;"
                                       ng-click="updateContractReview(row,'view')"
                                       title="{{row.action_item}}">{{row.action_item}}</a>
                                    <span ng-if="row.vaav!='itako'" class="ellipis w150"
                                          uib-tooltip="{{row.action_item}}">{{row.action_item}}</span>
                                </td>
                                <td><span class="ellipis w100 orange" title="{{row.user_name}}">{{row.user_name}}</span>
                                </td>
                                <td><span class="ellipis w100">{{row.due_date | utcToLocal:'date' | checkEmpty}}</span>
                                </td>
                                <!--<td><span class="ellipis w100">{{row.last_review | utcToLocal:'date' | checkEmpty}}</span></td>-->
                                <td>
                                    <span class="green" ng-if="row.status == 'completed'">{{row.status}}</span>
                                    <span class="" ng-if="row.status == 'open'">{{row.status}}</span>
                                    <span class="red" ng-if="row.status == 'due'">{{'contract.due' | translate}}</span>
                                </td>
                                <td>
                                    <a href="#" ng-if="row.daad == 'itako' && user1.iroori != 'itako'"
                                       ng-click="deleteContractActionItem(row)"
                                       title="{{'general.delete' | translate}}"><i class="icon-trash"></i></a>
                                    <span ng-if="user1.iroori == 'itako' || row.daad != 'itako'">---</span>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-show="mc.isLoading">
                            <tr>
                                <td colspan="8" class="text-center">{{'general.loading' | translate}}</td>
                            </tr>
                            </tbody>
                            <tbody ng-show="emptyTable">
                            <tr>
                                <td colspan="8" class="text-sm-center">{{'general.no_data' | translate}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="text-center" colspan="8">
                                    <div st-pagination="" class="text-sm-center"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="" st-pipe="callServerSubContract" st-table="subContractsList" ng-if="data.agreement_type!='sub_agreement'">

                            <table class="table table-custom table-striped table-hover">
                                <thead>
                                <tr>
                                    <td colspan="10">
                                        <div class="col-sm-12 clearfix p0">
                                            <div class="col-sm-4 p0">
                                                    <h6 class="" style="display: inline-block">{{'Sub Agreements' | translate}}</h6>
                                            </div>
                                            <div class="col-sm-8 clearfix p0">
                                                <div class="action-head clearfix mb0">
                                                    <div class="col-sm-7 p0 table-search pull-right">
                                                        <input type="text" class="form-control"
                                                                placeholder="{{'general.search' | translate}}"
                                                                st-search="search_key">
                                                        <i class="fa icon-search" style=""></i>
                                                    </div>
                                                    <div class="col-sm-1 p0 pull-right">
                                                        <a href="#/contract/sub-create/{{displayName}}/{{data.id_contract | encode}}" class="">
                                                            <button type="button" class="btn btn-sm btn-primary ng-scope"><i class="icon-plus-circle"></i></button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
        
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="max-width:25px;"></th>
                                    <th st-sort="provider_name">{{'contract.provider' | translate}}</th>
                                    <th st-sort="contract_name">{{'contract.contract_name' | translate}}</th>
                                    <th st-sort="relationship_category_name">{{'contract.category' | translate}}</th>
                                    <th class="hand-symbol">{{'contract.review_by' | translate}}</th>
                                    <th class="hand-symbol">{{'contract.last_review' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody ng-show="!isSubLoading">
                                <tr ng-repeat="row in subContractsList">
                                    <td style="max-width:25px;">
                                        <span ng-if="row.action_item_count>0" tooltip-placement="right"
                                              uib-tooltip="{{'contract.action_items' | translate}}"
                                              class="label_tag">{{row.action_item_count}}</span>
                                    </td>
                                    <td><span class="ellipis w150" uib-tooltip="{{row.provider_name}}">{{row.provider_name}}</span>
                                    </td>
                                    <td>
                                        <a href="#" class="skyblue ellipis w150" title="{{row.contract_name}}"
                                           ng-click="goToContractDetails(row)">{{row.contract_name}}</a></td>
                                    <td><span uib-tooltip="{{row.relationship_category_name}}">{{row.relationship_category_short_name}}</span>
                                    </td>
                                    <td><span class="ellipis w100" uib-tooltip="{{row.review_by}}">{{row.review_by | checkEmpty}}</span>
                                    </td>
                                    <td>{{row.last_review | utcToLocal:'date' | checkEmpty}}</td>
                                </tr>
                                </tbody>
                                <tbody ng-show="isSubLoading">
                                <tr>
                                    <td colspan="6" class="text-sm-center">{{'general.loading' | translate}}</td>
                                </tr>
                                </tbody>
                                <tbody ng-show="emptySubTable">
                                <tr>
                                    <td colspan="6" class="text-sm-center">{{'general.no_data' | translate}}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td class="text-center" colspan="6">
                                        <div st-pagination="" class="text-sm-center"></div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 col-lg-4 pr0">
                <div class="card widget2">
                    <h6><i class="icon-attachment"></i>{{'attachment.contract_attachments' | translate}}
                        <div uib-dropdown on-toggle="toggled(open)" class="c-dropdown pull-right"
                             ng-if="user1.iroori != 'itako'">
                            <a href uib-dropdown-toggle>
                                <span class="fa fa-ellipsis-v"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu
                                aria-labelledby="simple-dropdown">
                                <li>
                                    <a href="#" ng-click="uploadDoc()">{{'attachment.upload' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </h6>
                    <div class="card-block pt-h" ng-if="showUpload">
                        <form novalidate name="contractForm"
                              ng-submit="contractForm.$valid && uploadAttachment(attachments,data)">
                            <div class="col-sm-12 m-t-3 form-group p0">
                                <attachment-files ng-model="attachments"></attachment-files>
                            </div>
                            <div class="text-sm-center">
                                <button class="btn btn-sm btn-primary" type="submit">
                                    <i class="icon-plus"></i>&nbsp;{{'attachment.upload' | translate}}
                                </button>
                                <button class="btn btn-sm btn-danger" type="button" ng-click="cancelAttachments()">
                                    <i class="icon-times f12"></i>&nbsp;{{'general.cancel' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-block  pt-h pb-h attachments_block">
                        <div class="attachment-widget" ng-repeat="a in data.unique_attachment" style="padding-bottom: 0px;">
                            <p ng-if="data.attachment.length>0">
                                <!--<a download="{{a.document_name}}" target="_blank" href="{{a.document_source_exactpath}}" download="{{a.document_name}}">
                                    <i class="icon-arrow-down-circle f16"></i> {{a.document_name}}</a>-->
                                <a class="ellipis attachment-fileHead" href="javascript:;" title="Download"
                                   ng-click="getDownloadAttachmentUrl(a)">
                                    <i class="icon-arrow-down-circle f16"></i>&nbsp;{{a.document_name}}</a>
                                <a href="#" class="gray">
                                    <i ng-if="a.daad == 'itako' && user1.iroori != 'itako'"
                                       class="pull-right icon-trash m-t-1"
                                       title="{{'general.delete' | translate}}"
                                       ng-click="deleteAttachment(a.id_document,a.document_name)">
                                    </i>
                                </a>
                                <span style="display: block;font-size: 11px;" class="pl-1 mr-h">
                                    <span class="font-italic gray">
                                        <span style="color:black" class="">{{'general.by' | translate}}</span> {{a.uploaded_user | checkEmpty}}</span>
                                    <span class="font-italic gray">
                                        <span style="color:black" class="">{{'general.on' | translate}}</span> {{a.uploaded_on | utcToLocal:'date' | checkEmpty}}</span>
                                </span>
                            </p>
                        </div>
                        <p ng-if="data.attachment.length<=0" class="text-sm-center">{{'attachment.no_files' |
                            translate}}</p>
                    </div>
                </div>
                <div class="card widget2">
                    <h6><i class="icon-users1"></i>{{'contract.contract_parterns' | translate}}
                    </h6>
                    <div class="card-block" style="padding-top:1px !important; padding-bottom: 1px; !important;">
                        <div class="partners-content">
                            <h5>{{'contract.contract_sponsor' | translate}}:</h5>
                            <p ng-if="data.internal_contract_sponsor">
                                <span class="orange">{{data.internal_contract_sponsor}}</span> ({{'contract.internal' |
                                translate}})
                            </p>
                            <p ng-if="!data.internal_contract_sponsor">---</p>
                            <p ng-if="data.provider_contract_sponsor">
                                <span class="orange">{{data.provider_contract_sponsor}}</span> ({{'contract.provider' |
                                translate}})
                            </p>
                            <p ng-if="!data.provider_contract_sponsor">---</p>
                        </div>
                        <div class="partners-content">
                            <h5>{{'contract.relation_manager' | translate}}:</h5>
                            <p ng-if="data.internal_partner_relationship_manager">
                                <span class="orange">{{data.internal_partner_relationship_manager}}</span>
                                ({{'contract.internal' | translate}})
                            </p>
                            <p ng-if="!data.internal_partner_relationship_manager">---</p>
                            <p ng-if="data.provider_partner_relationship_manager">
                                <span class="orange">{{data.provider_partner_relationship_manager}}</span>
                                ({{'contract.provider' | translate}})
                            </p>
                            <p ng-if="!data.provider_partner_relationship_manager">---</p>
                        </div>
                        <div class="partners-content">
                            <h5>{{'contract.contract_responsible' | translate}}:</h5>
                            <p ng-if="data.internal_contract_responsible">
                                <span class="orange">{{data.internal_contract_responsible}}</span>
                                ({{'contract.internal' | translate}})
                            </p>
                            <p ng-if="!data.internal_contract_responsible">---</p>
                            <p ng-if="data.provider_contract_responsible">
                                <span class="orange">{{data.provider_contract_responsible}}</span>
                                ({{'contract.provider' | translate}})
                            </p>
                            <p ng-if="!data.provider_contract_responsible">---</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="review-warning" ng-show="data.ideedi !='annus' && loading">{{'discussion.top_msg' | translate}}</div>-->
    <div class="review-warning" ng-if="data.ideedi !='annus' && loading">
        {{'discussion.top_msg' | translate}} {{'discussion.click' | translate}} 
        <a style="text-decoration: underline;cursor: pointer;" ng-click="goToDesign(data)">{{'discussion.here' |
            translate}}</a> {{'discussion.to_view' | translate}}
    </div>
</div>