<div class="animated fadeIn p0">
    <div class="row">
        <div class="col-md-12 col-sm-12 large-widget p0">
            <div class="card col-lg-12 p0">
                <h5 class="mb-0">{{contractModuleTopics.module_name}}</h5>
                <div class="card-block border-left-none">
                    <div class="h4 m-b-0">{{'contract.last_review_module' | translate}}</div>
                    <span class="widget-span">{{contractModuleTopics.last_review | utcToLocal:'date' | checkEmpty}}</span>
                </div>
                <div class="card-block">
                    <div class="h4 m-b-0">{{'contract.module_questions.progress' | translate}}</div>
                    <progress class="progress progress-sm progress-info mt-h mb-0" value="{{contractModuleTopics.progress}}" max="100"></progress>{{contractModuleTopics.progress}}%
                    <span style="float: right">{{'contract.completion' | translate}} : {{contractModuleTopics.question_count}} </span>
                </div>
                <div class="card-block">
                    <div class="h4 m-b-0">{{'contract.current_status' | translate}}</div>
                    <div class="status-widget font-weight-bold" ng-if="contractModuleTopics.score == 'Red'">
                        <span class="red-active"></span>
                        <span class=""></span>
                        <span class=""></span>
                    </div>
                    <div class="status-widget font-weight-bold" ng-if="contractModuleTopics.score == 'Amber'">
                        <span class=""></span>
                        <span class="amber-active"></span>
                        <span class=""></span>
                    </div>
                    <div class="status-widget font-weight-bold" ng-if="contractModuleTopics.score == 'Green'">
                        <span class=""></span>
                        <span class=""></span>
                        <span class="green-active"></span>
                    </div>
                    <div class="status-widget font-weight-bold" ng-if="!contractModuleTopics.score">
                        <span class=""></span>
                        <span class=""></span>
                        <span class=""></span>
                    </div>
                    <span class="" ng-if="contractModuleTopics.score == 'N/A'">{{contractModuleTopics.score}}</span>
                </div>
                <div class="card-block">
                    <div class="h4 mb-0">
                        <span class="orange f16">{{'contract.module_questions.contributor' | translate}} :&nbsp;</span>
                        <button type="button" class="btn btn-primary p3 mb4" ng-click="addContributors()" ng-if="(contractModuleTopics.contract_details[0].reaaer=='itako') && (contractModuleTopics.contract_user_access=='wa' || contractModuleTopics.contract_user_access=='ca' || contractModuleTopics.contract_user_access=='bo' || contractModuleTopics.contract_user_access=='bd')">
                            <i class="icon-plus-circle"></i>&nbsp;{{'contract.add_contributor' | translate}}
                        </button>
                    </div>
                    <span ng-if="contributors[0].contributor_user_name">{{contributors[0].contributor_user_name}}</span>
                    <a ng-show="contributors[1].contributor_user_name" href="javascript:;" class="widget-span skyblue" uib-popover-template="'myPopoverTemplate.html'"
                        popover-placement="right" popover-trigger="'outsideClick'" class="btn btn-default">+{{contributors.length-1}} </a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 p0">
                <div class="col-sm-12 col-md-12 p0 review-table">
                    <h6 class="">{{contractModuleTopics.topics[0].topic_name}}
                        <a href="#" ng-click="cancel()" class="icon-times pull-right f21 gray">
                        </a>
                    </h6>
                    <div class="card-block pt-h pb-h">
                        <form novalidate name="tableForm">
                            <table class="table table-custom table-striped table-hover col_widths mb-0 pop-width">
                                <thead>
                                    <tr>
                                        <th class="hand-symbol">{{'questions.question' | translate}}</th>
                                        <th class="hand-symbol">{{'contract.module_questions.answer' | translate}}</th>
                                        <th class="hand-symbol">({{'contract.module_questions.change' | translate}})</th>
                                        <th class="hand-symbol">{{'questions.proof' | translate}}</th>
                                        <th class="hand-symbol">{{'contract.module_questions.your_feedback' | translate}}</th>
                                        <th class="hand-symbol"></th>
                                        <th class="hand-symbol"></th>
                                    </tr>
                                </thead>
                                <tbody ng-if="contractModuleTopics.topics[0].questions.length !=0">
                                    <tr ng-repeat="row in contractModuleTopics.topics[0].questions">
                                        <td>{{row.question_text}}</td>
                                        <td ng-if="row.question_type == 'input'">
                                            <input type="text" class="form-control" placeholder="Answer" ng-model="optionsData.answers[row.id_question]">
                                        </td>
                                        <td ng-if="row.question_type == 'dropdown'">
                                            <div class="col-sm-12 p0">
                                                <div class="col-sm-10 p0">
                                                    <select class="form-control" name="item.$index" ng-model="optionsData.answers[row.id_question]" ng-options="item.id_question_option as item.option_name for item in row.options">
                                                        <option value="">--{{'general.select' | translate}}--</option>
                                                    </select>
                                                </div>
                                                <!-- Commented on 30 May 2018 -->
                                                <!-- <div class="col-sm-2 p0 pt-h">
                                                    <a href="javascript:;" class="skyblue pl-h" uib-popover-template="'myPopoverInfo.html'" popover-placement="right" popover-trigger="'outsideClick'"
                                                        class="btn btn-default">
                                                        <i class="icon-question skyblue"></i>
                                                    </a>
                                                </div> -->
                                            </div>
                                        </td>
                                        <td ng-if="row.question_type == 'radio'">
                                            <!--<select class="form-control" ng-model="optionsData.answers[row.id_question]">
                                                <option value="">&#45;&#45;{{'general.select' | translate}}&#45;&#45;</option>
                                                <option value="1">{{'contract.module_questions.yes' | translate}}</option>
                                                <option value="0">{{'contract.module_questions.no' | translate}}</option>
                                                <option value="NA">{{'contract.module_questions.n/a' | translate}}</option>
                                            </select>-->
                                            <select class="form-control" ng-model="optionsData.answers[row.id_question]" ng-options="item.id_question_option as item.option_name for item in row.options">
                                                <option value="">--{{'general.select' | translate}}--</option>
                                            </select>
                                        </td>
                                        <td ng-if="row.question_type == 'rag'" ng-model="optionsData.answers[row.id_question]">
                                            <!--<div class="radio_widget">
                                                <input type="radio" id="radio1_{{row.id_question}}" name="same_{{row.id_question}}" value="row.options[]" checked  ng-model="optionsData.answers[row.id_question]">
                                                <label for="radio1_{{row.id_question}}" class="first_label" uib-tooltip="Green"></label>
                                                <input type="radio" id="radio2__{{row.id_question}}" name="same__{{row.id_question}}" value="0.1" ng-model="optionsData.answers[row.id_question]">
                                                <label for="radio2__{{row.id_question}}" class="sec_label" uib-tooltip="Amber"></label>
                                                <input type="radio" id="radio3__{{row.id_question}}" name="same__{{row.id_question}}" value="0"  ng-model="optionsData.answers[row.id_question]">
                                                <label for="radio3__{{row.id_question}}" class="third_label" uib-tooltip="Red"></label>
                                                <input type="radio" id="radio4__{{row.id_question}}" name="same__{{row.id_question}}" value="NA"  ng-model="optionsData.answers[row.id_question]">
                                                <label for="radio4__{{row.id_question}}" class="fourth_label" style="padding-left: 9px;"  uib-tooltip="N/A"></label>
                                            </div>-->
                                            <div class="radio_widget">
                                                <span ng-repeat="option in row.options">
                                                    <input type="radio" id="radio1_{{$index}}_{{row.id_question}}" name="same_{{row.id_question}}" value="{{option.id_question_option}}"
                                                        checked ng-model="optionsData.answers[row.id_question]" >
                                                    <label ng-if="option.option_name == 'G'" for="radio1_{{$index}}_{{row.id_question}}" class="first_label" uib-tooltip="{{option.option_name}}"></label>
                                                    <label ng-if="option.option_name == 'A'" for="radio1_{{$index}}_{{row.id_question}}" class="sec_label" uib-tooltip="{{option.option_name}}"></label>
                                                    <label ng-if="option.option_name == 'R'" for="radio1_{{$index}}_{{row.id_question}}" class="third_label" uib-tooltip="{{option.option_name}}"></label>
                                                    <label ng-if="option.option_name == 'N/A'" for="radio1_{{$index}}_{{row.id_question}}" class="fourth_label" uib-tooltip="{{option.option_name}}"></label>
                                                </span>
                                                <span ng-if="optionsData.answers[row.id_question]" uib-tooltip="{{'general.reset' | translate}}"><i class="fa fa-undo fa-lg" style="cursor: pointer;"  ng-click="reset(row.id_question)"></i></span>
                                            </div>
                                        </td>
                                        <td ng-if="row.question_change != 0">
                                            <i class="fa fa-check green pl-2"></i>
                                        </td>
                                        <td ng-if="row.question_change == 0"></td>
                                        <td class="ellipis w_95" uib-tooltip="{{row.request_for_proof}}">{{row.request_for_proof}}</td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="feedback" ng-model="optionsData.feedback[row.id_question]">
                                        </td>
                                        <td>
                                            <a href="#" style="position: relative;">
                                                <i class="icon-attachment f13 skyblue" title="Add Attachments" ng-click="addQuestionAttachemnts(row)"></i>
                                                <span class="count" ng-if="row.attachment_count > 0">{{row.attachment_count}}</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span  ng-show="!{{contractModuleTopics.action_item_question_link}}" style="cursor:pointer;"
                                                   title="{{'contract.save_topic_to_add_action_items' | translate}}">
                                                <a ng-if="contractModuleTopics.contract_details[0].reaaer == 'itako' && user1.iroori != 'itako'"
                                                   class="pull-right mr-h ptop-2 -mt5 light-gray">
                                                    <!--<i class="fa fa-plus pb2 display-inline-block"></i>    -->
                                                    <span class="gray" style="font-size: 25px;">+</span>
                                                </a>
                                            </span>
                                            <span  ng-show="{{contractModuleTopics.action_item_question_link}}" style="cursor:pointer;"
                                                   title="{{'contract.add_action_items' | translate}}">
                                                <a ng-if="contractModuleTopics.contract_details[0].reaaer == 'itako' && user1.iroori != 'itako'"
                                                   class="pull-right mr-h ptop-2 -mt5"
                                                   ng-click="createContractReview('', 'add', row.id_question)">
                                                    <!--<i class="fa fa-plus pb2 display-inline-block light-sky-link"></i>-->
                                                    <span class="light-sky-link" style="font-size: 25px;">+</span>
                                                    </a>
                                            </span>

                                        </td>
                                    </tr>
                                </tbody>
                                <tbody ng-if="contractModuleTopics.topics[0].questions == undefined || contractModuleTopics.topics[0].questions.length == 0">
                                    <tr>
                                        <td colspan="5" class="text-sm-center">{{'general.no_data' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-sm-12 p0 text-sm-center  border-t pt-h">
                                <span class="prev-next-btns font-sm pull-left display-inline-block">
                                    <button type="button" class="btn btn-sm btn-gray" ng-disabled="!contractModuleTopics.topic_pagination.previous" ng-click="goToPreviousTopic(contractModuleTopics.topic_pagination)">
                                        <i class="fa fa-angle-double-left"></i> {{'contract.module_questions.prev' | translate}}
                                    </button>
                                    {{'contract.topic' | translate}} {{present_count}}/{{contractModuleTopics.topic_pagination.count}}
                                    <button type="button" class="btn btn-sm btn-green" ng-if="contractModuleTopics.topic_pagination.next" ng-click="goToNextTopic(contractModuleTopics.topic_pagination)">
                                        {{'contract.module_questions.next' | translate}}
                                        <i class="fa fa-angle-double-right"></i>
                                    </button>
                                </span>
                                <span ng-if="contractModuleTopics.contract_details[0].reaaer == 'itako'">
                                    <span ng-if="user1.iroori != 'itako'" class="pull-right">
                                        <button ng-if="contractModuleTopics.topics[0].questions != undefined && !contractModuleTopics.topic_pagination.next && contractModuleTopics.topic_pagination.count > 1"
                                            type="button" class="btn  btn-sm btn-primary" ng-click="save(optionsData)">
                                            <i class="fa fa-save">
                                            </i>&nbsp;{{'general.Save' | translate}}</button>

                                        <button ng-if="contractModuleTopics.topics[0].questions != undefined && !contractModuleTopics.topic_pagination.next && contractModuleTopics.topic_pagination.count == 1"
                                            type="button" class="btn  btn-sm btn-primary" ng-click="save(optionsData)">
                                            <i class="fa fa-save">
                                            </i>&nbsp;{{'general.Save' | translate}}</button>

                                        <button ng-if="contractModuleTopics.topics[0].questions != undefined" type="button" class="btn btn-sm btn-danger with-red-bg"
                                            ng-click="saveAndExit(optionsData)">
                                            <i class="fa fa-share">
                                            </i>&nbsp;{{'contract.module_questions.save_exit' | translate}}</button>

                                        <button ng-if="contractModuleTopics.topics[0].questions != undefined && contractModuleTopics.topic_pagination.next" type="button"
                                            class="btn  btn-sm btn-primary" ng-click="saveAndNext(contractModuleTopics.topic_pagination,optionsData)">
                                            <i class="fa fa-angle-double-right">
                                            </i>&nbsp;{{'contract.module_questions.save_next' | translate}}</button>
                                    </span>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix mb-2"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 p0 review-table">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" template-url="action-item-template.html" is-open="status.open">
                    <uib-accordion-heading ng-click="status.open = !status.open">
                        <i class="glyphicon" ng-class="{'fa fa-minus-square-o': status.open, 'fa fa-plus-square-o': !status.open}"></i>
                        {{'contract.action_items' | translate}}
                        <button ng-if="contractModuleTopics.contract_details[0].reaaer == 'itako' && user1.iroori != 'itako'" type="button" class="btn btn-sm btn-primary pull-right mr-h ptop-2 -mt5"
                            ng-click="createContractReview('', 'add')">
                            <i class="fa fa-plus pb2 display-inline-block"></i>&nbsp;{{'general.add' | translate}}</button>
                    </uib-accordion-heading>
                    <table class="table table-custom table-striped table-hover" st-pipe="reviewAction" st-table="contractsList">
                        <thead>
                            <tr>
                                <td colspan="5">
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="action-head mb0">
                                            <div class="col-sm-3 p0 table-search pull-right">
                                                <input type="text" class="form-control" placeholder="{{'general.search' | translate}}" st-search="search_key">
                                                <i class="fa icon-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th st-sort="action_item">{{'contract.action_item' | translate}}</th>
                                <th st-sort="user_name">{{'contract.responsible_user' | translate}}</th>
                                <th st-sort="due_date">{{'contract.due_date' | translate}}</th>
                                <th st-sort="description">{{'contract.description' | translate}}</th>
                                <th class="hand-symbol">{{'general.actions' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading && reviewList.length>0">
                            <tr ng-repeat="row in reviewList">
                                <td>
                                    <a ng-if="row.vaav=='itako'" href="#" ng-click="createContractReview(row,'view')">{{row.action_item}}</a>
                                    <span ng-if="row.vaav!='itako'">{{row.action_item}}</span>
                                </td>
                                <td>
                                    <span class="orange">{{row.user_name}}</span>
                                </td>
                                <td>{{row.due_date | utcToLocal:'date' | checkEmpty}}</td>
                                <td>
                                    <span class="ellipis w100" uib-tooltip="{{row.description}}">{{row.description | isUndefinedOrNull}}</span>
                                </td>
                                <td ng-if="user1.iroori != 'itako'">
                                    <!--<a ng-if="row.vaav=='itako'" href="#"
                                       ng-click="createContractReview(row,'view')" uib-tooltip="{{'general.view' | translate}}">
                                        <i class="icon-eye"></i></a>&nbsp;-->
                                    <span ng-if="(row.daad != 'itako')">---</span>
                                    <a ng-if="(row.daad == 'itako')" href="#" ng-click="deleteContractActionItem(row)" title="{{'general.delete' | translate}}">
                                        <i class="icon-trash"></i>
                                    </a>
                                </td>
                                <td ng-if="user1.iroori == 'itako'">---</td>
                            </tr>
                        </tbody>
                        <tbody ng-show="isLoading">
                            <tr>
                                <td colspan="8" class="text-center">{{'general.loading' | translate}}</td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!isLoading && reviewList.length<=0">
                            <tr>
                                <td colspan="8" class="text-sm-center">{{'general.no_data' | translate}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-center" colspan="8">
                                    <div st-pagination="" class="text-sm-center"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </uib-accordion>
        </div>
        <div class="clearfix mb-2"></div>
        <div class="col-sm-12 col-md-12 p0 review-table">
            <!--<div class="card-block pt-h"  ng-if="showFileToAttach">
                <form novalidate name="contractForm" ng-submit="contractForm.$valid && addAttachment(file.attachment)">
                    <div class="col-sm-12 m-t-3 form-group p0">
                        <attachment-files ng-model="file.attachment"></attachment-files>
                        <attachment-list-template get-data="attachments" ng-model="file.delete"></attachment-list-template>
                    </div>
                    <div class="text-sm-center">
                        <button class="btn btn-sm btn-primary ng-binding" type="submit" >
                            <i class="icon-plus"></i>&nbsp; {{'general.save' | translate}} {{'attachment.attachments' | translate}}</button>
                        <button class="btn btn-sm btn-danger" type="button" ng-click="removeFile()">
                            <i class="icon-times"></i>&nbsp; {{'general.cancel' | translate}}</button>
                    </div>
                </form>
            </div>-->
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" template-url="attach-template.html" is-open="status.open">
                    <uib-accordion-heading ng-click="status.open = !status.open">
                        <i class="glyphicon" ng-class="{'fa fa-minus-square-o': status.open, 'fa fa-plus-square-o': !status.open}"></i>
                        {{'attachment.attachments' | translate}}
                    </uib-accordion-heading>
                    <table class="table table-custom table-striped table-hover" st-pipe="getAttachmentList" st-table="attachmentList">
                        <thead>
                            <tr>
                                <td colspan="6">
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="action-head mb0">
                                            <div class="col-sm-3 p0 table-search pull-right">
                                                <input type="text" class="form-control" placeholder="{{'general.search' | translate}}" st-search="search_key">
                                                <i class="fa icon-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th width="20%" st-sort="module_name"> {{'module.module' | translate}}</th>
                                <th width="30%" st-sort="question_text"> {{'questions.question' | translate}}</th>
                                <th width="25%" st-sort="document_name">{{'attachment.attachments' | translate}}</th>
                                <th width="15%" st-sort="uploaded_user_name">{{'contract.created_by' | translate}}</th>
                                <th width="10%" st-sort="uploaded_on">{{'contract.created_on' | translate}}</th>
                                <!--<th>{{'general.actions' | translate}}</th>-->
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading && attachmentList.length>0">
                            <tr ng-repeat="row in attachmentList">
                                <td>
                                    <span class="ellipis" style="width: 210px" uib-tooltip="{{row.module_name}}">{{row.module_name}}</span>
                                </td>
                                <td>
                                    <span class="ellipis" style="width: 340px" uib-tooltip="{{row.question_text}}">{{row.question_text}}</span>
                                </td>
                                <td>
                                    <span class="ellipis" style="width: 230px" title="{{row.document_name}}">
                                        <a href="javascript:;" ng-click="getDownloadUrl(row)">
                                            <span class="fa fa-download"></span>&nbsp;{{row.document_name}}</a>
                                    </span>
                                </td>
                                <td>
                                    <span class="ellipis" style="width: 130px" uib-tooltip="{{row.uploaded_user_name}}">{{row.uploaded_user_name}}</span>
                                </td>
                                <td>
                                    <span>{{row.uploaded_on | utcToLocal:'date'}}</span>
                                    <span class="pull-right">
                                        <a ng-if="(row.daad=='itako')" href="javascript:;" class="icon-trash" title="Delete" ng-click="deleteDocument(row,row.document_name)"></a>
                                        <span ng-if="(row.daad!='itako')">---</span>
                                    </span>
                                </td>
                                <!--<td></td>-->
                            </tr>
                        </tbody>
                        <tbody ng-show="isLoading">
                            <tr>
                                <td colspan="6" class="text-center">{{'general.loading' | translate}}</td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!isLoading && attachmentList.length<=0">
                            <tr>
                                <td colspan="6" class="text-sm-center">{{'general.no_data' | translate}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-center" colspan="6">
                                    <div st-pagination="" class="text-sm-center"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </uib-accordion>
        </div>
        <div class="clearfix mb2"></div>
    </div>
</div>
<script type="text/ng-template" id="add-edit-contributors.html">
    <div class="modal-header">
        <h6 class="modal-title">
            {{'Search' | translate}} {{'contract.contributor' | translate}}
            <a ng-click="cancel()" title="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
        </h6>
    </div>
    <form novalidate name="actionItemForm" ng-submit="actionItemForm.$valid && saveContributors(data)">
        <div class="modal-body clearfix">
            <div class="form-group col-md-12 clearfix">
                <label for="business_unit">Business Unit</label>
                    <select id="business_unit"
                            ng-model="data.business_unit"
                            name="business_unit"
                            class="chosen-choices"
                            ng-change="getContributorsByBusinessUnit(data.business_unit)"
                            ng-options="item.id_business_unit as item.bu_name for item in businessUnitList">
                            <option value="">-- Select Business Unit --</option>
                    </select>
                    <span class="error-message" ng-show="actionItemForm.responsible_user_id.$error.required && actionItemForm.$submitted">{{'general.required_field' | translate}}</span>
                </div>
            <div class="col-md-12 clearfix drp-search">
                <!-- <div class="form-group col-md-10 clearfix p0">
                    <label for="contributor">Contributor</label>
                    <select id="contributor" placeholder-text-single="'Search Contributor(s) with Name/Email/Business Unit/User Role'"
                            ng-model="data.contributor"
                            name="contributor"
                            class="chosen-choices"
                            ng-options="item as item.name for item in userList">
                    </select>
                    <span class="error-message" ng-show="actionItemForm.responsible_user_id.$error.required && actionItemForm.$submitted">{{'general.required_field' | translate}}</span>
                </div> -->
                <div class="form-group col-md-12 clearfix p0" ng-init="searchContracts=''" style="margin-bottom:0">
                    <input class="form-control" type="text" placeholder="Search Contributor(s) with Name/Email/Business Unit/User Role" 
                        ng-focus="showContractList=true;"
                        ng-model="searchContracts">
                </div>
                <div class="form-group col-md-12 constribute-opt">
                    <div ng-repeat="contract in userList | filter:searchContracts" ng-show="showContractList">
                        <div ng-click="addContributer(contract)">{{contract.name}}</div>
                    </div>
                </div>
                <!-- <div class="form-group col-md-2" style="padding-top: 34px;padding-right: 0;text-align: right">
                    <button type="button"  ng-click="addContributer()" class="btn btn-sm btn-primary"> <i class="fa fa-plus-circle"></i> Add</button>
                </div> -->
            </div>
            <div class="form-group col-md-12 clearfix contributor-list ">
                <ul>
                    <li ng-repeat="contributor in data.contributors" ng-if="contributor.id_user" title="{{contributor.name}}">
                        {{contributor.name}} <!--<span class="fa fa-trash" ng-click="remove($index)"></span>-->
                        <span class="fa fa-times-circle" ng-click="remove($index)"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary" ng-disabled="showBtn">
                <i class="fa fa-dot-circle-o"></i> {{'general.save' | translate}}</button>
            <button type="button" ng-click="cancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{'general.cancel' | translate}}</button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="" ng-repeat="item in contributors" ng-if=" item.contributor_user_name != contributors[0].contributor_user_name">
        <span>{{item.contributor_user_name}}</span><br/>
    </div>
</script>
<script type="text/ng-template" id="action-item-template.html">
    <div class="accordion-default accordian_list_style">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggleOpen()" style="cursor: pointer">
                <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                        <i class="glyphicon" ng-class="{'fa fa-minus-square-o': status.open, 'fa fa-plus-square-o': !status.open}"></i>
                        {{heading}}
                    </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="attach-template.html">
    <div class="accordion-default accordian_list_style">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggleOpen()" style="cursor: pointer">
                <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                        <i class="glyphicon" ng-class="{'fa fa-minus-square-o': status.open, 'fa fa-plus-square-o': !status.open}"></i>
                        {{heading}}
                    </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myPopoverInfo.html">
   <span class="f11">{{'question_desc.undefined' | translate}}</span><br/>
   <span class="f11">{{'question_desc.basic_desc' | translate}}</span><br/>
   <span class="f11">{{'question_desc.advanced' | translate}}</span><br/>
   <span class="f11">{{'question_desc.optimized' | translate}}</span><br/>
   <span class="f11">{{'question_desc.in_progress' | translate}}</span><br/>
   <span class="f11">{{'question_desc.n/a' | translate}}</span>
</script>