<div class="edit-customer">
    <div class="col-sm-12 p0">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <strong>{{title | translate}} {{'contract.sub_contract' | translate}}</strong>
                </div>
                <div class="card-block">
                    <form novalidate name="contractForm" ng-submit="contractForm.$valid && subContractCreate(contract)">
                        <h6 class="form-group border-b">
                            <label class="f16">{{'contract.basic_info' | translate}} :</label>
                        </h6>
                        <div class="form-group col-sm-4">
                            <label>{{'contract.provider_name' | translate}} *</label>
                            <input type="text" disabled="true" class="form-control" maxlength="30" name="provider_name" ng-model="contract.provider_name"
                                required>
                            <span class="error-message" ng-if="contractForm.provider_name.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{{'contract.contract_name' | translate}} *</label>
                            <input type="text" class="form-control" maxlength="50" name="contract_name" ng-model="contract.contract_name" required>
                            <span class="error-message" ng-if="contractForm.contract_name.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group col-sm-4">
                            <label>{{'contract.contract_start_date' | translate}} *</label>
                            <div class="input-group clearfix form-group-custom">
                                <input type="text" class="form-control white-bg bg-white" min-date="toggleMin()" uib-datepicker-popup="yyyy-MM-dd" date-disabled="false"
                                    data-ng-model="contract.contract_start_date" my-date name="start_date" is-open="openCal"
                                    show-weeks="false" show-button-bar="false" readonly required/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="error-message" ng-if="contractForm.start_date.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{{'contract.contract_end_date' | translate}}</label>
                            <div class="input-group clearfix form-group-custom">
                                <input type="text" class="form-control white-bg bg-white" uib-datepicker-popup="yyyy-MM-dd" data-ng-model="contract.contract_end_date"
                                    my-date name="end_date" is-open="openCal1" show-weeks="false" show-button-bar="false" readonly/>
                                <span class="input-group-btn ">
                                    <button type="button" class="btn btn-default border" ng-click="openCal1 = true">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="error-message" ng-if="contractForm.end_date.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                            <span class="error-message" ng-if="contractForm.end_date.$error.date && contractForm.$submitted">{{'general.invalid_input' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4 switch-view" ng-init="contract.auto_renewal=contract.auto_renewal1==1?1:0">
                            <label class="mt-2">{{'contract.automatic_prolongation' | translate}}</label>
                            <div class="onoffswitch form-inline pull-right mt-2">
                                <div class="form-group">
                                    <input type="checkbox" name="onoffswitch_toggle" ng-model="contract.auto_renewal" class="onoffswitch-checkbox " id="setting2">
                                    <label class="onoffswitch-label assessment-switch" for="setting2">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-4">
                            <label>{{'contract.contract_value' | translate}} *</label>
                            <input type="text" class="form-control" maxlength="30" name="contract_value" ng-model="contract.contract_value" required
                                   ui-number-mask="0">
                            <span class="error-message" ng-if="contractForm.contract_value.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{{'bussiness.bussiness_unit' | translate}} *</label>
                            <select class="form-control" ng-model="contract.business_unit_id" name="business_unit" ng-change="getContractDelegates(contract.business_unit_id,contract.id_contract)"
                                    ng-options="item.id_business_unit as item.bu_name disable when item.iobuuboi=='itako' for item in bussinessUnit"
                                    required>
                                <option value="">-- {{'general.select' | translate}} --</option>
                            </select>
                            <span class="error-message" ng-if="contractForm.business_unit.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{{'contract.relationship_classification' | translate}} *</label>
                            <select class="form-control" ng-model="contract.classification_id" name="classification" ng-options="item.id_relationship_classification as item.classification_name for item in relationshipClassificationList"
                                    required>
                                <option value="">-- {{'general.select' | translate}} --</option>
                            </select>
                            <span class="error-message" ng-if="contractForm.classification.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-4">
                            <label>{{'contract.currency' | translate}} *</label>
                            <select name="contract_curency" ng-model="contract.currency_id" class="form-control" ng-options="item.id_currency as item.currency_name for item in currencyList">
                                <option value="">-- {{'general.select' |translate}} --</option>
                            </select>
                            <span class="error-message" ng-if="contractForm.provider_name.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4" ng-if="user.access != 'bo'">
                            <label>{{'contract.bu_owner' | translate}} *</label>
                            <select chosen class="form-control chosen-choices" placeholder-text-single="'Search bussiness Unit Owner(s) with Name/Email/Business Unit/User Role'"
                                    name="owner_id" ng-model="contract.contract_owner_id" ng-options="item.id_user as item.name for item in buOwnerUsers"
                                    required>
                                <!-- <option value="">-- {{'general.select' |translate}} --</option> -->
                            </select>
                            <span class="error-message" ng-if="contractForm.owner_id.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{{'contract.relationship_category' | translate}} *</label>
                            <select class="form-control" ng-model="contract.relationship_category_id" name="relationship_category" ng-options="item.id_relationship_category as item.relationship_category_name for item in relationshipCategoryList"
                                    required>
                                <option value="">-- {{'general.select' | translate}} --</option>
                            </select>
                            <span class="error-message" ng-if="contractForm.relationship_category.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-4"></div>
                        <div class="form-group col-sm-4" ng-if="user.access != 'bd'">
                            <label>{{'contract.delegates' | translate}} </label>
                            <select chosen class="form-control chosen-choices" style="height: 40px;" placeholder-text-single="'Search Delegate User(s) with Name/Email/Business Unit/User Role'"
                                    ng-model="contract.delegate_id" name="delegate" ng-options="item.id_user as item.user_name for item in delegates">
                                <!-- <option value="">-- {{'general.select' | translate}} --</option> -->
                            </select>
                            <span class="error-message" ng-if="contractForm.delegate.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4" ng-show="user.access == 'bd'" ng-if="(user.access == 'bd')? (contract.delegate_id = user.id_user):(contract.delegate_id = contract.delegate_id)">
                            <label>{{'contract.delegates' | translate}} </label>
                            <select class="form-control" ng-model="contract.delegate_id" name="delegate" ng-disabled="user.access == 'bd'" ng-options="item.id_user as item.user_name for item in delegates">
                                <option value="">-- {{'general.select' | translate}} --</option>
                            </select>
                            <span class="error-message" ng-if="contractForm.delegate.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-12">
                            <label>{{'contract.contract_desc' | translate}} *</label>
                            <textarea class="form-control" ng-model="contract.description" name="desc" required style="height: 80px;"></textarea>
                            <span class="error-message" ng-if="contractForm.desc.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <h6 class="form-group border-b">
                            <label class="f16">{{'contract.contract_parterns' | translate}} :</label>
                        </h6>
                        <div class="col-sm-12 mb-2 p0 internal-box">
                            <div class="col-sm-12 p0">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-5">
                                    <label class="f16">{{'contract.internal' | translate}}</label>
                                </div>
                                <div class="col-sm-5">
                                    <label class="f16">{{'contract.provider' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2 p0">
                                <div class="col-sm-2">
                                    <label>{{'contract.contract_sponsor' | translate}}</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" maxlength="30" name="internal_contract_sponsor" ng-model="contract.internal_contract_sponsor">
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" maxlength="30" name="provider_contract_sponsor" ng-model="contract.provider_contract_sponsor">
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2 p0">
                                <div class="col-sm-2">
                                    <label>{{'contract.manager' | translate}}</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" maxlength="30" name="relationship_manager" ng-model="contract.internal_partner_relationship_manager">
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" maxlength="30" name="partner_contract" ng-model="contract.provider_partner_relationship_manager">
                                    <!--<span class="error-message" ng-if="contractForm.partner_contract.$error.required && contractForm.$submitted">{{'general.required_field' |translate}}</span>-->
                                </div>
                            </div>
                            <div class="col-sm-12 p0">
                                <div class="col-sm-2">
                                    <label>{{'contract.contract_responsible' | translate}}</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" maxlength="30" name="contract_responsible" ng-model="contract.internal_contract_responsible">
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" maxlength="30" name="provider_contract_responsible" ng-model="contract.provider_contract_responsible">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <h6 class="form-group border-b">
                            <label class="f16">{{'attachment.attachments' | translate}} :</label>
                        </h6>
                        <div class="col-sm-12 m-t-3 form-group p0">
                            <attachment-files ng-model="file.attachment"></attachment-files>
                            <attachment-list-template get-data="contract.attachment" ng-model="file.delete"></attachment-list-template>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-12 text-center m-t-3">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-dot-circle-o"></i> {{bottom | translate}}</button>
                            <button type="button" ng-click="cancel()" class="btn btn-sm btn-danger">
                                <i class="fa fa-ban"></i> {{'general.cancel' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>