<div class="animated fadeIn">
    <div class="card-group col-lg-12 p0 files-details">
        <div class="row">
            <div class="col-lg-12 p0 large-widget">
                <table class="table table-custom table-striped table-hover" st-pipe="getFileList" st-table="FileList">
                    <thead>
                        <tr>
                            <th style="width: 33.33%;" class="hand-symbol">File Name</th>
                            <th style="width: 33.33%;" class="hand-symbol">User</th>
                            <th style="width: 33.33%;" class="hand-symbol">Date</th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in FileList">
                            <td class="bold">{{row.document_name | translate}}</td>
                            <td>{{row.user_name | checkEmpty}}</td>
                            <td>{{row.date | checkEmpty}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="3" class="text-center">{{'general.loading' | translate}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-show="emptyTable">
                        <tr>
                            <td colspan="3" class="text-sm-center">{{'general.no_data' | translate}}</td>
                        </tr>
                    </tbody>
                    <tfoot class="body-bg">
                        <tr>
                            <td class="text-center" colspan="3">
                                <div st-pagination="" class="text-sm-center"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>