<div class="modal-header">
    <h6 ng-if="contractModuleTopics.contract_details[0].reaaer == 'itako'"
        class="modal-title" id="modal-title">{{'attachment.add_attach' | translate}}
        <a  ng-click="cancel()" title="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
    </h6>
    <h6 ng-if="contractModuleTopics.contract_details[0].reaaer != 'itako'"
        class="modal-title" id="modal-title1">{{'attachment.question_attach' | translate}}
        <a  ng-click="cancel()" uib-tooltip="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
    </h6>
</div>
<form novalidate name="questionFileForm" ng-submit="questionFileForm.$valid && addQuestionAttachemts(attachments)">
    <div class="modal-body clearfix">
        <div class="col-sm-12 m-t-3 form-group p0" ng-show="contractModuleTopics.contract_details[0].reaaer == 'itako'">
            <attachment-files ng-model="attachments"></attachment-files>
        </div>
        <div class="p-b-1">
            <p ng-if="questionAttachmentList.length>0" ng-repeat="a in questionAttachmentList">
                <a download="{{a.document_name}}" target="_blank" href="#" ng-click="getDownloadUrl(a)" download="{{a.document_name}}">
                    <i class="icon-arrow-down-circle f16"></i> {{a.document_name}}</a>
                <a class="gray" href="#">
                    <i ng-if="(a.daad == 'itako') && (contractModuleTopics.contract_details[0].reaaer == 'itako')" class="pull-right icon-trash m-t-1" uib-tooltip="{{'general.delete' | translate}}"
                       ng-click="deleteQuestionAttachment(a.id_document,a.document_name)"></i>
                </a>
                <span class="display-block f12 pl20">
                    <span class="gray">{{'attachment.uploaded_by' | translate}}:</span>&nbsp;<span>{{a.uploaded_user_name}}</span>
                    <span class="gray">{{'general.on' | translate}}:</span>&nbsp;<span>{{a.uploaded_on | utcToLocal:'date'}}</span>
                </span>
            </p>
            <p ng-show="!questionAttachmentList[0].document_name" class="text-sm-center">{{'attachment.no_files' | translate}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <div class="">
            <button class="btn btn-sm btn-primary" type="submit" ng-if="contractModuleTopics.contract_details[0].reaaer == 'itako' && user1.iroori != 'itako'" >
                <i class="icon-plus"></i>&nbsp;{{'attachment.upload' | translate}}</button>
            <button class="btn btn-sm btn-danger" type="button" ng-click="cancel()" >
                <i class="icon-times f12"></i>&nbsp;{{'general.cancel' | translate}}</button>
        </div>
    </div>
</form>
