<div class="animated fadeIn">
    <div class="row" ng-if="permission['edit']">
        <div class="col-md-12 user-profile p0">
            <div class="col-md-12 user-profile p0" ng-if="permission['edit']">
                <div class="card">
                    <div class="card-header">
                        <strong>{{'customer-login.profile.company_setup' | translate}}</strong>
                    </div>
                    <div class="card-block">
                        <form name="form" class="form-horizontal profile-form" ng-submit="form.$valid && updateComppany(customer)" novalidate>
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="control-label display-block">{{'Company Logo' | translate}}</label>
                                        <div class="image-wrap mt5 cursor-pointer" ngf-select="uploadCompanyLogo($file)"
                                             ngf-pattern="'image/*'">
                                            <img ngf-thumbnail="companyLogo" ng-show="companyLogo!=''" class="image-view" />
                                            <img ng-if="companyLogo==undefined || companyLogo==''" ng-model="customer.company_logo_medium"
                                                 ngf-thumbnail="customer.company_logo_medium || 'img/logowith.png'" class="image-view" alt="Image"/>
                                            <div class="image-actions"><i class="fa fa-pencil"></i></div>
                                        </div>
                                        <a ng-show='trash' uib-tooltip="Delete" href="javascript:;" class="delete-img" ng-click="LogoRemove()"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-10 p0 pt-2">
                                    <div class="form-group col-md-4 pl0">
                                        <label class="form-control-label">{{'customer.company_name' | translate}}</label>
                                            <input type="text" name="company_name" ng-model="customer.company_name"  class="form-control" placeholder="{{'customer.enter_company_name' | translate}}" required>
                                            <span class="error-message" ng-if="form.company_name.$error.required && form.$submitted"></span>
                                    </div>
                                    <div class="form-group col-sm-4 pl0">
                                        <label class=" form-control-label">{{'customer.company_address' | translate}} *</label>
                                        <input name="textarea-input" maxlength="50" ng-model="customer.company_address" rows="3" class="form-control" placeholder="{{'general.enter' | translate}} {{'company.company_address' | translate}}"/>
                                    </div>
                                    <div class="form-group col-sm-4 pl0">
                                        <label>{{'customer.postal' | translate}} *</label>
                                        <input type="text" class="form-control" maxlength="10" ng-model="customer.postal_code" name="postal_code" placeholder="{{'general.enter' | translate}} {{'customer.postal' | translate}}" required>
                                        <span class="error-message" ng-if="form.postal_code.$error.required && form.$submitted">{{'general.required_field' | translate}}</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-sm-4 pl0">
                                        <label>{{'user.profile.city' | translate}} *</label>
                                        <input type="text" class="form-control" maxlength="20" ng-model="customer.city" name="city" placeholder="{{'general.enter' | translate}} {{'customer.city' | translate}}" required>
                                        <span class="error-message" ng-if="form.city.$error.required && form.$submitted">{{'general.required_field' | translate}}</span>
                                    </div>
                                    <div class="form-group col-sm-4 pl0">
                                        <label >{{'customer.country' | translate}} *</label>
                                        <select class="form-control" name="country" ng-model="customer.country_id"  required
                                                ng-options="item.id_country as item.country_name for item in countriesList">
                                            <option value="">--{{'general.select_country' | translate}}--</option>
                                        </select>
                                        <span class="error-message" ng-if="form.country.$error.required && form.$submitted">{{'general.required_field' | translate}}</span>
                                    </div>
                                    <div class="form-group col-sm-4 pl0">
                                        <label>{{'customer.vat_no' | translate}} </label>
                                        <input type="text" class="form-control" maxlength="15" name="vat" ng-model="customer.vat_number" placeholder="{{'general.enter' | translate}} {{'customer.vat_no' | translate}}">
                                        <span class="error-message" ng-if="form.vat.$error.required && form.$submitted">{{'general.required_field' | translate}}</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-sm-10 p-t-3 text-sm-center">
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            <i class="fa fa-dot-circle-o"></i> {{bottom | translate}}
                                        </button>
                                        <!--<button type="button" class="btn btn-sm btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> {{'general.cancel' | translate}}</button>-->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>