<div class="animated fadeIn">
    <div class="row" ng-if="permission['update']">
        <div class="col-md-12 p0 basic-form" ng-if="permission['view']">
            <div class="card">
                <div class="card-header">
                    <strong>{{'user.cpassword.change_password' | translate}}</strong>
                </div>
                <div class="card-block">
                    <form class="form-horizontal profile-form" name="cpasswordForm" ng-submit="cpasswordForm.$valid && changePassword(userProfile)" novalidate>
                        <div class="form-group col-md-8">
                            <label class="col-md-3 form-control-label">{{'user.cpassword.opassword' | translate}}</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" ng-model="userProfile.oldPassword" name="oldPassword" placeholder="Old Password" required>
                                <div ng-if="cpasswordForm.oldPassword.$error.required && cpasswordForm.$submitted" class="error-message">{{'general.required_field'|translate}}</div>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-md-3 form-control-label">{{'user.cpassword.npassword' | translate}}</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" ng-model="userProfile.newPassword" name="newPassword"
                                       ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&()\-_.=+])[A-Za-z\d$@$!%*#?&()\-_.=+]{8,}$/"
                                       placeholder="New Password" maxlength="20" required>
                                <div ng-if="cpasswordForm.newPassword.$error.required && cpasswordForm.$submitted" class="error-message">{{'general.required_field'|translate}}</div>
                                <div ng-if="!cpasswordForm.newPassword.$error.required && cpasswordForm.newPassword.$error.pattern" class="error-message">
                                    <span class="clearfix">{{'user.cpassword.password_pattern'|translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-md-3 form-control-label">{{'user.cpassword.cpassword' | translate}}</label>
                            <div class="col-md-9">
                                <!--ng-class="{'has-danger': cpasswordForm.confirmPassword.$error.required && cpasswordForm.$submitted}"-->
                                <input type="password" class="form-control" ng-model="userProfile.confirmPassword"
                                       name="confirmPassword" placeholder="Confirm Password"  maxlength="20" minlength="8" required>
                                <span ng-if="cpasswordForm.confirmPassword.$error.required && cpasswordForm.$submitted" class="error-message">{{'general.required_field' |translate}}</span>
                            </div>
                        </div>
                        <div class="form-group col-md-8 text-xs-center" ng-if="permission['update']">
                            <button type="submit" class="btn btn-sm btn-primary">
                                {{'general.update' | translate}}
                            </button>
                            <!--<a type="button" class="btn btn-sm btn-danger" ui-sref="app.main">{{'general.cancel' | translate}}</a>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
