<div class="container d-table" id="loginPage">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card-group">
                    <div class="card p-2">
                        <div class="card-block">
                            <p><img src="img/logowith.png"></p>
                            <form class="form-group" name="fpasswordForm" ng-submit="fpasswordForm.$valid && forgotPassword(user)" novalidate>
                                <h1><span>{{'user.login.forgot_password' | translate}}</span></h1>
                                <div class="input-group mb-1 form-group">
                                    <input type="email" class="form-control" ng-model="user.email" name="email_id" placeholder="Email Address" required>
                                    <div ng-if="fpasswordForm.email_id.$error.required && fpasswordForm.$submitted" class="error-message">{{'general.enter_email' | translate}}</div>
                                    <div ng-if="fpasswordForm.email_id.$error.email && fpasswordForm.$submitted" class="error-message">{{'general.enter_valid_email' | translate}}</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="forgot-btns text-center">
                                    <button type="submit" class="btn btn-orange px-2">{{'general.send' | translate}}</button>
                                    <a type="button" href="#/login" class="btn btn-primary px-2">{{'general.cancel' | translate}}</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
