<div class="animated fadeIn">
    <div class="row" ng-if="permission['update']">
        <div class="col-md-12 user-profile p0" ng-if="permission['view']">
            <div class="card">
                <div class="card-header">
                    <strong>{{'user.profile.my_profile' | translate}}</strong>
                </div>
                <div class="card-block">
                    <form name="form" class="form-horizontal profile-form" ng-submit="form.$valid && updateProfile(user)" novalidate>
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <label class="control-label display-block">{{'Profile Photo' | translate}}</label>
                                    <div class="image-wrap mt5 cursor-pointer" ngf-select="uploadUserImage($file)"
                                         ngf-pattern="'image/*'" >
                                        <img ngf-thumbnail="userImage" ng-show="userImage!=''" class="image-view" />
                                        <img ng-show="userImage==undefined || userImage==''"
                                             ngf-thumbnail="user.profile_image || 'img/default-img.png'" class="image-view" alt="Image"/>
                                        <div class="image-actions"><i class="fa fa-pencil"></i></div>
                                    </div>
                                    <a ng-show='trash' uib-tooltip="Delete" href="javascript:;" class="delete-img" ng-click="userLogoRemove()"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                            <div class="col-md-10 p0 pt-2">
                                <div class="form-group col-md-6 pl0">
                                    <label class="col-md-3 form-control-label">{{'user.profile.f_name' | translate}} *</label>
                                    <div class="col-md-9">
                                        <input type="text" name="first_name" ng-model="user.first_name" class="form-control has-danger" placeholder="First Name" required>
                                        <span class="error-message" ng-if="form.first_name.$error.required && form.$submitted"></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 pl0">
                                    <label class="col-md-3 form-control-label">{{'user.profile.l_name' | translate}} *</label>
                                    <div class="col-md-9">
                                        <input type="text" name="last_name" ng-model="user.last_name"
                                               class="form-control" placeholder="Last Name" required>
                                        <span class="error-message" ng-if="form.last_name.$error.required && form.$submitted"></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 pl0">
                                    <label class="col-md-3 form-control-label">{{'user.profile.gender'| translate}} *</label>
                                    <div class="col-md-9">
                                        <label class="radio-inline mr-1" for="inline-radio2">
                                            <input type="radio" ng-model="user.gender" id="inline-radio2"
                                                   name="inline-radios" value="male"> {{'user.profile.male' |translate}}
                                        </label>
                                        <label class="radio-inline" for="inline-radio1">
                                            <input type="radio" ng-model="user.gender" id="inline-radio1"
                                                   name="inline-radios" value="female"> {{'user.profile.female' | translate}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 pl0">
                                    <label class="col-md-3 form-control-label">{{'user.profile.email' |translate}} *</label>
                                    <div class="col-md-9">
                                        <input type="email" name="email" ng-model="user.email" class="form-control" required>
                                        <!--<span class="error-message" ng-if="form.email.$error.required && form.$submitted"></span>-->
                                        <span ng-if="form.email.$error.email && form.$submitted" class="error-message">{{'general.enter_valid_email' |translate}}</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-10 text-xs-center pt-2" ng-if="permission['update']">
                                    <button type="submit" class="btn btn-sm btn-primary">{{'general.update' | translate}}</button>
                                    <!--<a type="button" class="btn btn-sm btn-danger" ui-sref="app.main">{{'general.cancel' | translate}}</a>-->
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>