<div class="edit-customer">
    <div class="col-sm-12 p0">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <strong>{{title | translate}} {{'user.user' | translate}}</strong>
                </div>
                <div class="card-block">
                    <form novalidate name="customUserForm" ng-submit="customUserForm.$valid && addUser(customUser)">
                        <div class="form-group col-sm-4">
                            <label>{{'user.profile.f_name' | translate}} *</label>
                            <input type="text" class="form-control" name="first_name" ng-model="customUser.first_name" placeholder="{{'general.enter' | translate}} {{'user.profile.f_name' | translate}}" required>
                            <span class="error-message" ng-if="customUserForm.first_name.$error.required && customUserForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{{'user.profile.l_name' | translate}} *</label>
                            <input type="text" class="form-control" name="last_name" ng-model="customUser.last_name" placeholder="{{'general.enter' | translate}} {{'user.profile.l_name' | translate}}" required>
                            <span class="error-message" ng-if="customUserForm.last_name.$error.required && customUserForm.$submitted">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{{'user.profile.email' |translate}} *</label>
                            <input type="email" class="form-control"  name="email" ng-model="customUser.email" placeholder="{{'general.enter' | translate}} {{'user.profile.email' | translate}}" required>
                            <span class="error-message" ng-if="customUserForm.email.$error.required && customUserForm.$submitted">{{'general.required_field' |translate}}</span>
                            <span ng-if="customUserForm.email.$error.email && customUserForm.$submitted" class="error-message">{{'general.enter_valid_email' |translate}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-4">
                            <label >{{'customer.admin.role' | translate}} *</label>
                            <!--ng-change="customUser.business_unit=(customUser.user_role_id.access=='bo' || customUser.user_role_id.access=='bd')?[]:customUser.business_unit"-->
                            <select class="form-control"  ng-model="customUser.user_role_id" name="user_role" required
                                    ng-options="item as item.user_role_name for item in userRoles track by item.id_user_role">
                                <option value="">--{{'general.select' | translate}}--</option>
                            </select>
                            <span ng-if="customUserForm.user_role.$error.required && customUserForm.$submitted" class="error-message">{{'general.required_field' |translate}}</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label >{{'general.status' | translate}} *</label>
                            <select class="form-control"  ng-model="customUser.user_status" ng-init="customUser.user_status = (customUser.user_status =='')?'0':'1'" required>
                                <option value="">-{{'general.select' | translate}}--</option>
                                <option value="1">{{'general.active' | translate}}</option>
                                <option value="0">{{'general.inactive' | translate}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="form-control-label">{{'user.profile.gender'| translate}}</label>
                            <div class="" ng-init="customUser.gender = (customUser.gender=='')?'female':'male'">
                                <label class="radio-inline mr-1">
                                    <input type="radio" ng-model="customUser.gender" name="gender" value="male"> {{'user.profile.male' | translate}}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="customUser.gender" name="gender" value="female"> {{'user.profile.female' | translate}}
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <!--<div class="form-group col-sm-4" ng-if="(customUser.access=='wa' || customUser.access=='ca' || customUser.access=='bo' || customUser.access=='bd')">-->
                        <!--<div class="form-group col-sm-4" ng-show="(customUser.user_role_id.access=='bo' || customUser.user_role_id.access=='bd')">-->
                        <div class="col-sm-4 p0">
                        <div class="col-sm-12" ng-init="customUser.is_allow_all_bu=customUser.is_allow_all_bu=='1'?1:0"  ng-if="customUser.user_role_id.access=='ro'">
                            <label class="checkbox" for="is_allow_all_bu">Show All Business Units
                                <input type="checkbox" name="inline-checkbox1" id="is_allow_all_bu"
                                       ng-true-value="1" ng-false-value="0"
                                       ng-model="customUser.is_allow_all_bu" ng-change="changeBussinessUnit()">
                                <!--customUser.is_allow_all_bu=customUser.is_allow_all_bu?'1':'0'-->
                            </label>
                        </div>
                        <div class="form-group col-sm-12" ng-hide="customUser.is_allow_all_bu=='1'" ng-show="customUser.user_role_id.access!='ro' || customUser.is_allow_all_bu=='0'">
                            <label >{{'bussiness.bussiness_unit' | translate}} *</label>
                            <select class="form-control" name="business_unit" ng-model="customUser.business_unit" multiple
                                ng-options="item.id_business_unit as item.bu_name disable when item.iobuuboi=='itako' for item in bussinessUnit" ng-required="customUser.is_allow_all_bu=='0' || customUser.user_role_id.access!='ro'">
                                <option value="">-{{'general.select' | translate}}--</option>
                            </select>
                            <span ng-if="customUserForm.business_unit.$error.required && customUserForm.$submitted" class="error-message">{{'general.required_field' |translate}}</span>
                        </div>
                        </div>

                        <div class="col-sm-4" ng-show="!user_id">
                            <div class="col-sm-5 p0" ng-init="customUser.is_manual=0">
                                <label class="checkbox" for="is_manual"> Manual password
                                    <input type="checkbox" name="inline-checkbox1" id="is_manual"
                                           ng-model="customUser.is_manual" ng-true-value="1"
                                           ng-false-value="0">
                                </label>
                            </div>
                            <div ng-show="customUser.is_manual" class="form-group col-sm-7 p0">
                                <label class="form-control-label">{{'user.profile.password' | translate}} *</label>
                                <input type="text" class="form-control" name="password2010" ng-model="customUser.password"
                                       ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&()\-_.=+])[A-Za-z\d$@$!%*#?&()\-_.=+]{8,}$/"
                                       placeholder="{{'user.profile.password' | translate}}" maxlength="20" ng-required="customUser.is_manual">
                                <span ng-if="customUserForm.password2010.$error.required && customUserForm.$submitted" class="error-message">{{'general.required_field'|translate}}</span>
                                <div ng-if="!customUserForm.password2010.$error.required && customUserForm.password2010.$error.pattern" class="error-message">
                                    <span class="clearfix">{{'user.cpassword.password_pattern'|translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 text-center">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-dot-circle-o"></i> {{bottom | translate}}</button>
                            <button type="button" ng-click="cancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{'general.cancel' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card" ng-show="user_id">
                <div class="card-header">
                    <strong>{{'user.cpassword.change_password' | translate}}</strong>
                </div>
                <div class="card-block">
                    <form name="passwordForm" novalidate ng-submit="passwordForm.$valid && resetPassword(userPwd)">
                        <div class="col-sm-12 p0 reset-psd">
                            <div class="form-group col-sm-4">
                                <label class="form-control-label">{{'user.cpassword.npassword' | translate}} *</label>
                                <input type="password" class="form-control" name="npassword" ng-model="userPwd.npassword"
                                       ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&()\-_.=+])[A-Za-z\d$@$!%*#?&()\-_.=+]{8,}$/"
                                       placeholder="New Password" maxlength="20" minlength="8" required>
                                <span ng-if="passwordForm.npassword.$error.required && passwordForm.$submitted" class="error-message">{{'general.required_field'|translate}}</span>
                                <div ng-if="!passwordForm.npassword.$error.required && passwordForm.npassword.$error.pattern" class="error-message">
                                    <span class="clearfix">{{'user.cpassword.password_pattern'|translate}}</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="form-control-label">{{'user.cpassword.cpassword' | translate}} *</label>
                                <input type="password" class="form-control" name="cpassword" ng-model="userPwd.cpassword"
                                       placeholder="Confirm Password"  maxlength="20" minlength="8" required>
                                <span ng-if="passwordForm.cpassword.$error.required && passwordForm.$submitted" class="error-message">{{'general.required_field' |translate}}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-sm-4">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa fa-dot-circle-o"></i> {{'general.reset'|translate}}
                                </button>
                                <button type="button" ng-click="cancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{'general.cancel'|translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>