<div class="animated fadeIn">
    <div class="col-sm-12 p0">
        <div class="row">
            <table class="table table-custom table-striped table-hover" st-pipe="callServer" st-table="usersList">
                <thead>
                    <tr>
                        <td colspan="6">
                            <div class="form-group clearfix col-sm-3 p0 template-filter mb-3 " style="top: -3px;">
                                <select class="form-control" name="business_unit" ng-model="business_unit_id" st-input-event="change" st-search="business_unit_id"
                                    ng-options="item.id_business_unit as item.bu_name for item in bussinessUnit">
                                    <option value="">--{{'general.select' | translate}}--</option>
                                </select>
                                <span ng-if="userForm.business_unit.$error.required && userForm.$submitted" class="error-message">{{'general.required_field' |translate}}</span>
                            </div>
                            <div class="col-sm-12 clearfix p0">
                                <div class="action-head mb0">
                                    <span class="pull-right ml-h" ng-show="(user.access=='wa' || user.access=='ca' || user.access=='bo' || user.access=='bd')">
                                        <button class="btn btn-sm btn-primary" ng-click="showForm()" type="button">
                                            <i class="icon-plus"></i>&nbsp; {{'general.ADD' | translate}}
                                        </button>
                                    </span>
                                    <div class="col-sm-3 p0 table-search pull-right">
                                        <input type="text" class="form-control" placeholder="{{'general.search' | translate}}" st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th st-sort="name">{{'customer.admin.name' | translate}}</th>
                        <th st-sort="bu_name">{{'customer.admin.business_unit' | translate}}</th>
                        <th st-sort="email">{{'user.profile.email' | translate}}</th>
                        <th st-sort="user_role_name">{{'customer.admin.role' | translate}}</th>
                        <th st-sort="user_status">{{'general.status' | translate}}</th>
                        <th class="hand-symbol">{{'general.actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody ng-show="!isLoading">
                    <tr ng-repeat="row in usersList">
                        <td>{{row.name}}</td>
                        <td>
                            <span href="javascript:;" style="padding-left: 5px;" ng-if="!row.bu_name[0]">---</span>
                            <a>{{row.bu_name[0]}}</a>
                            <!-- href="javascript:;" target="_blank" ui-sref="app.bussiness_unit.edit({id:({{row.business_unit_id[0]}} | encode)})"-->
                            <span ng-if="row.bu_name[1]">..</span>
                            <a ng-if="row.bu_name[1]" href="javascript:;" class="icon-plus-circle gray ml-h" uib-popover-template="dynamicPopover.templateUrl"
                                popover-placement="right" popover-trigger="'outsideClick'" class="btn btn-default"></a>
                        </td>
                        <td>{{row.email}}</td>
                        <td>{{row.user_role_name}}</td>
                        <td>
                            <span ng-if="row.user_status == 1" class="green">{{'general.active' | translate}}</span>
                            <span ng-if="row.user_status == 0" class="red">{{'general.inactive' | translate}}</span>
                        </td>
                        <td>
                            <a href="javascript:;" ng-show="(user.access=='wa' || user.access=='ca' || user.access=='bo' || user.access=='bd')" class="icon-edit mr-1 gray"
                                ng-click="showForm(row)" title="Edit"></a>
                            <a href="javascript:;" ng-if="(!parent_user) && (user.access=='ca')" class="mr-1 icon-users4 gray" n-t='{"valid":"true","m_t":"login","a_n":"Login As","a_d":"Login$$as$${{row.name}}"}'
                                ng-click="loginAsAdmin(row)" title="{{'customer.admin.login_as' | translate}} {{row.name}}"></a>
                            <a ng-if="row.is_blocked == 1" href="javascript:;" ng-click="unblock(row)" n-t='{"valid":"true","m_t":"login","a_n":"Unblock user","a_d":"Login$$as$${{row.name}}"}'
                                class="mr-1 icon-ban red" title="Unblock User"></a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="mc.isLoading">
                    <tr>
                        <td colspan="8" class="text-center">{{'general.loading' | translate}}</td>
                    </tr>
                </tbody>
                <tbody ng-show="emptyTable">
                    <tr>
                        <td colspan="8" class="text-sm-center">{{'general.no_data' | translate}} </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" colspan="8">
                            <div st-pagination="" class="text-sm-center"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- <div class="row">
            <div class="col-md-5 offset-md-4">
                <div class="clearfix">
                    <h1 class="float-xs-left display-3 mr-2">404</h1>
                    <h4 class="pt-1">{{'404.oops_lost' | translate}}</h4>
                    <p class="text-muted">{{'404.page_not_found' | translate}}</p>
                </div>
            </div>
        </div>-->
    </div>
</div>
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="" ng-repeat="item in row.bu_name" ng-if=" item != row.bu_name[0]">
        <span>{{item}}</span>
    </div>
</script>