<div class="animated fadeIn">
    <div class="row" >
        <div class="col-lg-12 p0 contract-overview">
            <div class="card" st-pipe="ActionItemsTable" st-table="ActionItemsList">
                <div class="col-sm-12 tableSelect-header" >
                    <div class="form-group col-sm-2 p0 pr-1 custom-field">
                        <!--<label class="col-sm-3 p0 mb-0 pt4">{{'contract.filter' | translate}}:</label>-->
                        <!--<div class="col-sm-8 p0">-->
                            <select class="form-control" id="select1" name="select1" size="1" ng-model="provider_name"
                                    ng-class="(provider_name)?'active-filter':''"
                                    st-input-event="change"
                                    st-search="provider_name"
                                    ng-options="item.provider_name as item.provider_name for item in providers">
                                <option value="">-- {{'contract.provider' | translate}} --</option>
                            </select>
                        <!--</div>-->
                    </div>
                    <div class="form-group col-sm-2 custom-field pr-1 p0">
                        <select class="form-control" id="select2" name="select2" size="1" ng-model="contract_id"
                                ng-class="(contract_id)?'active-filter':''"
                                st-input-event="change"
                                st-search="contract_id"
                                ng-options="item.contract_id as item.contract_name for item in contracts">
                            <option value="">-- {{'contract.contract' | translate}} --</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-2 custom-field p0">
                        <select class="form-control" id="select3" name="select3" size="1" ng-model="item_status"
                                ng-class="(item_status)?'active-filter':''"
                                st-input-event="change"
                                st-search="item_status">
                            <option value="">-- {{'contract.status' | translate}} --</option>
                            <option value="all">{{'contract.all' | translate}}</option>
                            <option value="completed">{{'contract.completed' | translate}}</option>
                            <option value="open">{{'contract.open' | translate}}</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-2 custom-field pr0">
                        <label>
                            <input type="checkbox" ng-model="show_my_action_items"
                                   ng-true-value="1" ng-change="showMyActionItems(show_my_action_items)"
                                   ng-false-value="0" name="my_action_items"
                                   ng-checked="false"/>
                            {{'contract.show_my_items_check' | translate}}
                        </label>
                    </div>
                    <div class="col-sm-3 p0 table-search pull-right " style="padding-bottom: 3px; padding-right: 2px;">
                        <input type="text" class="form-control" placeholder="{{'general.search' | translate}}"
                               st-search="search_key">
                        <i class="fa icon-search" style="padding-top: 0px;"></i>
                    </div>
                </div>
                <table class="table table-custom table-striped table-hover action-items-table">
                    <thead>
                        <tr>
                            <!--<th width="4%"></th>-->
                            <th st-sort="action_item">{{'contract.action_item' | translate}}</th>
                            <!--<th width="14%">{{'contract.description' | translate}}</th>-->
                            <!--<th style="max-width: 100px;" st-sort="provider_name">{{'contract.provider' | translate}}</th>-->
                            <!--<th style="max-width: 100px;" st-sort="contract_name">{{'contract.contract' | translate}}</th>-->
                            <th style="max-width: 100px;" st-sort="user_name">{{'contract.responsible' | translate}}</th>
                            <!--<th style="max-width: 100px;" st-sort="created_by_name">{{'contract.created_by' | translate | capitalize}}</th>-->
                            <!--<th style="max-width: 100px;" st-sort="created_on">{{'contract.created_date' | translate}}</th>-->
                            <th style="max-width: 100px;" st-sort="due_date">{{'contract.due_date' | translate}}</th>
                            <th style="max-width: 100px;" st-sort="status">{{'contract.status' | translate}}</th>
                            <!--<th>{{'general.actions' | translate}}</th>-->
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in ActionItemsList">
                            <!--<td></td>-->
                            <td class="w800">
                                <p class="mb-0">
                                    <span class=" ellipis w800 lh16 display-block">
                                        <a class="skyblue" href="javascript:;"
                                           title="{{row.action_item}}"
                                           ng-click="updateContractReview(row,'view')">{{row.action_item}}
                                        </a>
                                    </span>
                                </p>
                                <p class="mb-0">
                                    <span class="ellipis w800 lh16 f12 gray display-block" uib-tooltip="{{row.module_name}} / {{row.topic_name}} / {{row.question_text}}">
                                    {{row.module_name}} / {{row.topic_name}}
                                        <span ng-if="row.question_text!='-'">/
                                            <a ng-click="goToQuestion(row)" class="skyblue" href="javascript:;">{{row.question_text}}</a>
                                        </span>
                                    </span>
                                </p>
                                <p class="mb-0">
                                    <span class="ellipis w800 lh16 f12 gray display-block" uib-tooltip="{{row.provider_name}} / {{row.contract_name}}">
                                    {{row.provider_name}} / {{row.contract_name}}</span>
                                </p>

                            </td>
                            <!--<td><span class="ellipis display-block w100" uib-tooltip="{{row.description}}">{{row.description}}</span></td>-->
                            <!--<td><span class="ellipis w100" uib-tooltip="{{row.provider_name}}">{{row.provider_name}}</span></td>-->
                            <!--<td><span class="ellipis w100" uib-tooltip="{{row.contract_name}}">{{row.contract_name}}</span></td>-->
                            <td><span class="ellipis w150 orange" uib-tooltip="{{row.user_name}}">{{row.user_name}}</span></td>
                            <!--<td><span class="ellipis w100" uib-tooltip="{{row.created_by_name}}">{{row.created_by_name}}</span></td>-->
                            <!--<td><span class="ellipis w100" uib-tooltip="{{row.created_on}}">{{row.created_on | utcToLocal:'date'}}</span></td>-->
                            <td><span class="w100" style="white-space: nowrap;">{{row.due_date | utcToLocal:'date'}}</span></td>
                            <td><span>{{row.status}}</span><!--<span class="ml-0 pull-right">
                                    <a  href="javascript:;"
                                        ng-click="updateContractReview(row,'view')"
                                        class="icon-eye gray" uib-tooltip="{{'general.view' | translate}}"></a>&nbsp;
                                </span>--></td>
                    </tr>
                    </tbody>
                    <tbody ng-show="mc.isLoading">
                        <tr><td colspan="8" class="text-center">{{'general.loading' | translate}}</td></tr>
                    </tbody>
                    <tbody ng-show="emptyTable">
                        <tr><td colspan="8" class="text-sm-center">{{'general.no_data' | translate}} </td></tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" colspan="8">
                                <div st-pagination="" class="text-sm-center"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!--<div class="row" ng-if="!permission['list']">
        <div class="col-md-5 offset-md-4">
            <div class="clearfix">
                <h1 class="float-xs-left display-3 mr-2">404</h1>
                <h4 class="pt-1">{{'404.oops_lost' | translate}}</h4>
                <p class="text-muted">{{'404.page_not_found' | translate}}</p>
            </div>
        </div>
    </div>-->
</div>